= bootstrap_form_for [:admin, @page], layout: :vertical do |f|
  %fieldset
    ~ f.text_area :content, rows: 40, skip_label: true, class: 'monospace input-sm'
  %fieldset.actions
    = f.form_group do
      = f.primary

:coffee
  $content = $('#page_content')[0]
  cm = CodeMirror.fromTextArea $content,
    mode: 'text/html'
    lineWrapping: true
