= render partial: 'form'
- if @page.can_have_content?
  = render partial: 'admin/pictures/edit_collection', object: @page, as: :pictureable
  = render partial: 'admin/pictures/dropzone', object: @page, as: :pictureable
