%li.dd-item{data: {id: page.id}, class: [page.can_have_children? || 'dd-nochildren', "dd-item-#{page.appearance}"]}
  - if page.movable?
    .dd-handle= drag_handle
  .dd-content[page]
    = render partial: 'item', object: page, as: :page
  - if page.children_count > 0
    %ol.dd-list
      = render partial: 'page', collection: page.children
