- if !@page.new_record? && @page.wysiwyg?

  #wysiwyg-content.wysiwyg-content><
    = @page.content.html_safe if @page.content.present?

  :coffee
    $(document).on 'submit', 'form', (e) ->
      $('#page_content').val $('#wysiwyg-content').gridEditor('getHtml')

    $('#wysiwyg-content').gridEditor
      row_classes: []
      col_classes: []
      content_types: ['summernote']
      summernote:
        config:
          lang: '#{Store.culture_options[I18n.locale]}'
          popover:
            air: [
              ['para', ['style', 'ul', 'ol', 'paragraph']]
              ['font', ['bold', 'italic', 'clear']]
              ['insert', ['table', 'hr', 'link', 'picture', 'video']]
            ]
            image: [
              ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']]
              ['float', ['floatLeft', 'floatRight', 'floatNone']]
              ['remove', ['removeMedia']]
            ]
            link: [
              ['link', ['linkDialogShow', 'unlink']]
            ]
          dialogsFade: true
          callbacks:
            onInit: ->
              console.log('Summernote fired up!')
