$("#{j render partial: 'page', object: @page}").appendTo('#page-list > .dd-list');
$("##{dom_id(@page)}").closest('.dd-item').addClass('active');
$('#page-form').html("#{j render partial: 'admin/pages/edit'}");
$('#page-form').initialize();
var scroll = new SmoothScroll('#content-wrap', {header: '#main-nav'});
scroll.animateScroll($('##{dom_id(@page)}')[0], null, {speed: 300});
