#section-list.section-list.sortable{data: {sections: @page.sections.map { |section| preload_admin_section_path(section) }.as_json}}
  = render partial: 'admin/sections/loader', collection: @page.sections, as: :section

- content_for :secondary_nav do
  .container
    = render partial: 'admin/pages/navbar_controls', object: @page, as: :page
    .navbar-toolbar

:coffee
  $('.segment-controls').hide()

  for section in $('#section-list').data 'sections'
    $.get section

  $('#section-list').sortable(
    items: '> .section-list-item'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    forcePlaceholderSize: true
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    if $(e.target).hasClass 'section-list'
      $.post '#{reorder_admin_page_sections_path(@page)}',
        {reorder: $(this).sortable('toArray')}

  $(document).on 'pictureable:added pictureable:changed pictureable:removed pictureable:reordered documentable:added documentable:removed documentable:reordered', ->
    $('#editor-panel').find('form.triggered').trigger 'submit.rails'

  $('#content-wrap').on 'click', ->
    $('.section, .column, .segment').removeClass 'active';
    $('#editor-panel').destroySelectized();
    $('#side-panel').removeClass 'open'

  $('#side-panel').on 'hidden.offcanvas', (e) ->
    $('.section, .column, .segment').removeClass('active');
