#section-list.section-list.sortable{data: {sections: @page.sections.map { |section| preload_admin_section_path(section) }.as_json}}
  = render partial: 'admin/sections/loader', collection: @page.sections, as: :section

- content_for :secondary_nav do
  .container
    = render partial: 'admin/pages/navbar_controls', object: @page, as: :page
    .navbar-toolbar

:coffee
  $('#section-list').preloadSections()

  $('#section-list').sortable(
    items: '> .section-list-item'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    forcePlaceholderSize: true
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    if $(e.target).hasClass 'section-list'
      $.post '#{reorder_admin_page_sections_path(@page)}',
        {reorder: $(this).sortable('toArray')}

  startLayout()
