$("#{j render partial: 'admin/custom_values/edit_row', object: @custom_value, as: :custom_value}").appendTo($('#custom_values'));
$('.sortable').sortable();
$('#new_custom_value #custom_value_value').val('');
