.list-group-item
  .media
    .media-left
      %a.image-link{href: product_image.image.url(:large)}
        = image_tag product_image.image.url(:thumb), class: 'media-object'
    .media-body
      %dl.dl-horizontal
        %dt File name:
        %dd= product_image.image_file_name
        %dt File size:
        %dd= number_to_human_size(product_image.image_file_size)
