/*
 * Brand specific styles targeting the element .brand
 * and its descendants.
 */

.tikkurila {
  padding-top: $navbar-height;
  padding-bottom: 200px;

  .navbar {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));

    .navbar-brand img {
      margin-top: -2px;
    }
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }

  .categories {
    @extend .clearfix;
    margin: 0 -30px 20px;
    padding: 20px 15px 0;
    background: $gray;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

    .category {
      display: inline-block;
      width: 12.5%;
      min-width: 100px;
      height: 10%;
      padding: 0 10px;

      a {
        outline: 0;
        text-decoration: none;
      }
      .thumbnail {
        max-width: 200px;
        transition: all 0.2s ease-in-out 0s;

        .caption {
          font-size: $font-size-small;
        }
      }
    }
    .category.active .thumbnail {
      transform: translate(0, -8px) rotateZ(-2.5deg);
      @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.8));
    }
  }

  .products {
    @extend .col-md-10;
    @extend .col-md-offset-1;

    .product {
      @extend .col-sm-6;
      @extend .col-lg-3;

      a {
        max-width: 210px;
        padding: 5px;
        @extend .center-block;
      }
      img {
        @extend .img-thumbnail;
      }
    }
  }

  .product-detail {
    @extend .row;

    .product-title {
      @extend .col-xs-12;
      @extend .page-header;
    }

    .product-description {
      @extend .col-md-2;
    }

    .images.technical {
      @extend .col-md-offset-1;
      @extend .col-md-2;

      img {
        @extend .img-responsive;
      }
    }
    .images.presentational {
      @extend .col-md-offset-1;
      @extend .col-md-6;

      img {
        @extend .img-responsive;
      }
    }
  }
}
