/*
 * Brand specific styles targeting the element .brand
 * and its descendants.
 */

.tikkurila {
  padding-top: $navbar-height;
  padding-bottom: 120px;
  overflow-y: scroll;

  .navbar {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  .categories {
    @extend .clearfix;
    margin: 0 -1*$grid-gutter-width 20px;
    padding: 20px $grid-gutter-width/2 0;
    background: $gray;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

    .category {
      display: inline-block;
      width: 12.5%;
      min-width: 100px;
      max-width: 180px;
      height: 10%;
      padding: 0 10px;

      a {
        @extend .thumbnail;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
      }
      p {
        margin: 0.5em 0.25em 0;
        font-size: $font-size-small;
      }
    }
    .category.active a {
      transform: translate(0, -8px) rotateZ(-2.5deg);
      @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.8));
    }
  }

  .products {
    @extend .row;

    .product {
      @extend .col-sm-4;
      @extend .col-lg-2;

      a {
        display: block;

        img {
          @extend .img-thumbnail;
        }
        h4 {
          font-size: $font-size-base;
        }
      }
    }
  }

  .product-detail {
    @extend .clearfix;
    position: relative;
    z-index: $zindex-navbar;
    margin: 0 -1*$grid-gutter-width;
    padding: 0 $grid-gutter-width/2 30px;
    background: $body-bg;

    .product-actions {
      @extend .pull-right;

      .form-inline {
        display: inline-block;

        input#amount {
          width: 70px;
        }
      }
    }

    .product-title {
      @extend .page-header;
      margin-top: 0;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;

      .product-code {
        font-size: $font-size-large;
        vertical-align: middle;
      }
    }

    .product-description {
      @extend .col-sm-2;
    }

    .images {
      .nav {
        @extend .col-sm-1;
        @extend .nav-stacked;
      }

      img {
        @extend .img-responsive;
      }
    }

    .images.technical {
      .tab-content {
        @extend .col-sm-2;
      }
    }
    .images.presentational {
      .tab-content {
        @extend .col-sm-6;
      }
    }
  }
}
