/*
 * Brand specific styles targeting the element .brand
 * and its descendants.
 */

.tikkurila {
  padding-top: $navbar-height;
  padding-bottom: 120px;
  overflow-y: scroll;

  .navbar {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }

  .categories {
    @extend .clearfix;
    margin: 0 -30px 20px;
    padding: 20px 15px 0;
    background: $gray;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

    .category {
      display: inline-block;
      width: 12.5%;
      min-width: 100px;
      max-width: 180px;
      height: 10%;
      padding: 0 10px;

      a {
        @extend .thumbnail;
        outline: 0;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
      }
      p {
        margin: 0.5em 0.25em 0;
        font-size: $font-size-small;
      }
    }
    .category.active a {
      transform: translate(0, -8px) rotateZ(-2.5deg);
      @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.8));
    }
  }

  .products {
    @extend .row;

    .product {
      @extend .col-sm-4;
      @extend .col-lg-2;

      a {
        display: block;

        img {
          @extend .img-thumbnail;
        }
        h4 {
          font-size: $font-size-base;
        }
      }
    }
  }

  .product-detail {
    @extend .row;
    position: relative;
    z-index: $zindex-navbar;
    margin: 0 -30px;
    padding: 0 15px 30px;
    background: $body-bg;

    .product-title {
      @extend .col-xs-12;
      @extend .page-header;
      margin-top: 0;
    }

    .product-description {
      @extend .col-md-2;
    }

    .images.technical {
      @extend .col-md-offset-1;
      @extend .col-md-2;

      img {
        @extend .img-responsive;
      }
    }
    .images.presentational {
      @extend .col-md-offset-1;
      @extend .col-md-6;

      img {
        @extend .img-responsive;
      }
    }
  }
}
