= bootstrap_form_for [:admin, @album], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :title, required: true
        ~ f.text_area :description
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
