$("#{j render partial: 'admin/iframes/edit_row', object: @iframe, as: :iframe}").appendTo('#iframes-tbody');
$("##{dom_id(@iframe)}").initialize();
$("##{dom_id(@iframe)}").effect('highlight');

$('.sortable').sortable();

$('#new_iframe #iframe_html').val('');
