.modal-dialog.modal-lg
  .modal-content
    .modal-header.hidden-print
      %button.close{data: {dismiss: 'modal'}}= icon('close')
      %h4.modal-title= t('.title')
    = render partial: 'modal_form'
    .processing
      .spinner-wrapper
        .preloader-wrapper.active
          .spinner-layer.spinner-blue-only
            .circle-clipper.left
              .circle
            .gap-patch><
              .circle
            .circle-clipper.right
              .circle


  :coffee
    $('#style-modal form').on 'submit', ->
      $('#style-modal .processing').show()
