.table-responsive
  %table.table.table-hover{class: order.reveal_prices? ? 'table-loose' : 'table-condensed'}
    %thead
      %tr
        %th.col-min
        %th.col-xs-3{colspan: 2}= col(OrderItem, :product_code)
        %th= col(OrderItem, :product_title)
        %th.col-xs-2.text-right #
        - if order.reveal_prices?
          %th.col-xs-2.text-right à

    = render partial: 'admin/order_items/edit_row', collection: order.order_items, as: :order_item
