.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-xs-1
        %th.col-xs-2 Product code
        %th Product title
        %th.col-xs-2.text-right #

    %tbody
      = render partial: 'admin/order_items/row', collection: order.order_items, as: :order_item
