$('#order-items-table').replaceWith("#{j render partial: 'admin/order_items/edit_table', object: @order, as: :order}");
$('#admin-order-item-form').replaceWith("#{j render partial: 'admin/order_items/new', object: @order, as: :order}");
$("##{dom_id(@order_item)}").effect('highlight');
