$("##{dom_id(@order_item)}").replaceWith("#{j render partial: 'admin/order_items/edit_row', object: @order_item, as: :order_item}");
- if @order_item.valid?
  $('#grand-total').replaceWith("#{j render partial: 'admin/orders/grand_total', object: @order_item.order, as: :order}")
  $('#grand-total').show()
  $("##{dom_id(@order_item)}").effect('highlight');
- else
  $('#grand-total').hide()
