%p
  %button.btn.btn-default{data: {toggle: 'modal', target: '#detail-page-modal'}}
    = icon('info', detail_page.title)
%hr

#detail-page-modal.modal.fade{data: {backdrop: 'static'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}= icon('close')
        %h4.modal-title= detail_page.title
      .modal-body
        = detail_page.content.html_safe
