/*
 * Store specific styles targeting the element .slug
 * and its descendants.
 */

.int {
  overflow-y: scroll;

  .categories {
    margin-bottom: 20px;

    .category {
      display: inline-block;
      width: 16.67%;
      min-width: 150px;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        @extend .thumbnail;
        display: block;
        margin: 0;
        padding: 5px 10px;
        outline: 0;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;

        img {
          display: none;
        }

        p {
          margin: 0;
        }
      }
    }
    .category.active a {
      @include box-shadow(0 0 3px 0 $brand-primary);
    }
  }

  .products {

    .product {
      display: inline-block;
      width: 16.67%;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        display: block;

        img {
          @extend .img-thumbnail;
        }
        h3 {
          font-size: $font-size-base;
          margin-top: 0.5em;
          margin-bottom: 0.25em;
        }
        h4 {
          margin-top: 0;
          font-size: $font-size-small;
        }
      }
    }
  }

  .product-detail {
    @extend .row;

    .product-actions {
      @extend .pull-right;
      margin-top: 6px;

      .form-inline {
        display: inline-block;

        input#amount {
          width: 70px;
        }
      }
    }

    .product-title {
      @extend .page-header;
      margin-top: 0;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    .product-description {
      @extend .col-sm-4;

      .product-code {
        margin-bottom: 10px;
      }
    }

    .images {
      position: relative;
      padding-bottom: 60px;

      .nav {
        position: absolute;
        left: $grid-gutter-width/2;
        bottom: 0;
      }

      img {
        @extend .img-responsive;
      }
    }

    .images.technical {
      @extend .col-sm-2;
      @extend .col-sm-offset-1;

      .tab-content {
      }
    }
    .images.presentational {
      @extend .col-sm-5;

      .tab-content {
      }
    }
  }
}
