#inventory-item-list
  .list-group.nested
    - @inventory_items.each do |inventory_item|
      .list-group-item.expand{id: dom_id(inventory_item.product), data: {product_id: inventory_item.product_id}}
        = render partial: 'nested_list_row', object: inventory_item, as: :inventory_item
        .sub-list.collapse
          .list-group

#inventory-items-edit-modal.modal{data: {backdrop: 'static'}}

:coffee
  $('#inventory-item-list').on 'click', '.expand > .row', (e) ->
    $row = $(e.currentTarget).parent();
    if $row.hasClass 'open'
      $row.removeClass 'open'
      $row.find('.collapse').collapse 'hide'
    else
      $row.addClass 'open'
      $.ajax
        url: '#{query_admin_inventory_items_path}'
        type: 'GET'
        dataType: 'script'
        data:
          product_id: $row.data('productId')
