#inventory-item-list
  .list-group.nested
    - @inventory_items.each do |inventory_item|
      .list-group-item.expand{id: dom_id(inventory_item.product), data: {product_id: inventory_item.product_id}}
        = render partial: 'nested_list_row', object: inventory_item, as: :inventory_item
        .sub-list.collapse
          .list-group

:coffee
  $('#inventory-item-list').on 'click', '.expand', (e) ->
    $row = $(e.currentTarget);
    if $row.hasClass 'open'
      $row.removeClass 'open'
      $row.find('.collapse').collapse 'hide'
    else
      $row.addClass 'open'
      $.ajax
        url: '#{query_admin_inventory_items_path}'
        type: 'GET'
        dataType: 'script'
        data:
          product_id: $row.data('productId')
  $('#inventory-item-list').on 'click', '.sub-list', (e) ->
    e.stopPropagation()
