#inventory-item-list
  .list-group.nested
    - @inventory_items.each do |inventory_item|
      .list-group-item{id: dom_id(inventory_item.product), data: {product_id: inventory_item.product_id}, class: inventory_item.unlimited? || 'expand'}
        = render partial: 'nested_list_row', object: inventory_item, as: :inventory_item
        .sub-list.collapse
          .list-group

#inventory-items-edit-modal.modal{data: {backdrop: 'static'}}

:coffee
  $('#inventory-item-list').on 'click', '.expand .toggle', (e) ->
    $row = $(e.currentTarget).parents '.expand'
    if $row.hasClass 'open'
      $row.removeClass 'open'
      $row.find('.collapse').collapse 'hide'
    else
      $row.addClass 'open'
      $.ajax
        url: '#{query_admin_inventory_items_path}'
        type: 'GET'
        cache: true
        dataType: 'script'
        data:
          product_id: $row.data('productId')

  $('#inventory-items-edit-modal').on 'hide.bs.modal', (e) ->
    $modal = $(this).find('.modal-dialog')
    $.ajax
      url: '#{refresh_admin_inventory_items_path}'
      type: 'GET'
      dataType: 'script'
      data:
        product_id: $modal.data('productId')
