$('#inventory-items-tbody').html("#{j render partial: 'admin/inventory_items/tbody', object: @product, as: :product}");
$('#add-inventory-item').replaceWith("#{j render partial: 'admin/inventory_items/form_for_product', object: @product, as: :product}");

$("##{dom_id(@inventory_item)}").effect('highlight');
