= bootstrap_form_for [:admin, @department] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.select :category_ids, option_groups_from_collection_for_select(current_store.member_stores, :available_categories, :name, :id, :to_option, @department.categories.pluck(:id)), {}, {multiple: true, class: 'selectize selectize-tall'}
      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary
