.page-header
  = link_to admin_departments_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('umbrella', t('.new_department'))

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}
