.grid-item[picture]
  = link_to edit_admin_picture_path(picture), class: 'thumbnail', remote: true do
    = picture_variant_tag picture, :matchbox, class: 'img-responsive'
    .caption.truncate
      %small= picture.image.attachment_file_name
  .thumbnail-widgets
    .pull-right
      = link_to icon('remove'), admin_picture_path(picture), remote: true, method: :delete, class: 'btn btn-xs btn-danger'
