= bootstrap_form_for [:modify, :admin, pictureable], remote: true, html: {class: 'triggered event-hook'} do
  %fieldset

= render partial: 'admin/pictures/edit_collection', object: pictureable, as: :pictureable, locals: {grid_columns: 3}
