.grid-item
  .thumbnail
    = picture_variant_tag picture, :matchbox, class: 'img-responsive'
  .grid-widgets
    .pull-right
      %button.btn.btn-default.btn-xs.clipboard{data: {'clipboard-text': picture.image.attachment.url(:original, timestamp: false)}}= icon('link')
    .label.label-primary= picture.human_attribute_value(:purpose)
  .badge
    .truncate{title: picture.image.attachment_file_name}
      = picture.image.attachment_file_name
