$('#pictures-modal').remove();
$("#{j render partial: 'admin/pictures/collection_modal'}}").appendTo('body');
$("#{j render partial: 'admin/pictures/index', object: @pictureable, as: :pictureable}}").appendTo($('#pictures-modal .modal-body'));
var $dialog = $('#pictures-modal .modal-dialog');
$dialog.initialize();
$('#pictures-modal').modal({backdrop: false});
$dialog.modalPosition();
$dialog.draggable({handle: '.modal-header'});
$('.section, .column, .segment').removeClass('active');
$('##{dom_id(@pictureable)}').addClass('active');
