$('#picture-modal').remove();
$("#{j render partial: 'admin/pictures/modal', object: @pictureable, as: :pictureable}").appendTo('body');
$('#picture-modal').initialize();
$('#picture-modal').modal('show');
