.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %caption
      %span= col(Product, :components)
    %thead
      %tr
        %th.col-xs-2= col(Product, :code)
        %th= col(Product, :title)
        %th.col-xs-1.text-right #

    %tbody
      = render partial: 'admin/relationships/row', collection: product.relationships, as: :relationship
