.navbar-panel
  .container
    %fieldset#barcode-panel{data: {url: admin_order_order_items_path(order)}}
      .form-group
        .input-group
          = text_field_tag 'barcode', nil, autocomplete: 'off', class: 'form-control monospace', placeholder: t('.barcode')
          .input-group-btn
            %button.btn.btn-default{type: 'button', data: {toggle: 'collapse', target: '.navbar-panel .collapse'}}
              = t('.add_order_items')
              %span.caret
    .collapse
      .navbar-panel-extension
        = render partial: 'admin/order_items/new', object: order, as: :order

:coffee
  fields =
    '01': 'customer_code'
    '10': 'lot_code'
    '21': 'serial'
    '30': 'amount'

  new Switchboard 'barcode',
    mapping:
      'Dead': String.fromCharCode(29) #dead key to FNC1
      '¨': String.fromCharCode(29)
    callback: (code) ->
      data = parseBarcode code
      item = {amount: 1}
      for i in data.parsedCodeItems
        item[fields[i.ai]] = i.data if fields[i.ai]?
      $('#barcode').val ''
      $.ajax
        url: $('#barcode-panel').data 'url'
        type: 'POST'
        data:
          order_item: item
