- letterhead = @order.store.letterhead(current_user)
- if letterhead.present?
  = render partial: 'pages/layout', object: letterhead, as: :page

.page-header
  %h1
    - if @order.destination == current_group
      = t('.delivery_note')
    - if @order.quotable?
      = t('.quotation')
    %span.small= @order.to_s
