- letterhead = @order.destination.letterhead
- if letterhead.present?
  = render partial: 'pages/content', object: letterhead, as: :page

.page-header
  %h1
    - if @order.destination == current_group
      = t('.delivery_note')
    - if @order.quotable?
      = t('.quotation')
    %span.small= @order.to_s
