.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1 Date
        %th.col-xs-2 Order type
        %th User
        %th.col-xs-1 Items
        %th.col-xs-2 Shipping at
        %th.col-xs-2.hidden-print

    %tbody
      = render partial: 'admin/orders/row', collection: orders, as: :order
