$('#order-items-table').replaceWith("#{j render partial: 'admin/order_items/edit_table', object: @order, as: :order}");
$('#add-products').replaceWith("#{j render partial: 'admin/orders/add_products', object: @order, as: :order}");
