.page-header
  = link_to admin_orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = t('.new_order')

.row
  .col-sm-7
    = render partial: 'form_for_new', object: @order, as: :order
