<div id='cookie_alert' class='secondary-alert'>
  <div id='cookie_alert_message'>
    <div id='cookie_alert_title'>
      <%= t('cookie_alert.title_html') %>
    </div>
    <div id='cookie_alert_text' style='display:none;'>
      <%= link_to icon('close'), cookie_alert_path, id: 'cookie_alert_close', remote: true %>
      <%= t('cookie_alert.text_html') %>
    </div>
  </div>
</div>
