.section-content{class: [section.layout, section.width, section.viewport? && 'viewport', section.swiper? && 'swiper']}
  .row
    = render partial: 'admin/columns/column', collection: section.columns
