= bootstrap_form_for [:admin, section], namespace: [:section, section.id], remote: true, layout: :vertical, html: {class: 'immediate'} do |f|
  %fieldset
    = f.select :width, Section.width_options, {}, {required: true}
    = f.text_field :height

:coffee
  $('#section_#{section.id}_section_width').selectize()
