.section-list-item.loading{id: dom_id(section)}
  .preloader-wrapper.big.active
    .spinner-layer.spinner-blue-only
      .circle-clipper.left
        .circle
      .gap-patch><
        .circle
      .circle-clipper.right
        .circle
