%section.section{class: section.gutter}
  = render partial: 'sections/background_images', object: section, as: :section
  %div{class: section.spread? ? 'container-fluid' : 'container'}
    = render partial: 'admin/sections/content', object: section, as: :section
