%section.section{style: section_style(section)}
  - if section.spread?
    .section-content{class: [section.layout, section.width, section.alignment]}
      .row
        = render partial: 'admin/segments/segment', collection: section.segments
  - else
    .container
      .row
        .section-content{class: [section.layout, section.width, section.alignment]}
          .row
            = render partial: 'admin/segments/segment', collection: section.segments
