%nav.navbar.navbar-inverse
  %ul.nav.navbar-nav
    %li
      %a{href: '#'}= drag_handle
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}= icon('pencil')
      %ul.dropdown-menu
        %li
          = render partial: 'admin/sections/form', object: section, as: :section
