%nav.section-nav.navbar.navbar-default
  %ul.nav.navbar-nav.navbar-left
    %li
      %a{role: 'button'}= drag_handle
    %li
      = link_to icon('edit', class: 'fa-fw'), edit_admin_section_path(section), remote: true
