%section.section{class: section.gutters? ? 'gutters' : 'no-gutters'}
  = render partial: 'sections/background', object: section, as: :section
  %div{class: section.spread? ? 'container-fluid' : 'container'}
    = render partial: 'admin/sections/content', object: section, as: :section
