- section_segments.each_with_index do |segment, number|
  .segment[segment]{class: "segment-#{number}"}
    .segment-content
      = render partial: segment.to_partial_path, object: segment
    .segment-link
      = link_to icon('pencil'), edit_admin_segment_path(segment), remote: true
    .layout-form-anchor
