%section.section[section]{class: section.layout, style: section.to_style}
  - if section.fluid?
    .container-fluid
      .row
        = render partial: 'admin/sections/section_segments', object: section.segments
  - else
    .container
      .row
        %div{class: section.width}
          .row
            = render partial: 'admin/sections/section_segments', object: section.segments
