%section.section{class: [section.shape, section.fixed_background? && 'fixed-background'], style: section_style(section)}
  - if section.spread?
    = render partial: 'admin/sections/content', object: section, as: :section
  - elsif section.jumbotron?
    .jumbotron
      .container
        .row
          = render partial: 'admin/sections/content', object: section, as: :section
  - else
    .container
      .row
        = render partial: 'admin/sections/content', object: section, as: :section
