$('.dropdown.open > a').dropdown('toggle');
$("#{j render partial: 'admin/sections/list_item', object: @section, as: :section}").appendTo('#section-list');
$('#section-list').sortable('refresh');
viewportUpdate();
