$("#{j render @section}").appendTo('#section-list');
$('#section-list').sortable('refresh');
$('#layout-form').html("#{j render partial: 'admin/sections/edit'}");
$('#layout-form').initialize();
$(window).scrollTo($('##{dom_id(@section)}'), 300, {offset: -$('.navbar').outerHeight(true)});
