$("##{dom_id(@section)}").fadeOut(200, function() { this.remove(); });
$('#section-list').sortable('refresh');
viewportUpdate();
$('#editor-panel').destroySelectized();
$('#side-panel').removeClass('open');
