$('#section-list > .section-list-item').removeClass('active');
$("##{dom_id(@section)}").addClass('active');
$('#layout-form').html("#{j render partial: 'admin/sections/edit'}");
$('#layout-form').initialize();
