$("#{j render @section}").appendTo('#section-list');
$('#section-list').sortable('refresh');
$section = $("##{dom_id(@section)}");
$(window).scrollTo($section, 300, {offset: $section.outerHeight() - $(window).height()});
