$('#section-list > .section-list-item').removeClass('active');
$('#section-list > .section-list-item .segment').removeClass('active');
$('#layout-form').html("#{j render partial: 'admin/sections/new'}");
$('#layout-form').initialize();
