$('#editor-panel').html("#{j render partial: 'admin/sections/settings', object: @section, as: :section}");
$('#side-panel').removeClass('column-panel segment-panel').addClass('section-panel');
$('#side-panel').addClass('open');
