$('#editor-panel .section-settings').replaceWith("#{j render partial: 'admin/sections/settings', object: @section, as: :section}");
$("##{dom_id(@section)} > .section").replaceWith("#{j render @section}");
$('##{dom_id(@section)}').initialize();
viewportUpdate();
