$("##{dom_id(@section)}").replaceWith("#{j render @section}");
$("##{dom_id(@section)}").addClass('active');
$('#layout-form').html("#{j render partial: 'admin/sections/edit'}");
$('#layout-form').initialize();
