%li.dropdown
  %a.dropdown-toggle{href: '#', role: 'button', 'aria-expanded' => 'false', data: {toggle: 'dropdown'}}
    = icon('wrench', class: 'fa-lg')
    %span.caret
  %ul.dropdown-menu.dropdown-menu-right{role: 'menu'}
    = active_link_to icon('tachometer', t('admin.dashboard.title'), class: 'fa-fw'), admin_dashboard_path, wrap_tag: :li
    = render partial: 'admin/dashboard/admin_links'
