.branding
  .media
    .media-left
      .media-object.tall
        %a{href: 'http://stellar.fi/', target: '_blank'}
          = image_tag('stellar-vertical.svg')
    .media-body
      %p.lead= t('branding.heading')
      = t('branding.body_html')
