- cache [current_group, I18n.locale, :default_footer] do
  %footer.default-footer
    .container
      .row
        .col-xs-12.col-sm-5.col-sm-push-4.bordered
          - if store_footer.present? && store_footer.children_count > 0
            %nav.navmenu
              %ul.nav.navmenu-nav
                = render partial: store_footer.children.visible(current_group), locals: {navmenu: true}
        .col-xs-8.col-sm-4.col-sm-pull-5
          = render partial: 'shared/branding'
        .col-xs-4.col-sm-3
          .branding
            .media
              .media-body
              .media-right
                .media-object
                  %a{href: 'https://leasit.fi/', target: '_blank'}
                    = image_tag('leasit.svg')
