%footer.default-footer
  .container
    .row
      .col-xs-12.col-sm-5.col-sm-push-4.bordered
        - if @footer.present? && @footer.children_count > 0
          %nav.navmenu
            %ul.nav.navmenu-nav
              = render partial: @footer.children.live, locals: {navmenu: true}
      .col-xs-8.col-sm-4.col-sm-pull-5
        = render partial: 'shared/branding'
      .col-xs-4.col-sm-3
        - if current_store.try(:brand_image).present?
          .branding
            .media
              .media-body
              .media-right
                .media-object= image_tag(current_store.brand_image)
