- if object.errors.any?
  .alert.alert-danger.alert-dismissable.fade.in{role: 'alert'}
    %button.close{type: 'button', data: {dismiss: 'alert'}}
      %span{aria: {hidden: 'true'}}
        = icon('times')
      %span.sr-only Close
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
