.row
  .col-xs-3.col-sm-2.col-lg-1
    = image_tag('spry-logo.svg', class: 'img-responsive')
  .col-xs-6.col-sm-8.col-lg-10
    %p.lead Spry Storefront
    %p
      Provided to
      = current_store.name
      by Leasit Oy
      = icon('copyright')
      2015
  .col-xs-3.col-sm-2.col-lg-1.pull-right
    //= image_tag('tjt-logo.svg', class: 'img-responsive')
