.container
  .row
    .media.col-xs-12.col-sm-6
      .media-left.logo= image_tag('spry-logo.svg')
      .media-body
        %p.lead= t('footer.heading')
        = t('footer.body_html')
    .col-xs-12.col-sm-6
      %ul.nav
        = render partial: 'shared/page_link', collection: @pages, as: :page, locals: {subnav: 'nav'}
