.container
  .row
    .col-xs-3.col-sm-2.col-lg-1
      = image_tag('spry-logo.svg', class: 'img-responsive')
    .col-xs-9.col-sm-8.col-lg-10
      %p.lead= t('footer.heading')
      %p= t('footer.body_html')
