= form_tag lookup_path, method: :get, class: 'navbar-form', role: 'search' do
  .form-group
    = search_field_tag 'product_search[keyword]', nil, autocomplete: 'off', class: 'form-control', placeholder: t('search_panel.keyword')
  %ul#search-dropdown.dropdown-menu.media-list

:coffee
  $('#navbar-search').on 'shown.bs.collapse', (e) ->
    $('#navbar-search input').focus()
  $('#navbar-search > form').on 'submit', (e) ->
    e.preventDefault()
  $('#product_search_keyword').smartkeyup ->
    $.get '#{lookup_path}?product_search[keyword]=' + encodeURIComponent($(this).val())
