- if @navbar_search
  = form_tag search_path, method: :get, class: 'navbar-form navbar-right', data: {push: 'partial', target: '.products'}, role: 'search' do
    .form-group.has-feedback
      = search_field_tag 'q[keyword_cont]', nil, autocomplete: 'off', class: 'form-control', placeholder: t('search_panel.keyword')
      %span.form-control-feedback= icon('search')
