- if current_store.tawkto_site_id.present?
  .live-chat
    .container
      %button.btn.btn-success.btn-sm.btn-round.live-chat-toggle
        = icon('comment', t('live_chat.title'))

  :coffee
    $('.live-chat-toggle').on 'click', ->
      $.magnificPopup.open
        items: [{src: 'https://tawk.to/chat/#{current_store.tawkto_site_id}/default/?$_tawk_popout=true'}]
        type: 'iframe'
        closeBtnInside: false
        closeOnBgClick: false
