= form_tag lookup_path, method: :get, remote: true, class: 'navbar-form', role: 'search' do
  .form-group
    = search_field_tag 'keyword', nil, autocomplete: 'off', class: 'form-control', placeholder: t('store.lookup')
  #lookup-dropdown.dropdown-menu
    .lookup-results
      %ul.category-results.media-list
      %ul.product-results.media-list
      %ul.page-results.media-list
