= form_tag lookup_path, method: :get, class: 'navbar-form', role: 'search' do
  .form-group
    = search_field_tag 'keyword', nil, autocomplete: 'off', class: 'form-control', placeholder: t('store.lookup')
  #lookup-dropdown.dropdown-menu
    %ul.category-results.media-list
    %ul.product-results.media-list

:coffee
  $('#navbar-lookup').on 'shown.bs.collapse', (e) ->
    $('#navbar-lookup input').focus()
  $('#navbar-lookup > form').on 'submit', (e) ->
    e.preventDefault()
  $('#keyword').smartkeyup ->
    $.get '#{lookup_path}?keyword=' + encodeURIComponent($(this).val())
