%li.dropdown.mega-dropdown
  %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
    = root
    %span.caret
  %ul.dropdown-menu.mega-dropdown-menu
    .container
      .row
        = render partial: partial, collection: items, as: :item, locals: {root: root}
