%meta{charset: 'utf-8'}
%meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
%meta{content: '', name: 'description'}
%meta{content: 'Leasit Oy', name: 'author'}
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'
= csrf_meta_tags

- if current_store.tracking_code.present?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{current_store.tracking_code}', 'auto');
    ga('send', 'pageview');
