%ul.nav.navbar-nav
  - if user_signed_in? && can_manage?
    %li= link_to icon('wrench', class: 'fa-lg'), admin_orders_path
  - if user_signed_in? && can_shop?
    %li
      = link_to cart_path do
        = icon('shopping-cart', class: 'fa-lg')
        = render partial: 'store/cart_badge'
