%li{class: active_link_to_class(show_page_path(page))}
  = active_link_to page, show_page_path(page)
  - if page.sub_pages.any?
    %ul.nav.subnav
      - page.sub_pages.each do |sub_page|
        = active_link_to sub_page, show_page_path(sub_page), wrap_tag: :li
