= javascript_include_tag '/javascripts/zxcvbn.js'

%label.control-label= col(User, :password_strength)
.progress
  #strength-bar.progress-bar.progress-bar-danger.progress-bar-striped{style: 'width: 5%;'}

:coffee
  bar_attrs = [
    {style: 'progress-bar-danger', width: '5%'}
    {style: 'progress-bar-danger', width: '25%'}
    {style: 'progress-bar-warning', width: '50%'}
    {style: 'progress-bar-info', width: '75%'}
    {style: 'progress-bar-success active', width: '100%'}
  ]
  $bar = $('#strength-bar')

  $('#user_password').smartkeyup ->
    strength = zxcvbn $(this).val()
    attrs = bar_attrs[strength.score]
    $bar.removeClass 'progress-bar-danger progress-bar-warning progress-bar-info progress-bar-success active'
    $bar.addClass attrs.style
    $bar.css 'width', attrs.width

  $('#user_password').smartkeyup()
