= form_tag url_for(action: 'index'), {method: :get, data: {push: 'partial', target: '.products'}, class: 'navbar-form navbar-left'} do
  .form-group.has-feedback
    = search_field_tag 'keyword', nil, class: 'form-control', placeholder: t('search_bar.keyword')
    %span.fa.fa-search.form-control-feedback
