= active_link_to t("store.titles.#{current_store.menu_title}"),
    store_path, wrap_tag: :li,
    active: [['store'], ['index', 'show_category', 'show_product']]

- if user_signed_in? && can_shop?
  = active_link_to title(Order, count: 2), orders_path, wrap_tag: :li
