.column[column]{class: [column.alignment, column.viewport? && 'viewport', column.pivot? && 'pivot']}
  = render partial: 'columns/background', object: column, as: :column
  = render partial: 'segments/segment', collection: column.segments
