- if section.fixed_background?
  .section-bg-container.fixed-background{style: css(background_color_style(section).merge(background_picture_style(section.cover_picture)))}
- else
  .section-bg-container{style: css(background_color_style(section))}
    - if section.pictures.any?
      - if section.pictures.count > 1
        .swiper-container
          .swiper-wrapper
            - section.pictures.each do |picture|
              .swiper-slide
                = picture_variant_tag picture, :lightbox, class: 'image-bg'

        :coffee
          jQuery ->
            $section = $('##{dom_id(section)}')
            new Swiper $section.find('.section-bg-container > .swiper-container'),
              autoplay:
                delay: 5000
              loop: true
              effect: 'fade'
      - else
        = picture_variant_tag section.cover_picture, :lightbox, class: 'image-bg'
