.section-bg-container{class: section.fixed_background? && 'fixed-background'}
  = render partial: 'sections/video', collection: section.videos, as: :video

  - if section.pictures.any?
    - if section.pictures.count > 1
      .swiper-container
        .swiper-wrapper
          - section.pictures.each do |picture|
            .swiper-slide
              = picture_variant_tag picture, :lightbox

      :coffee
        jQuery ->
          $section = $('##{dom_id(section)}')
          new Swiper $section.find('.section-bg-container > .swiper-container'),
            autoplay:
              delay: 5000
            loop: true
            effect: 'fade'
    - else
      .image-bg{style: section.style(:backgroundImage)}
  .section-bg-overlay{style: section.style(:backgroundColor)}
