%section.section{class: section.shape, style: section_style(section)}
  - if section.spread?
    .section-content{class: [section.outline, section.layout, section.fixed_or_fluid, section.shape, section.width]}
      .row
        = render partial: 'segments/segment', collection: section.segments
  - else
    .container
      .row
        .section-content{class: [section.outline, section.layout, section.fixed_or_fluid, section.shape, section.width]}
          .row
            = render partial: 'segments/segment', collection: section.segments
