%section.section{class: section.layout, style: section_style(section)}
  - if section.fluid?
    .container-fluid
      .section-content
        .row
          = render partial: 'segments/segment', collection: section.segments
  - else
    .container
      .row
        .section-content{class: section.width}
          .row
            = render partial: 'segments/segment', collection: section.segments
