.section-bg-overlay
  %video{playsinline: true, autoplay: true, loop: video.loop, muted: video.muted}
    - video.video_files.each do |source|
      %source{src: source.url, type: source.content_type}
