$('##{dom_id(@promoted_item)}').fadeOut(200, function() { this.remove(); });
$('#add-products').replaceWith("#{j render partial: 'admin/promotions/add_products', object: @promotion, as: :promotion}");
