- if segment.tapestry?
  .segment-bg-container{style: segment.style(:backgroundColor)}
  .segment-bg-container{style: segment.style(:backgroundImage)}
- else
  .segment-bg-container{style: segment.style(:backgroundImage)}
  .segment-bg-container{style: segment.style(:backgroundColor)}
