.segment-bg-container
  - if segment.tapestry?
    .segment-bg-overlay{style: segment.style(:backgroundColor)}
    .image-bg{style: segment.style(:backgroundImage)}
  - else
    .image-bg{style: segment.style(:backgroundImage)}
    .segment-bg-overlay{style: segment.style(:backgroundColor)}
