.segment[segment]{class: segment.alignment, style: segment_style(segment)}
  .segment-shape{class: segment.shape}
    .segment-content-wrap{class: [segment.alignment, segment.inset]}
      = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
