.segment[segment]{class: [segment.template, segment.stretch? && 'stretch', segment.fixed_ratio? && 'fixed-ratio', segment.css_classes], style: segment.style(:margins)}
  .segment-shape{class: [segment.shadow, segment.animation_class], style: segment.style(:aspectRatio), data: {animation: segment.animation}}
    = render partial: 'segments/background', object: segment, as: :segment
    .segment-content-wrap{class: [segment.alignment, segment.justification, segment.jumbotron? && 'jumbotron'], style: segment.style(:padding, :foregroundColor, :borders)}
      = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
