.segment[segment]{style: css(background_color_style(segment))}
  .segment-shape{class: [segment.shape, segment.fixed_ratio? && 'fixed-ratio']}
    .segment-content-wrap{class: [segment.alignment, segment.inset, segment.jumbotron? && 'jumbotron']}
      = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
