- if order.targeted?
  = link_to icon('remove', t('store.cart.delete_order')), delete_cart_path, class: 'btn btn-sm btn-danger', data: {confirm: t('store.cart.confirm_delete_order'), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('store.cart.delete_order'), 'confirm-cancel': t('actions.confirm.cancel')}
- else
  = link_to t('checkout.continue_shopping'), front_path, class: 'btn btn-sm btn-default'
  = link_to icon('remove', t('store.cart.delete_cart')), delete_cart_path, class: 'btn btn-sm btn-danger', data: {confirm: t('store.cart.confirm_delete_cart'), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('store.cart.delete_cart'), 'confirm-cancel': t('actions.confirm.cancel')}
