- current_user.orders.at(current_store).incomplete.each do |order|
  %li{class: order == shopping_cart && 'active'}
    = link_to select_order_path(order) do
      - if order.targeted?
        = bootstrap_label(order.source)
        = order.customer_name
      - else
        = icon('shopping-cart', t('store.cart.shopping_cart'))
