$('#order-items-table').replaceWith("#{j render partial: 'order_items/edit_table', object: @order, as: :order}");
$('#add-products').replaceWith("#{j render partial: 'orders/add_products', object: @order, as: :order}");
