.page-header
  %h1= icon('truck', 'Orders')

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#orders', role: 'tab', data: {toggle: 'tab'}} Current orders
  %li{role: 'presentation'}
    %a{href: '#approved', role: 'tab', data: {toggle: 'tab'}} Approved orders

.tab-content
  #orders.tab-pane.fade.in.active
    %h2.visible-print-block Current orders
    = render partial: 'orders/table', object: @orders, as: :orders

  #approved.tab-pane.fade
    %h2.visible-print-block Approved orders
    = render partial: 'orders/table', object: @approved, as: :orders
