#static-wrap
  .container
    .page-header
      %h1= icon('calendar', t('store.order_history'))

    = render partial: 'search'

    = render partial: 'orders/table', object: @orders, as: :orders
    = paginate @orders
