- items = category.contained_items || @categories
- partial_path = category.contained_item_partial_path
- parent_path = category.resource.present? && show_category_path(category.resource)

- if navmenu
  = render partial: 'pages/navmenu', object: category, as: :root, locals: {items: items, partial_path: partial_path}
- else
  = render partial: 'pages/mega_dropdown', object: category, as: :root, locals: {items: items, partial_path: partial_path, parent_path: parent_path}
