- resource = category_menu.resource
- if resource.nil?
  = render partial: 'shared/mega_dropdown', object: category_menu, as: :root, locals: {items: @categories, partial: 'categories/megamenu_item'}
- elsif !resource.leaf?
  = render partial: 'shared/mega_dropdown', object: category_menu, as: :root, locals: {items: resource.children.visible, partial: 'categories/megamenu_item'}
- else
  = render partial: 'shared/mega_dropdown', object: category_menu, as: :root, locals: {items: resource.products.visible.sorted(resource.product_scope), partial: 'products/megamenu_item'}
