:ruby
  resource = category_menu.resource
  if resource && resource.leaf?
    items = resource.products.visible.sorted(resource.product_scope)
    type = 'products'
  else
    items = resource.nil? ? @categories : resource.children.visible
    type = 'categories'
  end

- if offcanvas
  = render partial: 'pages/offcanvas_menu', object: category_menu, as: :root, locals: {items: items, partial: "#{type}/offcanvas_item"}
- else
  = render partial: 'pages/mega_dropdown', object: category_menu, as: :root, locals: {items: items, partial: "#{type}/megamenu_item"}
