- if dropdown.children_count > 0
  - if navmenu
    %li
      .navmenu-header
        = dropdown
        %span.caret
      %ul.nav.navmenu-nav
        = render partial: dropdown.children, locals: {navmenu: true}
  - else
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = dropdown
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        = render partial: dropdown.children, locals: {navmenu: false}
