.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-min.hidden-print
        %th= col(Product, :title)
        %th.actions

    %tbody#requisite-entries-tbody.sortable
      = render partial: 'admin/requisite_entries/edit_tbody', object: product, as: :product

:coffee
  $('#requisite-entries-tbody').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_product_requisite_entries_path(@product)}',
      {reorder: $(this).sortable('toArray')}
