.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th= col(Product, :title)

    %tbody
      - product.requisite_entries.each do |entry|
        %tr[entry]
          %td
            .product
              = link_to entry.requisite.title, admin_product_path(entry.requisite)
              %span.small= entry.requisite.subtitle
              .badge= entry.requisite.code
