%a.list-group-item[document]{href: document.url(nil, timestamp: false), class: document.popuppable? && 'popuppable'}
  = icon(document_icon_tag(document), document.attachment_file_name.truncate(40, omission: '…'))
  %span.badge= number_to_human_size document.attachment_file_size

:coffee
  $('.document.popuppable').magnificPopup
    type: 'iframe'
    closeOnBgClick: false
    closeBtnInside: false
