/*
 * Theme specific styles
 */

$main-nav-height: 60px;
$navbar-height: 60px;
$navbar-default-bg: #fff;
$navbar-default-color: #959595;
$brand-primary: #013183;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

#main-nav {
  @include box-shadow(0 3px 6px 0 rgba(0,0,0,0.333));
}

.navbar-nav > li.lg > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.offcanvas-toggle {
  padding-top: 9px;
  padding-bottom: 9px;
}

@media (max-width: $screen-sm-min) {
  .products, .product-detail { padding-top: 30px; }
}

#store-wrap {}

#categories-wrap {
  position: relative;
  background-image: asset-url('birch.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .categories {
    @extend .container;
    padding-top: 20px;

    > ul {
      @include make-row;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      list-style: none;
      padding-left: 0;

      > li.category {
        @include make-xs-column(6);
        @include make-sm-column(4);
        @include make-md-column(3);
        @include make-lg-column(2);
        position: static; // override position: relative set by .col-*
        max-width: 230px;
        margin-bottom: 15px;
        transition: all 0.2s ease-in-out 0s;

        &.active {
          > a {
            @include box-shadow(0 0 4px 2px rgba(0,0,0,0.8));
          }
          > .subcategories-wrap { display: block; }
        }

        &:hover, &.active {
          > a {
            p {
              background-color: rgba(80,59,34,0.95);
            }
          }
        }

        > a {
          @include box-shadow(0 0 1px 1px rgba(0,0,0,0.333));
          display: block;
          position: relative;
          text-decoration: none;

          img {
            @include img-responsive;
          }
          p {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 15px;
            background-color: rgba(80,59,34,0.667);
            color: #fff;
          }
        }
        .subcategories-wrap {
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(255,255,255,0.7);

          > .subcategories {
            @extend .container;
            padding-top: 5px;
            padding-bottom: 5px;

            > ul {
              @extend .nav, .nav-pills;

              > li {
                img { display: none; }
                p { margin: 0; }
              }
            }
          }
        }
      }
    }
  }
}

#products-wrap {
  position: relative;

  .context { display: none; }
  .products {
    @extend .container;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    .product-grid {
      @include make-row;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-end;
        list-style: none;
        padding-left: 0;

        li.product {
          @include make-xs-column(6);
          @include make-sm-column(4);
          @include make-md-column(3);
          position: relative;
          transition: all 0.2s ease-in-out 0s;

          a {
            @extend .thumbnail;
            @include box-shadow(0 0 1px 0 rgba(0,0,0,0.333));
            display: block;
            padding: 0;
            border: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: #fff;

            &:hover {
              @include box-shadow(0 0 1px 1px $brand-primary);
              text-decoration: none;
            }
            .product-image {
              position: relative;
              overflow: hidden;
              width: 100%;
              height: 0;
              padding-bottom: 100%;

              img {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
              }
              &:after {
                content: '';
                display: block;
                position: absolute;
                top: -6px;
                bottom: 0;
                left: -6px;
                right: -6px;
                @include box-shadow(0 0 12px rgba(0,0,0,0.15) inset);
              }
            }
            .product-text {
              padding: 10px 15px;
              color: #222;

              h3 {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.01em;

                .small {
                  display: block;
                  font-weight: 500;
                  text-transform: uppercase;
                  letter-spacing: 0.02em;
                }
              }
              .description { display: none; }
            }
            .promotion { display: none; }
          }
          .buy-now { display: none; }
        }
      }
    }
  }
}

#product-detail-wrap {
  .product-detail {
    @extend .container;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    .product-header {
      .actions {
        float: right !important;

        .btn { display: inline-block; }
      }
      .categories { display: none; }
      .product-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 500;
      }
    }
    .product-body {
      @include make-row;

      .images.presentational {
        @include make-xs-column(12);
        @include make-sm-column(7);
        @include make-md-column(8);
        @include make-lg-column(9);
        margin-bottom: 30px;
      }
      .product-meta {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(4);
        @include make-lg-column(3);

        .product-code {
          font-size: $font-size-small;
        }
        .buy-now {
          @extend .well;

          .product-pricing {
            .price {
              @extend .lead;
              margin-right: 0.5em;
              margin-bottom: 0;
              font-weight: 500;
              color: $brand-primary;

              .tax-rate, .unit-price {
                display: inline-block;
                font-size: $font-size-base;
                font-weight: 400;
                color: $text-muted;
              }
              .tax-rate { margin-left: 0.5em; }
              .unit-price { display: block; }
            }
            .retail-price {
              text-decoration: line-through;
            }
          }
          form {
            .form-group {
              margin-top: 20px;

              #amount { display: none; }
              button {
                @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
                @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
                display: block;
                width: 100%;
                transition: all 0.2s ease-in-out 0s;
              }
            }
          }
          .go-checkout .btn {
            @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
            display: block;
            width: 100%;
            transition: all 0.2s ease-in-out 0s;
          }
        }
        .variant-products {
          margin-bottom: 20px;

          button {
            display: block;
            width: 100%;
          }
          .dropdown-menu {
            @extend .dropdown-menu-right;
          }
        }
        .product-stock {
          font-size: $font-size-small;

          dt { float: left !important; }
          dd {
            @extend .badge;
            float: right !important;
          }
        }
      }
      .product-description {
        @include make-xs-column(12);
        @include make-md-column(6);

        .body-text { margin-bottom: 20px; }
      }
      .product-properties {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);

        .properties, .components {
          tr > :last-child { padding-right: 10px; }
        }
      }
      .images.technical {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);

        .picture { padding-bottom: 100%; }
      }
      .iframes {
        @extend .hidden-print;
        position: absolute;
        left: -1*$grid-gutter-width;

        .iframe-toggle {
          @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
          @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
          display: block;
          width: 2*$grid-gutter-width;
          font-weight: 500;
          text-align: right;
        }
      }
      .images {
        .nav { @extend .nav-tabs, .nav-sm; }
        .picture {
          position: relative;
          height: 0;
          padding-bottom: 61.8%; // golden ratio

          > a.image-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            figure {
              width: 100%;
              height: 100%;

              img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    .product-footer {

      .requisite-products, .variant-products {
        @include make-row;

        ul {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          list-style: none;
          padding: 0;

          li.product {
            @include make-sm-column(2);

            a {
              display: block;
              text-decoration: none;

              .product-image {
                position: relative;

                figure {
                  height: 0;
                  padding-bottom: 100%;
                  @include contained-image;
                }
              }

              h3 {
                font-size: $font-size-base;
                margin-top: 0.25em;
                margin-bottom: 0.5em;

                .small {
                  display: block;
                  font-size: $font-size-small;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  #categories-wrap { padding: 0 !important; }
  #products-wrap {
    .products {
      margin-top: 0;

      .product-grid {
        margin: 0;
        padding: 0;

        ul.staggered-grid {
          display: block;
          position: static !important;
          height: auto !important;

          li.product {
            display: block;
            position: static !important;
            width: 100%;
            max-width: 100%;
            padding: 10px 0;
            border-top: 1px solid #eee;
            page-break-inside: avoid;
            break-inside: avoid;

            &:first-child { border-top: 0; }

            a {
              display: block;
              padding: 0;
              border: 0;

              &:after {
                content: '';
                display: table;
                clear: both;
              }

              .product-image {
                float: left;
                width: 200px;
                height: auto;
                padding: 0;

                img {
                  position: static;
                  display: block;
                  transform: none;
                  margin: 0 auto;
                }
              }
              .product-text {
                margin-left: 220px;
                text-align: left;

                .description { display: block; }
              }
            }
            .buy-now {
              display: block;

              .price {
                float: right;
                font-size: 12px;
              }
              form { display: none; }
            }
          }
        }
      }
    }
  }
  #product-detail-wrap {
    .product-detail {
      padding: 0;

      .product-header {
        .actions { display: none; }
        .product-title {}
      }
      .product-body {

        .images.presentational {
          float: left;
          width: 66.66% !important;

          .tab-pane:not(:first-child) { display: none; }
        }
        .product-meta {
          float: left;
          width: 33.33% !important;

          .buy-now {
            form, .go-checkout { display: none; }
          }
          .variant-products { display: none; }
        }
        .product-description {
          float: left;
          width: 50% !important;

          .body-text {}
        }
        .product-properties {
          float: left;
          width: 25% !important;

          .components { display: none; }
        }
        .images.technical {
          float: left;
          width: 25% !important;

          .tab-pane:not(:first-child) { display: none; }
        }
        .images {
          .nav { display: none; }
        }
      }
      .product-footer { display: none; }
    }
  }
}
