/*
 * Theme specific styles
 */

@import "bootstrap-font-awesome.scss";
@import "bootstrap-generators.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

body {
  padding-top: $navbar-height;
  overflow-y: scroll;
}

#main-nav {
  @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));

  > .content {
    @extend .container;
  }
}

#main-wrap {
  > .content {
    @extend .container;
  }

  #static-wrap {
    > .wysiwyg-content {
      @extend .container;
      margin-top: 40px;
    }

    .sidebar {
      background-color: lighten($brand-primary, 25%);

      &.active { @include box-shadow(-6px 0 12px 0 rgba(0,0,0,0.25)); }
      .container { padding-top: 70px; }

      .albums {
        .album {
          @extend .clearfix;
          background-color: rgba(255,255,255,0.8);

          .gallery {
            padding-top: 5px;

            a {
              float: left;
              margin-right: 5px;
              margin-bottom: 5px;

              &:hover { @include box-shadow(0 0 4px $link-color); }
              img { @extend .img-thumbnail; }
            }
          }
        }
      }
    }
  }

  #search-panel-wrap {
    background-color: lighten($brand-primary, 25%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

    .search-panel {
      @extend .container;
    }
  }

  #categories-wrap {
    position: relative;
    padding-bottom: 30px;
    background: $gray-light;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

    .categories {
      @extend .container;
      padding-top: 20px;

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.category {
          display: inline-block;
          width: 12%;
          min-width: 100px;
          max-width: 180px;
          height: 10%;
          margin-right: $grid-gutter-width/2;

          &.active {
            > a {
              transform: translate(0, -8px) rotateZ(-2.5deg);
              @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.8));
            }
            > .subcategories-wrap { display: block; }
          }
          > a {
            @extend .thumbnail;
            text-decoration: none;
            transition: all 0.2s ease-in-out 0s;

            > p {
              margin: 0.5em 0.25em 0;
              font-size: $font-size-small;
            }
          }

          > .subcategories-wrap {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5px 0;
            background-color: rgba(255,255,255,0.5);

            > .subcategories {
              @extend .container;

              > ul {
                list-style: none;
                padding-left: 0;

                > li {
                  display: inline-block;

                  &.active a {
                    @include box-shadow(0 0 3px 0 rgba(0,0,0,0.8));
                  }
                  a {
                    @extend .thumbnail;
                    margin-bottom: 0;
                    padding: 5px 10px;
                    text-decoration: none;

                    p {
                      margin-bottom: 0;
                      font-size: $font-size-small;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #products-wrap {
    position: relative;

    #products-view-toggle {
      position: absolute;
      right: $grid-gutter-width/2;
      top: -30px;

      button {
        @extend .btn, .btn-default, .btn-xs;
      }
    }
    .products {
      @extend .container;
      margin-top: 40px;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        list-style: none;
        padding-left: 0;

        li.product {
          width: 190px;
          margin-right: $grid-gutter-width;

          &:hover a .product-image {
            @include box-shadow(0 0 8px $link-color);
          }
          a {
            display: block;
            text-decoration: none;

            .product-image {
              @extend .img-thumbnail;
              width: 190px;
              height: 190px;
              position: relative;

              img {
                position: absolute;
                max-width: 180px;
                max-height: 180px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
              }
            }
            h3 {
              font-size: $font-size-base;
              margin-top: 0;
              margin-bottom: 1em;

              .small {
                display: block;
                font-size: $font-size-small;
              }
            }
            .description { display: none; }
            .promotion { display: none; }
          }
          .buy-now { display: none; }
        }
      }
    }
  }

  #product-detail-wrap {
    .product-detail {
      @extend .container;
      margin-top: 20px;

      .product-header {
        @extend .row;
        margin-bottom: 20px;

        .product-title {
          @extend .col-xs-12;
          @extend .col-md-7;
          margin: 0;
        }
        .product-meta {
          @extend .col-xs-12;
          @extend .col-md-5;
          margin-top: 8px;

          .product-actions {
            float: right;

            .form-inline, .btn { display: inline-block; }
          }

          .product-pricing {

            .price, .retail-price {
              float: right;
              margin-right: $grid-gutter-width/2;
              font-size: $font-size-large;
              line-height: 34px;

              .tax-rate {
                margin-left: 5px;
                color: $text-color;
                font-size: $font-size-small;
                letter-spacing: 0.05em;
                word-spacing: 0;
              }
              .unit-price {
                display: block;
                margin-top: -10px;
                font-size: $font-size-small;
                text-align: right;
              }
            }
            .price {
              @extend .text-primary;
              font-weight: 500;
            }
            .retail-price {
              opacity: 0.5;
              text-decoration: line-through;
            }
          }
        }
      }
      .product-body {
        @extend .row;

        .product-description {
          @extend .col-md-4;
          @extend .col-xs-12;

          .product-code {
            float: left;
            font-size: $font-size-small;
            line-height: 30px;
          }
          .product-stock {
            float: right;
            font-size: $font-size-large;
            line-height: 30px;
          }
          .body-text { padding-top: 40px; }
          .list-group, .table { margin-top: 20px; }
        }
        .images {
          position: relative;

          &.technical {
            @extend .col-md-2;
            @extend .col-md-offset-1;
            @extend .col-xs-5;
            min-height: 440px;
          }
          &.presentational {
            @extend .col-md-5;
            @extend .col-xs-7;
          }
          .nav {
            @extend .hidden-print;
            position: absolute;
            left: $grid-gutter-width/2;
            bottom: 0;

            > li > a {
              padding: 5px;
            }
          }
          .tab-content {
            .image {
              a {
                display: block;

                img {
                  @extend .img-responsive;

                  &:hover {
                    @include box-shadow(0 0 8px $link-color);
                  }
                }
              }
              &:not(:first-child) {
                @extend .hidden-print;
              }
            }
          }
        }
      }
      .product-footer {

        .requisite-products, .variant-products {

          ul {
            @extend .row;
            list-style: none;
            padding: 0;

            li.product {

              a {
                display: block;
                text-decoration: none;

                h3 {
                  font-size: $font-size-base;
                  margin-top: 0.25em;
                  margin-bottom: 0.5em;

                  .small {
                    display: block;
                    font-size: $font-size-small;
                  }
                }
              }
            }
          }
        }
        .requisite-products ul li.product {
          @extend .col-sm-2, .col-lg-1;

          .product-image { @extend .box-thumbnail; }
        }
        .variant-products ul li.product {
          @extend .col-lg-2;

          .product-image { @extend .box-matchbox; }
          .properties {
            font-size: $font-size-small;
          }
        }
      }
    }
  }
}

.footer {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

  > .content {
    @extend .container;
  }
}

@media print {
  #main-wrap {
    #products-wrap {
      .products {
        margin: 0;
        padding: 0;

        ul {
          display: block;
          padding: 0;

          li.product {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;
            padding: 10px 0;
            border-top: 1px solid #eee;
            page-break-inside: avoid;
            break-inside: avoid;

            &:first-child { border-top: 0; }

            a {
              display: block;
              padding: 0;
              border: 0;

              &:after {
                content: '';
                display: table;
                clear: both;
              }

              .product-image {
                float: left;
                width: 200px;
                height: 200px;
                padding: 0;
                border: 0;

                img {
                  position: static;
                  display: block;
                  transform: none;
                  max-width: 200px;
                  max-height: 200px;
                  margin: 0 auto;
                }
              }
              .product-text {
                margin-left: 220px;
                text-align: left;

                .description { display: block; }
              }
              .promotion { display: none; }
            }
            .buy-now { display: none; }
          }
        }
      }
    }
  }
}
