$cardirad-green: #4ca845;
$cardirad-blue:  #0091cf;

$brand-primary: #007eb5 !default;
$brand-success: #82bf7e !default;
$brand-info:    #70c1cc !default;
$brand-warning: #efc92f !default;
$brand-danger:  #d13a53 !default;

$font-size-base: 15px !default;

$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

@import "spry_themes/material";

/*
 * Overrides to the material theme for Cardirad
 */
#main-nav {
  .navbar-header {
    .navbar-brand {
      height: 60px;
      margin-top: -5px;
      margin-bottom: -5px;

      figure > img { height: 60px; }
    }
  }
}
@media (max-width: 9999px) {
  body:not(.admin) {
    .offcanvas-toggle { display: block !important; }
    .navbar-nav.responsive { display: none !important; }
  }
}

/* Features and jumbotron segments have rounded corners on self and buttons */
.segment.feature .segment-bg-container,
.segment-content-wrap.jumbotron {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

  p { font-weight: normal; }

  .btn {
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .btn {
    padding: 2*$padding-base-vertical 2*$padding-base-horizontal;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .btn-lg {
    padding: 2*$padding-large-vertical 2*$padding-large-horizontal;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/* All caps, loosely kerned headlines in editable content */
.segment-content .editable-content {
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.6em; }
  h2, h3 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

/* Underlined headers in text segments */
@media (min-width: $screen-md-min) {
  .segment-content.text .editable-content {
    h2, h3 {
      margin-bottom: 0.5em;
      padding-bottom: 0.25em;

      span {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: -0.25em;
          width: 100%;
          border-bottom: 2px solid currentColor;
        }
      }
    }
  }
}

/* Background blending and text shadow in feature box segments */
.segment.feature {
  .segment-content-wrap {
    transition: background-color 250ms $material-easing;
  }
  &:hover {
    .segment-bg-container { filter: none; }
    .segment-content-wrap {
      background-color: transparent !important;
    }
  }
  .editable-content {
    text-shadow: 0 0 12px rgba(0,0,0,0.667);
  }
}
