$main-nav-height: 90px !default;
$font-size-base: 16px !default;

$border-radius-base: 2px !default;
$border-radius-large: 3px !default;
$border-radius-small: 1px !default;

@import "bootstrap-variables-dark";
@import "spry_themes/material";
