/*
 * Theme specific styles targeting the element .default
 * and its descendants.
 */

.default {
  overflow-y: scroll;

  .categories {
    margin-bottom: 20px;

    .category {
      display: inline-block;
      width: 16.67%;
      min-width: 150px;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        @extend .thumbnail;
        display: block;
        margin: 0;
        padding: 5px 10px;
        outline: 0;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;

        img {
          display: none;
        }

        p {
          margin: 0;
        }
      }
    }
    .category.active a {
      @include box-shadow(0 0 3px 0 $brand-primary);
    }
  }

  .products {

    .product {
      display: inline-block;
      width: 16.67%;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        display: block;

        img {
          @extend .img-thumbnail;
        }
        h3 {
          font-size: $font-size-base;
          margin-top: 0.5em;
          margin-bottom: 0.25em;
        }
        h4 {
          margin-top: 0;
          font-size: $font-size-small;
        }
      }
    }
  }

  .product-detail {

    .form-inline {
      @extend .col-xs-7;
      @extend .col-sm-3;
      @extend .col-sm-push-6;
      @extend .text-right;
    }

    .product-actions {
      @extend .col-xs-5;
      @extend .col-sm-3;
      @extend .col-sm-push-6;
      @extend .text-right;
    }

    .product-title {
      @extend .col-xs-12;
      @extend .col-sm-6;
      @extend .col-sm-pull-6;
      margin-top: 0;
      margin-bottom: 20px;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    .product-description {
      @extend .col-md-4;
      @extend .col-xs-12;

      .product-stock {
        @extend .lead;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
      }

      .body-text {
        margin-top: 10px;
      }

      .product-pricing {
        @extend .col-sm-5;
        @extend .lead;
        @extend .text-primary;
        line-height: 30px;
      }

      .product-code {
        @extend .col-sm-7;
        @extend .text-right;
        margin-bottom: 0;
        font-size: 90%;
        line-height: 30px;
      }
    }

    .images {
      position: relative;
      padding-bottom: 60px;

      .nav {
        @extend .hidden-print;
        position: absolute;
        left: $grid-gutter-width/2;
        bottom: 0;
      }

      .tab-content {
        .image:not(:first-child) {
          @extend .hidden-print;
        }
      }

      img {
        @extend .img-responsive;
      }
    }

    .images.technical {
      @extend .col-md-2;
      @extend .col-md-offset-1;
      @extend .col-xs-5;
    }
    .images.presentational {
      @extend .col-md-5;
      @extend .col-xs-7;
    }
  }
}
