/*
 * Theme specific styles
 */

@import "bootstrap-font-awesome.scss";
@import "bootstrap-generators.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

.default {
  overflow-y: scroll;

  .page-content {
    padding-top: 30px;
  }

  .categories {
    margin-bottom: 20px;

    ul {
      list-style: none;
      padding: 0;

      li.category {
        display: inline-block;
        width: 16.67%;
        min-width: 150px;
        margin-right: 10px;
        margin-bottom: 10px;

        &.active a { @include box-shadow(0 0 3px 0 $link-color); }
        a {
          @extend .thumbnail;
          display: block;
          margin: 0;
          padding: 5px 10px;
          outline: 0;
          text-decoration: none;
          transition: all 0.2s ease-in-out 0s;

          img { display: none; }
          p { margin: 0; }
        }
      }
    }
  }

  .products {

    ul {
      list-style: none;
      padding: 0;

      li.product {
        display: inline-block;
        width: 16.67%;
        margin-right: 10px;
        margin-bottom: 10px;

        a {
          display: block;

          img { @extend .img-thumbnail; }
          h3 {
            font-size: $font-size-base;
            margin-top: 0.5em;
            margin-bottom: 0.25em;

            small {
              display: block;
              font-size: $font-size-small;
            }
          }
          .description { display: none; }
        }
        .buy-now { display: none; }
      }
    }
  }

  .product-detail {

    .product-header {
      @extend .row;
      margin-bottom: 20px;

      .product-title {
        @extend .col-xs-12;
        @extend .col-md-7;
        margin: 0;
      }
      .product-meta {
        @extend .col-xs-12;
        @extend .col-md-5;
        margin-top: 8px;

        .product-actions {
          float: right;

          .form-inline, .btn { display: inline-block; }
        }
        .product-pricing {
          @extend .text-primary;
          float: right;
          margin-right: $grid-gutter-width/2;
          font-size: $font-size-large;
          line-height: 34px;
        }
      }
    }
    .product-body {
      @extend .row;

      .product-description {
        @extend .col-md-4;
        @extend .col-xs-12;

        .product-code {
          float: right;
          font-size: $font-size-small;
          line-height: 30px;
        }
        .product-stock {
          font-size: $font-size-large;
          line-height: 30px;
        }
        .body-text { padding-top: 30px; }
        .list-group, .table { margin-top: 20px; }
      }

      .images {
        position: relative;
        padding-bottom: 60px;

        &.technical {
          @extend .col-md-2;
          @extend .col-md-offset-1;
          @extend .col-xs-5;
        }
        &.presentational {
          @extend .col-md-5;
          @extend .col-xs-7;
        }
        .nav {
          @extend .hidden-print;
          position: absolute;
          left: $grid-gutter-width/2;
          bottom: 0;
        }
        .tab-content {
          .image {
            a {
              display: block;

              img {
                @extend .img-responsive;

                &:hover {
                  @include box-shadow(0 0 8px $link-color);
                }
              }
            }
            &:not(:first-child) {
              @extend .hidden-print;
            }
          }
        }
      }
    }
  }
}
