/*
 * Theme specific styles
 */

@import "bootstrap-generators.scss";
@import "bootstrap-font-awesome.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

.default {
  overflow-y: scroll;

  ul.categories {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;

    li.category {
      display: inline-block;
      width: 16.67%;
      min-width: 150px;
      margin-right: 10px;
      margin-bottom: 10px;

      &.active a {
        @include box-shadow(0 0 3px 0 $brand-primary);
      }
      a {
        @extend .thumbnail;
        display: block;
        margin: 0;
        padding: 5px 10px;
        outline: 0;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;

        img {
          display: none;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  ul.products {
    list-style: none;
    padding: 0;

    li.product {
      display: inline-block;
      width: 16.67%;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        display: block;

        img {
          @extend .img-thumbnail;
        }
        h3 {
          font-size: $font-size-base;
          margin-top: 0.5em;
          margin-bottom: 0.25em;

          small {
            display: block;
            font-size: $font-size-small;
          }
        }
        .description {
          display: none;
        }
      }
      .buy-now {
        display: none;
      }
    }
  }

  .product-detail {
    @extend .row;

    .product-actions {
      @extend .col-xs-12;
      @extend .col-sm-5, .col-sm-push-7;
      @extend .col-md-4, .col-md-push-8;
      @extend .text-right;

      .form-inline {
        display: inline-block;
      }
    }
    .product-title {
      @extend .col-xs-12;
      @extend .col-sm-7, .col-sm-pull-5;
      @extend .col-md-8, .col-md-pull-4;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .product-description {
      @extend .col-md-4;
      @extend .col-xs-12;

      .product-stock {
        @extend .lead;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
      }
      .body-text {
        margin-top: 10px;
      }
      .product-pricing {
        @extend .col-sm-5;
        @extend .lead;
        @extend .text-primary;
        line-height: 30px;
      }
      .product-code {
        @extend .col-sm-7;
        @extend .text-right;
        margin-bottom: 0;
        font-size: 90%;
        line-height: 30px;
      }
    }

    .images {
      position: relative;
      padding-bottom: 60px;

      &.technical {
        @extend .col-md-2;
        @extend .col-md-offset-1;
        @extend .col-xs-5;
      }
      &.presentational {
        @extend .col-md-5;
        @extend .col-xs-7;
      }
      .nav {
        @extend .hidden-print;
        position: absolute;
        left: $grid-gutter-width/2;
        bottom: 0;
      }
      .tab-content {
        .image:not(:first-child) {
          @extend .hidden-print;
        }
      }
      img {
        @extend .img-responsive;
      }
    }
  }
}
