/*
 * Theme specific styles targeting the element .emek
 * and its descendants.
 */

.emek {
  padding-top: $navbar-height;
  overflow-y: scroll;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAFVBMVEXv7u/f3d/n5uff3N/w7/Dv7e/w7vA7L+vAAAAAK0lEQVR42k3KsQ0AIAwDwXeA7D8yBoSS4grLD0gPEdfQRPY3rN6knd+ymg0KYwBQlnIIcgAAAABJRU5ErkJggg==);

  #main {
    background: transparent;
  }

  #main-nav {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));

    .nav > li.active > a {
      background-color: $brand-danger;
      color: #fff;
    }
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  #page-nav {
    margin-top: 20px;
  }
  #sub-page-nav {
    display: none;
  }
  .page-content {

    img {
      @extend .img-responsive;
    }
  }

  ul.categories {
    @extend .clearfix;
    list-style: none;
    margin: 0 -1*$grid-gutter-width 20px;
    padding: 20px $grid-gutter-width/2 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAMAAADto6y6AAAAD1BMVEUgICAAAQAoKCg1NTU/Pz+suxeKAAAAOklEQVR42u2QwQkAMAgDo3b/mftSlKO4QO+VINGgZPJkarMyXb8TcaJM1/IJBtiYFh3WBDpsx8l/CbgSVgPZd9YSYQAAAABJRU5ErkJggg==);

    li.category {
      display: inline-block;
      width: 12%;
      min-width: 150px;
      padding: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      @include gradient-striped(rgba(255,255,16,0.25), 45deg);
      transition: all 0.33s ease-in-out 0s;

      a {
        display: block;
        position: relative;
        border-radius: 15px;
        padding-top: 20px;
        outline: 0;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.33);
        text-decoration: none;

        img {
          @extend .img-responsive;
          @include border-bottom-radius(15px);
        }

        p {
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px 10px;
          color: #777;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      ul {
        display: none;
      }
    }
    li.category:hover {
      @include gradient-striped(rgba(255,255,16,1), 45deg);
    }
    li.category.active {
      transform: rotate(360deg);
      @include gradient-striped(rgba(255,255,16,1), 45deg);
    }
  }

  ul.products {
    list-style: none;

    li.product {
      display: inline-block;
      width: 16.67%;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        display: block;
        text-decoration: none;

        img {
          @extend .img-thumbnail;
        }
        h3 {
          font-size: $font-size-base;
          margin-top: 0.5em;
          margin-bottom: 1em;

          .small {
            display: block;
          }
        }
        .description {
          display: none;
        }
      }
      .buy-now {
        display: none;
      }
    }
    li:hover a img {
      @include box-shadow(0 0 8px $input-border-focus);
    }
  }

  .product-detail {

    .form-inline {
      @extend .col-xs-7;
      @extend .col-sm-3;
      @extend .col-sm-push-6;
      @extend .text-right;
    }

    .product-actions {
      @extend .col-xs-5;
      @extend .col-sm-3;
      @extend .col-sm-push-6;
      @extend .text-right;
    }

    .product-title {
      @extend .col-xs-12;
      @extend .col-sm-6;
      @extend .col-sm-pull-6;
      margin-top: 0;
      margin-bottom: 20px;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    .product-description {
      position: relative;
      @extend .col-md-4;
      @extend .col-xs-12;

      .product-stock {
        display: none;
      }

      .body-text {
        margin-top: 50px;
      }

      .product-pricing {
        position: absolute;
        top: 0;
        left: $grid-gutter-width/2;
        @extend .lead;
        @extend .text-primary;
      }

      .product-code {
        position: absolute;
        top: 0;
        right: $grid-gutter-width/2;
        @extend .text-right;
        font-size: 90%;
      }
    }

    .images {
      position: relative;
      padding-bottom: 60px;

      .nav {
        @extend .hidden-print;
        position: absolute;
        left: $grid-gutter-width/2;
        bottom: 0;
      }

      .tab-content {
        .image:not(:first-child) {
          @extend .hidden-print;
        }
      }

      img {
        @extend .img-responsive;
      }
    }

    .images.technical {
      @extend .col-md-2;
      @extend .col-md-offset-1;
      @extend .col-xs-5;
    }
    .images.presentational {
      @extend .col-md-5;
      @extend .col-xs-7;
    }
  }
}
