/*
 * Theme specific styles
 */

@import "bootstrap-font-awesome.scss";
@import "bootstrap-generators.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

.emek {
  padding-top: $navbar-height;
  overflow-y: scroll;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAFVBMVEXv7u/f3d/n5uff3N/w7/Dv7e/w7vA7L+vAAAAAK0lEQVR42k3KsQ0AIAwDwXeA7D8yBoSS4grLD0gPEdfQRPY3rN6knd+ymg0KYwBQlnIIcgAAAABJRU5ErkJggg==);

  #main {
    background: transparent;
  }

  #main-nav {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  .page-content {
    padding-top: 30px;

    img {
      @extend .img-responsive;
    }
  }

  .categories {
    @extend .clearfix;
    margin: 0 -1*$grid-gutter-width 20px;
    padding: 20px $grid-gutter-width 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAMAAADto6y6AAAAD1BMVEUgICAAAQAoKCg1NTU/Pz+suxeKAAAAOklEQVR42u2QwQkAMAgDo3b/mftSlKO4QO+VINGgZPJkarMyXb8TcaJM1/IJBtiYFh3WBDpsx8l/CbgSVgPZd9YSYQAAAABJRU5ErkJggg==);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li.category {
        display: inline-block;
        width: 12%;
        min-width: 150px;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        @include gradient-striped(rgba(255,255,16,0.25), 45deg);
        transition: all 0.33s ease-in-out 0s;

        &:hover {
          @include gradient-striped(rgba(255,255,16,1), 45deg);
        }
        &.active {
          transform: rotate(360deg);
          @include gradient-striped(rgba(255,255,16,1), 45deg);
        }
        a {
          display: block;
          position: relative;
          border-radius: 15px;
          padding-top: 20px;
          outline: 0;
          background: #fff;
          border: 1px solid rgba(0,0,0,0.33);
          text-decoration: none;

          img {
            @extend .img-responsive;
            @include border-bottom-radius(15px);
          }
          p {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 10px;
            color: #777;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
        ul {
          display: none;
        }
      }
    }
  }

  .products {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li.product {
        display: inline-block;
        width: 16.67%;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover a img {
          @include box-shadow(0 0 8px $link-color);
        }
        a {
          display: block;
          text-decoration: none;

          img {
            @extend .img-thumbnail;
          }
          h3 {
            font-size: $font-size-base;
            margin-top: 0.5em;
            margin-bottom: 1em;

            .small {
              display: block;
              font-size: $font-size-small;
            }
          }
          .description {
            display: none;
          }
        }
        .buy-now {
          display: none;
        }
      }
    }
  }

  .product-detail {

    .product-header {
      @extend .row;
      margin-bottom: 20px;

      .product-title {
        @extend .col-xs-12;
        @extend .col-md-7;
        margin: 0;
      }
      .product-meta {
        @extend .col-xs-12;
        @extend .col-md-5;
        margin-top: 8px;

        .product-actions {
          float: right;

          .form-inline, .btn { display: inline-block; }
        }
        .product-pricing {
          @extend .text-primary;
          float: right;
          margin-right: $grid-gutter-width/2;
          font-size: $font-size-large;
          line-height: 34px;
        }
      }
    }
    .product-body {
      @extend .row;

      .product-description {
        @extend .col-md-4;
        @extend .col-xs-12;

        .product-code {
          float: left;
          font-size: $font-size-small;
          line-height: 30px;
        }
        .product-stock {
          float: right;
          font-size: $font-size-large;
          line-height: 30px;
        }
        .body-text { padding-top: 40px; }
        .list-group { margin: 10px 0; }
      }
      .images {
        position: relative;

        &.technical {
          @extend .col-md-2;
          @extend .col-md-offset-1;
          @extend .col-xs-5;
          min-height: 440px;
        }
        &.presentational {
          @extend .col-md-5;
          @extend .col-xs-7;
        }
        .nav {
          @extend .hidden-print;
          position: absolute;
          left: $grid-gutter-width/2;
          bottom: 0;

          > li > a {
            padding: 5px;
          }
        }
        .tab-content {
          .image {
            a {
              display: block;

              img {
                @extend .img-responsive;

                &:hover {
                  @include box-shadow(0 0 8px $link-color);
                }
              }
            }
            &:not(:first-child) {
              @extend .hidden-print;
            }
          }
        }
      }
    }
    .product-footer {
      @extend .row;

      ul.linked-products {
        list-style: none;
        padding: 0;

        li.product {
          @extend .col-sm-2;
          @extend .col-lg-1;
          float: none;
          display: inline-block;

          &:hover a img {
            @include box-shadow(0 0 8px $link-color);
          }
          a {
            display: block;
            text-decoration: none;

            img { @extend .img-thumbnail; }
            h3 {
              font-size: $font-size-base;
              margin-top: 0.25em;
              margin-bottom: 0.5em;

              .small {
                display: block;
                font-size: $font-size-small;
              }
            }
          }
        }
      }
    }
  }
}
