/*
 * Theme specific styles
 */

$brand-primary: #444;
$navbar-default-color: #222;
$navbar-default-bg: #ffcc19;
$navbar-default-link-color: #000;
$navbar-default-link-hover-color: #fff;

@import "bootstrap-generators.scss";
@import "bootstrap-font-awesome.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

.lepola {
  overflow-y: scroll;

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  ul.categories {
    @extend .nav, .nav-pills;
    z-index: $zindex-navbar;
    position: fixed;
    left: 0;
    right: 0;
    top: $navbar-height;
    padding: 5px $grid-gutter-width/2;
    font-size: $font-size-small;
    background: #fff;
    border-bottom: 1px solid #ffcc19;

    li.category {
      a {
        border-radius: 18px;

        img { display: none; }
        p { margin: 0; }
      }
    }
  }

  ul.products {
    padding-top: 48px;
    list-style: none;

    li.product {
      float: left;
      width: 16.67%
      min-width: 160px;
      max-width: 220px;
      background: #f0f0f0;

      h3 {
        margin: 0.5em 0 0;
        font-size: $font-size-base;
      }
      .description, .buy-now {
        display: none;
      }
      &:hover {
        @include box-shadow(0 0 8px $input-border-focus);
        a { text-decoration: none; }
      }
    }
  }
}
