/*
 * Theme specific styles
 */

@import "bootstrap-generators.scss";
@import "bootstrap-font-awesome.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

.lepola {
  overflow-y: scroll;

  #main-nav {
    background: #ffcc19;

    .navbar-brand, li a {
      color: #000;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  ul.categories {
    @extend .nav, .nav-pills;
    position: fixed;
    left: 0;
    right: 0;
    top: $navbar-height;
    padding: 5px $grid-gutter-width/2;
    font-size: $font-size-small;
    background: #fff;
    border-bottom: 1px solid #ffcc19;

    li {
      a {
        border-radius: 18px;

        img {
          display: none;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  ul.products {
    padding-top: 48px;
  }
}
