/*
 * Theme specific styles
 */

$brand-primary:         #337ab7 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$main-nav-height: 90px !default;
$navbar-default-bg: #fff !default;
$navbar-default-link-active-color: $brand-primary !default;
$navbar-default-link-active-bg: transparent !default;
$navbar-inverse-bg: darken($brand-primary, 17%) !default;
$navbar-inverse-link-active-bg: transparent !default;

$font-family-sans-serif: system-ui !default;
$font-size-base: 16px !default;

$border-radius-base: 2px !default;
$border-radius-large: 3px !default;
$border-radius-small: 1px !default;

$footer-color: #e5e5e5 !default;
$footer-bg:    #555555 !default;
$navmenu-inverse-link-color: #aaa !default;
$navmenu-inverse-link-hover-bg: $brand-primary !default;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

$body-tone-bg: darken($body-bg, 6%) !default;
$material-easing: cubic-bezier(0.4, 0.0, 0.2, 1) !default;


/*
 * Mixins
 */
@mixin shadow-lower {
  @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
}
@mixin shadow-higher {
  @include box-shadow(0 3px 6px rgba(0,0,0,.1));
}


/*
 * Main navigation, right aligned, 90px tall
 */
#main-nav {
  @include box-shadow(0 4px 10px rgba(0,0,0,0.2));

  > .container {
    padding-top: 20px;
    padding-bottom: 20px;

    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      height: 50px;
    }
    .navbar-body {
      display: flex;
      justify-content: flex-end;
      margin: 0 -15px 0 0;

      .navbar-left {
        @extend .navbar-right;
        float: none !important;
        margin: 0;
      }
      .navbar-right {
        margin: 0;
      }
    }
    /* Active link underlining */
    .navbar-nav > li.active:before {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      top: -20px;
      border-bottom: 3px solid $brand-primary;
    }
  }
}
#secondary-nav {
  @include box-shadow(inset 0 4px 4px -4px rgba(0,0,0,0.5));
}

/* Change the responsive breakpoint for navs to screen-sm */
@media (max-width: $screen-md-min) {
  .offcanvas-toggle { display: block !important; }
  .navbar-nav.responsive { display: none !important; }
}

/* Navbar lookup widget */
#navbar-lookup .navbar-form input { border-radius: $input-height-base/2; }

#side-nav { transition: all 250ms $material-easing; }
#side-nav.open { transition: all 200ms $material-easing; }


/*
 * Dropdown opening animation
 */
.dropdown.open .dropdown-menu:not(.datepicker),
.mega-dropdown-menu.open {
  animation: dropdown 150ms $material-easing;
}
@keyframes dropdown {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/*
 * Mega dropdown menu
 */
.mega-dropdown-menu ul.row {
  > li {
    border-right: 1px solid $table-border-color;
    &:last-child { border-right: 0; }
    > a {
      border-top: 3px solid transparent;

      &:hover, &:focus {
        border-top-color: $brand-primary;
      }
    }
  }
}

/* Price context styles */
.special-price {
  color: $brand-danger;
}
.regular-price {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  color: $text-color;
  font-weight: 300;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 2px solid $text-color;
  }
}

/* Static content headers */
.page-header h1 {
  font-size: $font-size-h3;
  font-weight: 500;
  line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: normal;

  .small {
    display: block;
    margin-top: 5px;
    text-transform: none;
  }
}

/* Feature box segments */
.segment.feature {
  .segment-bg-container {
    filter: grayscale(0%);
    transition: filter 250ms $material-easing;
  }

  &:hover {
    .segment-bg-container {
      filter: grayscale(100%);
    }
  }
}

/* Shopping cart */
#cart-contents {
  .btn-danger { @include button-outline-variant($btn-danger-bg); }
}


/*
 * Storefront and content wrappers
 */
#store-wrap { }
#categories-wrap { display: none; }
#products-wrap { }
#product-detail-wrap { background-color: $body-tone-bg; }

/* Breadcrumbs */
.breadcrumb {
  padding-left: 0;
  padding-right: 0;
}
#products-wrap > .context {
  @extend .container;
  min-height: 57px;
  padding-top: 20px;

  .breadcrumb {
    @include small;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;

    .active { font-weight: bold; }
  }
}

/*
 * Product filtering
 */
.filter-bar { background-color: rgba($brand-primary, 0.15); }


/*
 * Containers for product grid and product table
 */
.products {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Products in category order form
 */
.product-order-list > ul {
  @extend .list-group;
}
.product-order-list .product {
  @extend .list-group-item;
  display: flex;
  flex-flow: row nowrap;

  &.header {
    > a {
      .product-pricing { display: none; }
    }
  }
  &.variant {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0;

    &:not(:last-child) { border-bottom: 0; }

    > a .product-text {
      @include make-sm-column-offset(2);
      @include make-md-column-offset(1);

      h3 .small { display: inline-block; }
    }
  }
  > a {
    @include make-row;
    flex: 1 1 auto;
    margin-right: $grid-gutter-width;

    .product-image {
      @extend .hidden-xs;
      @include make-sm-column(2);
      @include make-md-column(1);

      > figure {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        @include contained-image;
      }
    }
    .product-text {
      @include make-xs-column(9);
      @include make-sm-column(8);
      @include make-md-column(9);

      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: $font-size-base;
        font-weight: 700;

        .small {
          display: block;
          margin-top: 5px;
          font-size: $font-size-small;
          color: $text-muted;
        }
      }
    }
    .product-pricing {
      @include make-xs-column(3);
      @include make-sm-column(2);
      color: $text-color;

      .price.currency {
        text-align: right;
        white-space: normal;
      }
      .regular-price { display: none; }

      .promotions {
        .promotion {
          float: right !important;

          .promotion-image { display: none; }
          .promotion-text {
            @extend .badge;
            margin-left: 5px;
            background-color: $brand-danger;
          }
        }
      }
    }
  }
  .set-order-amount {
    flex: 0 0 80px;

    .form-group {
      margin-bottom: 0;

      .form-control { text-align: right; }
    }
  }
}


/*
 * Products in product list
 */
.product-list > ul {
  @extend .list-group;
}
.product-list .product {
  @extend .list-group-item;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0;

  &:hover,
  &:focus {
    z-index: 2;
    @include shadow-higher;

    .product-text h3 { color: $link-hover-color; }
  }

  > a {
    @include make-row;
    display: block;
    flex: 1 1 auto;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;

    &:focus { outline: 0; }
    .product-image {
      @include make-xs-column(4);
      @include make-sm-column(2);

      > figure {
        height: 0;
        padding-bottom: 100%;
        @include contained-image;
      }
    }
    .product-text {
      @include make-xs-column(8);
      @include make-sm-column(10);
      padding-bottom: 30px;

      h3 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: $font-size-base;
        font-weight: 700;
        color: $link-color;

        .small { font-size: $font-size-small; }
      }
      .description { font-size: $font-size-small; }
    }
    .promotions {
      @include make-xs-column(8);
      @include make-xs-column-offset(4);
      @include make-sm-column(10);
      @include make-sm-column-offset(2);
      margin-top: -25px;

      .promotion {
        display: inline-block;

        .promotion-image { display: none; }
        .promotion-text {
          @extend .badge;
          margin-right: 5px;
          background-color: $brand-danger;
        }
      }
    }
    .premium-price {
      @include make-xs-column(8);
      @include make-xs-column-offset(4);
      @include make-sm-column(10);
      @include make-sm-column-offset(2);

      .price {
        display: inline-block;
        font-weight: bold;
      }
    }
  }
  .buy-now {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 160px;
    padding: 10px 15px;
    background-color: lighten($body-tone-bg, 5%);

    p { @include small; }
    .price {
      margin-bottom: 0;
      font-size: $font-size-h4;
      text-align: right;

      .special-price { @include clearfix; }
      .regular-price { font-size: $font-size-base; }
    }
    .add-favorite {
      > .btn {
        @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
        @include button-outline-variant($btn-danger-bg);
        border: 0;
        opacity: 0.333;
        transition: opacity 100ms $material-easing;

        &:hover {
          opacity: 1;
          background-color: transparent;
          color: $btn-danger-border;
        }
        &.disabled { display: none; }
      }
    }
    .buy-now-form {
      margin-left: $grid-gutter-width/2;

      .btn {
        @include button-variant($btn-default-color, $btn-default-bg, transparent);
        @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
        border: 0;
        text-align: left;
        transition: background-color 100ms $material-easing;
      }
    }
  }
}
@media (min-width: $screen-sm-min) {
  .product-list .product {
    display: flex;
    flex-flow: row nowrap;

    .buy-now {
      flex-flow: column nowrap;
      .regular-price {
        display: block;
        float: right;
        margin-left: 0;
      }
      .buy-now-form {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}


/*
 * Products and product cards in straight and staggered grids
 */
.product-grid > ul {
  list-style: none;
  padding-left: 0;
}
.product-grid > .straight-grid,
.product-grid > .staggered-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 0;
}
.product-grid .product {
  @include make-xs-column(6);
  @include make-sm-column(4);
  @include make-md-column(3);
  margin-bottom: 30px;
}
.product-grid .product.out-of-stock,
.product-card.out-of-stock { opacity: 0.4; }

.product-grid .product > a,
.product-card > a {
  display: block;
  position: relative;
  padding-bottom: 100px;
  background-color: $body-bg;
  color: inherit;
  text-decoration: none;

  &:hover .product-text h3 { color: $link-hover-color; }
  &:focus { outline: 0; }
}

/* Product image and text */
.product-grid .product-image {
  img {
    @include img-responsive;
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
}
.product-grid .product-text,
.product-card .product-text {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.product-grid .product-text h3,
.product-card .product-text h3 {
  margin: 0;
  font-size: $font-size-base;
  font-weight: normal;
  color: $link-color;

  .small {
    display: block;
    margin-top: 5px;
    font-size: $font-size-small;
  }
}
.product-grid .product-text .description { display: none; }

/* Product promotions */
.product-grid .promotions,
.product-card .promotions {
  padding-left: 12px;
  padding-right: 12px;

  .promotion {
    display: inline-block;

    .promotion-image { display: none; }
    .promotion-text {
      margin-top: 10px;
      @extend .badge;
      display: inline-block;
      background-color: $brand-danger;
      font-size: 16px;
      border-radius: 11px;
    }
  }
}

/* Premium teaser and pricing */
.product-grid .premium-price,
.product-card .premium-price {
}

/* Buy now widget and pricing */
.product-grid .buy-now {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
}
.product-grid .buy-now .price,
.product-card .buy-now .price {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: $gray-base;
}
.product-grid .add-favorite,
.product-card .add-favorite {
  float: right !important;

  > .btn {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    @include button-outline-variant($btn-danger-bg);
    border: 0;
    opacity: 0.333;
    transition: opacity 100ms $material-easing;

    &:hover {
      opacity: 1;
      background-color: transparent;
      color: $btn-danger-border;
    }
    &.disabled { display: none; }
  }
}
.product-grid .buy-now-form > .btn,
.product-card .buy-now-form > .btn,
.product-grid .buy-now .product-link > a,
.product-card .buy-now .product-link > a {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
  @include button-variant($btn-default-color, $btn-default-bg, transparent);
  width: 50%;
  border: 0;
  text-align: left;
  transition: background-color 100ms $material-easing;
}
.product-grid .store-link > a,
.product-card .store-link > a {
  @include button-variant($btn-default-color, $btn-default-bg, transparent);
  border: 0;
  text-align: left;
  transition: background-color 100ms $material-easing;
}
.product-grid .product .table tbody,
.product-card .table tbody {
  > tr > td:first-child,
  > tr > th:first-child {
    padding-left: 15px;
  }
  > tr > td:last-child,
  > tr > th:last-child {
    padding-right: 15px;
  }
}

/* Staggered grid includes shadows */
.product-grid .staggered-grid {
  @include make-row;

  .product {
    transform: translate3d(0, 0, 0);
    transition: transform 200ms $material-easing;

    > a {
      @include shadow-lower;
      border: 1px solid $table-border-color;
      border-radius: $border-radius-base;
      transition: box-shadow 200ms $material-easing;
    }
  }
  .product:hover {
    transform: perspective(250px) translate3d(0, -1px, 1px);

    > a {
      @include shadow-higher;
    }
  }
}

/* Straight grid variant, default for product cards */
.product-grid .straight-grid {
  @extend .grid-lines, .columns-4;

  .product {
    @include make-sm-column(3);
    margin-bottom: 0;
  }
}
.product-grid .straight-grid .product,
.product-card {
  position: relative;
  padding: 10px $grid-gutter-width/2;
  background-color: $body-bg;
  transition: box-shadow 200ms $material-easing;

  > a { padding-bottom: 90px; }
  &:hover {
    z-index: 2;
    @include shadow-higher;
  }
  .product-image {
    position: relative;

    figure {
      height: 0;
      padding-bottom: 100%;
      @include contained-image;
    }
  }
  .product-text {
    padding-left: 0;
    padding-right: 0;
  }
  .promotions {
    padding-left: 0;
    padding-right: 0;
    margin-left: -3px;
    margin-right: -3px;
  }
  .buy-now {
    position: absolute;
    right: 15px;
    bottom: 5px;
    left: 15px;
  }
  .remove {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

/* Link to more at the bottom of a grid */
.more-items-link > a {
  @include button-outline-variant($btn-primary-bg);
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.layout-container .more-items-link {
  margin-top: 10px;
}


/*
 * Product detail
 */
.product-detail {
  @extend .container;
  position: relative;
  background-color: $body-bg;
}
.product-detail .product-header,
.product-detail .product-body,
.product-detail .product-footer { @include make-row; }

/* Product header with actions */
.product-detail .product-header {
  position: relative;
  margin-top: 20px;

  .actions {
    position: absolute;
    top: 0;
    right: $grid-gutter-width/2;
    z-index: 1;

    .btn {
      float: right !important;
      width: 40px;
      height: 40px;
      background-image: asset-url('close.svg');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      border-color: transparent;
      border-radius: 20px;

      .fa { display: none; }
      &:hover { background-color: $body-tone-bg; }
    }
  }
  .categories {
    @include make-xs-column(12);
    @include make-md-column(6);
    @include make-md-column-offset(6);
    margin-bottom: 20px;

    .breadcrumb {
      @include small;
      margin-bottom: 0;
      margin-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: transparent;
    }
  }
  .tags {
    @include make-xs-column(12);
    @include make-md-column(6);
    @include make-md-column-offset(6);

    .nav {
      display: flex;
      flex-flow: row wrap;

      > li {
        margin-right: 5px;

        &:last-child { margin-right: 0; }
        > a { padding: 0; }
      }
    }
  }
  .product-title {
    @include make-xs-column(12);
    @include make-md-column(6);
    @include make-md-column-offset(6);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $font-size-h3;
    line-height: 1;
    text-transform: uppercase;

    .small {
      display: block;
      margin-top: 5px;
      text-transform: none;
    }
  }
}

/* Flexbox header for medium and larger viewports */
@media (min-width: $screen-md-min) {
  .product-detail .product-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;

    .categories { margin-bottom: auto; }
  }
}

/* Grid layout on the product body for medium and larger */
@media (min-width: $screen-md-min) {
  .product-detail .product-body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 220px auto auto auto;
    background-image: linear-gradient(to right, $body-bg, $body-bg calc(50% - 5px), $body-tone-bg calc(50% - 1px), $body-bg 50%);
  }
  .product-detail .product-footer {
    border-top: 1px solid $nav-tabs-border-color;
  }
}

/* Flexbox for smaller viewports */
@media (max-width: $screen-sm-max) {
  .product-detail .product-body {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
  }
}

/* Presentational images */
.product-detail .images.presentational {
  @include make-xs-column(12);
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  order: 1;
  max-height: 630px;
  padding-top: 30px;
  margin-bottom: 40px;
}

/* Product image galleries */
.product-detail .images .nav {
  @extend .nav-pills;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 10px;
  left: 15px;
}
.product-detail .images .nav li {
  flex: 0 1 auto;

  > a {
    padding: 4px;
    border-radius: 50%;

    &:focus { outline: 0; }
    img { @extend .img-circle; }
  }
}
.product-detail .images {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .gallery { flex: 1 0 auto; }
  .picture {
    width: 100%;
    height: 100%;
  }
  .image-link {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    &:focus { outline: 0; }
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

/* Mixin for tables to have the padding on the inside */
@mixin padded-table {
  .table > thead,
  .table > tbody {
    > tr > td:first-child,
    > tr > th:first-child {
      padding-left: $table-condensed-cell-padding + $grid-gutter-width/2;
    }
    > tr > td:last-child,
    > tr > th:last-child {
      padding-right: $table-condensed-cell-padding + $grid-gutter-width/2;
    }
  }
}

/* Product meta */
.product-meta {
  @include make-xs-column(12);
  position: static;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  order: 2;
  margin-bottom: 40px;

  .add-favorite {
    float: right !important;
    margin-top: -15px;

    > a {
      @include button-outline-variant($btn-danger-bg);
    }
  }

  .product-code {
    margin-bottom: 20px;
    font-size: 62.5%;
  }

  .buy-now {
    @include make-row;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $nav-tabs-border-color;
    border-bottom: 1px solid $nav-tabs-border-color;
    background-color: lighten($body-tone-bg, 5%);
  }
  .product-pricing,
  .buy-now > p {
    @include make-xs-column(12);
    float: none;
  }
  .price {
    display: inline-block;
    font-size: $font-size-h3;
    font-weight: 500;
    margin-bottom: 0;

    .fa {
      position: relative;
      top: -0.25em;
      font-size: $font-size-large;
      color: $brand-primary;
    }
  }
  .unit-price { font-size: $font-size-small; }
  .order-form {
    @include make-sm-column(6);
    margin-top: 20px;

    .input-group { @extend .input-group-lg; }
    .btn {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
  }
  .go-checkout {
    @include make-sm-column(6);
    margin-top: 20px;

    .btn {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      display: block;
      width: 100%;
    }
  }
  .variant-products {
    margin-bottom: 20px;

    .table-scroller {
      @include make-row;
      @include padded-table;
      max-height: 20em;
    }

    .dropdown .btn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .product-stock {
    margin-bottom: 40px;
    font-size: $font-size-small;

    dt, dd { display: inline-block; }
    dd { margin-left: 1em; }
  }
}

/* Promotions positioned outside the static product-meta */
.product-meta .promotions {
  position: absolute;
  top: 20px;
  right: $grid-gutter-width/2;

  .promotion {
    .promotion-image { display: none; }
    .promotion-text {
      @extend .badge;
      display: block;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 15px;
      font-size: $font-size-large;
      background-color: $brand-danger;
    }
  }
}
@media (min-width: $screen-md-min) {
  .product-meta .promotions {
    right: calc(50% + #{$grid-gutter-width}/2);
  }
}

/* Product description and properties */
.product-description {
  @include make-xs-column(12);
  float: none;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  order: 3;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;

  .nav-tabs, .tab-content { padding: 0 $grid-gutter-width/2; }
}
.product-properties {
  @include make-xs-column(12);
  float: none;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  order: 4;
  padding-left: 0;
  padding-right: 0;
  @include padded-table;
}

/* Technical images */
.product-detail .images.technical {
  @include make-xs-column(12);
  float: none;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  order: 5;
}

/* Graphic tags */
.product-detail .tags.graphic {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;

  .tag {
    float: left !important;
    padding: 0 $grid-gutter-width/2;
  }
}

/* Product listings */
.promoted-products, .requisite-products {
  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-md-column-offset(1);
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Product browsers, with or without swiper
 */
.product-browser {
  position: relative;
}
.product-browser-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;

  .small {
    display: block;
    margin-top: 2px;
    font-size: $font-size-base;
    font-weight: normal;
    text-transform: none;
  }
}
.product-browser .product-grid > ul {
  display: flex;
  flex-flow: row wrap;

  &.swiper-wrapper { flex-wrap: nowrap; }
  .product {
    flex: 0 0 auto;
    align-self: flex-start;
    float: none;
    margin-bottom: 0;

    .product-image {
      height: 0;
      padding-bottom: 100%;
      @include contained-image;
    }
  }
  .swiper-slide {
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
    padding-left: 0;
    padding-right: 0;

    > .product { width: 100%; }
  }
}
@media (min-width: $screen-md-min) {
  .product-browser {
    .swiper-button-prev { left: -2 * $grid-gutter-width; }
    .swiper-button-next { right: -2 * $grid-gutter-width; }
  }
}

/* Nested lists */
.list-group.nested .toggle { transition: transform 100ms $material-easing; }


/*
 * Default site footer
 */
.default-footer {
  @include gradient-vertical(darken($footer-bg, 18%), $footer-bg, 0%, 75%);
}
.default-footer .navmenu {
  @extend .navmenu-inverse;
}
.default-footer .bordered {
  border-left: 1px solid lighten($footer-bg, 10%);
  border-right: 1px solid lighten($footer-bg, 10%);
}
