/*
 * Theme specific styles
 */

$brand-primary:         #337ab7;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$main-nav-height: 90px;
$navbar-default-bg: #fff;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;
$navbar-inverse-bg: darken($brand-primary, 17%);
$navbar-inverse-link-active-bg: transparent;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 16px;

$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 1px;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";
@import "fonts";
@import "print";


/*
 * Mixins
 */
@mixin covering-image {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@mixin shadow-lower {
  @include box-shadow(0 2px 4px rgba(0,0,0,0.2));
}
@mixin shadow-higher {
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
}


/*
 * Main navigation, right aligned, 90px tall
 */
#main-nav {
  @include box-shadow(0 4px 10px rgba(0,0,0,0.2));

  > .container {
    padding-top: 20px;
    padding-bottom: 20px;

    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;

      > img { max-height: 50px; }
    }
    .navbar-body {
      display: flex;
      justify-content: flex-end;
      margin: 0 -15px 0 0;

      .navbar-left {
        @extend .navbar-right;
        float: none !important;
        margin: 0;
      }
      .navbar-right {
        margin: 0;
      }
    }
    /* Active link underlining */
    .navbar-nav > li.active:before {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      top: -20px;
      border-bottom: 3px solid $brand-primary;
    }
  }
}
#secondary-nav {
  @include box-shadow(inset 0 2px 4px rgba(0,0,0,0.5));
}

/* Change the responsive breakpoint for navs to screen-sm */
.offcanvas-toggle { @extend .visible-sm; }
.navbar-nav.responsive { @extend .hidden-sm; }

/* Navbar lookup widget */
#navbar-lookup .navbar-form input { border-radius: $input-height-base/2; }


/*
 * Mega dropdown menu
 */
.mega-dropdown-menu {
  left: 0 !important;
}
.mega-dropdown-menu ul.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-left: 0;
  list-style: none;

  a { text-decoration: none; }
  .page-title {
    padding: 5px 0;
    line-height: 1;
  }

  > li {
    @extend .col-sm-3, .col-md-2;
    flex: 0 1 auto;
    border-right: 1px solid $table-border-color;

    &:last-child { border-right: 0; }
    > a {
      display: block;
      border-top: 3px solid transparent;

      &:hover, &:focus {
        border-top-color: $brand-primary;
      }
      .page-image {
        @include covering-image;
        height: 0;
        margin: 5px 0;
        padding-bottom: 100%;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      font-size: $font-size-small;

      > li {
        > a {
          .page-image { display: none; }
          .page-title {
            padding-left: 15px;
            &:before {
              @extend .fa;
              content: '\f0da';
              display: inline-block;
              float: left;
              width: 15px;
              margin-left: -15px;
            }
          }
        }
      }
    }
  }
}
.mega-dropdown-menu-compact ul.row {
  flex-wrap: nowrap;
}


/* Price context styles */
.special-price {
  color: $brand-danger;
  font-weight: 400;
}
.regular-price {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  color: $text-color;
  font-weight: 300;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 2px solid $text-color;
  }
}


/*
 * Storefront and content wrappers
 */
#store-wrap { }
#categories-wrap { display: none; }
#products-wrap { }
#product-detail-wrap { }


/*
 * Containers for product grid and product table
 */
.products {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Products in product grid, product cards
 */
.product-grid { @extend .row; }
.product-grid > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.product-grid .product {
  @extend .col-xs-6, .col-sm-4, .col-md-3;
  margin-bottom: 30px;
}
.product-card {
  position: relative;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-bottom: 30px;
}
.product-grid .product.out-of-stock,
.product-card.out-of-stock { opacity: 0.4; }
.product-grid .product:hover,
.product-card:hover {
  > a {
    @include shadow-higher;
  }
}
.product-grid .product > a,
.product-card > a {
  @include shadow-lower;
  display: block;
  position: relative;
  padding-bottom: 95px;
  background-color: $body-bg;
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  color: inherit;
  text-decoration: none;
}

/* Product image and text */
.product-grid .product-image,
.product-card .product-image {
  max-height: 400px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.product-grid .product-text,
.product-card .product-text {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.product-grid .product-text h3,
.product-card .product-text h3 {
  margin: 0;
  font-size: $font-size-base;
  font-weight: normal;

  .small {
    display: block;
    margin-top: 5px;
    font-size: $font-size-small;
  }
}
.product-grid .product-text .description { display: none; }

/* Product promotions */
.product-grid .promotions,
.product-card .promotions {
  padding-left: 12px;
  padding-right: 12px;
}
.product-grid .promotion,
.product-card .promotion {
  margin-top: 10px;
  @extend .badge;
  display: inline-block;
  background-color: $brand-primary;
  font-size: 16px;
}

/* Premium teaser and pricing */
.product-grid .premium-price,
.product-card .premium-price {
}

/* Buy now widget and pricing */
.product-grid .buy-now,
.product-card .buy-now {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
}
.product-grid .buy-now .price,
.product-card .buy-now .price {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: $gray-base;
}
.product-grid .buy-now-form .btn,
.product-card .buy-now-form .btn,
.product-grid .buy-now .product-link > a,
.product-card .buy-now .product-link > a {
  @extend .btn-default;
  width: 50%;
  border: 0;
  text-align: left;
  font-size: 16px;
  line-height: 1.125;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.product-grid .store-link > a,
.product-card .store-link > a {
  @extend .btn-default;
  width: 50%;
  overflow: hidden;
  border: 0;
  text-align: left;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Link to more at the bottom of a grid */
.more-items-link {
  @extend .pull-right;
  > a {
    @extend .btn, .btn-sm, .btn-primary;
  }
}
