/*
 * Theme specific styles
 */

$brand-primary:         #337ab7 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$main-nav-height: 90px;
$navbar-default-bg: #fff;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;
$navbar-inverse-bg: darken($brand-primary, 17%);
$navbar-inverse-link-active-bg: transparent;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 16px;

$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 1px;

$footer-color: #e5e5e5;
$footer-bg:    #555555;
$navmenu-inverse-bg: transparent;
$navmenu-inverse-link-color: #aaa;
$navmenu-inverse-link-hover-bg: $brand-primary;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";
@import "fonts";
@import "print";

$body-tone-bg: darken($body-bg, 6%);
$material-easing: cubic-bezier(0.4, 0.0, 0.2, 1);


/*
 * Mixins
 */
@mixin fill-up {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@mixin contained-image {
  position: relative;
  overflow: hidden;

  img {
    @include fill-up;
    object-fit: contain;
    object-position: center;
  }
}
@mixin covering-image {
  position: relative;
  overflow: hidden;

  img {
    @include fill-up;
    object-fit: cover;
    object-position: center;
  }
}
@mixin shadow-lower {
  @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
}
@mixin shadow-higher {
  @include box-shadow(0 3px 6px rgba(0,0,0,.1));
}


/*
 * Main navigation, right aligned, 90px tall
 */
#main-nav {
  @include box-shadow(0 4px 10px rgba(0,0,0,0.2));

  > .container {
    padding-top: 20px;
    padding-bottom: 20px;

    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;

      > img { max-height: 50px; }
    }
    .navbar-body {
      display: flex;
      justify-content: flex-end;
      margin: 0 -15px 0 0;

      .navbar-left {
        @extend .navbar-right;
        float: none !important;
        margin: 0;
      }
      .navbar-right {
        margin: 0;
      }
    }
    /* Active link underlining */
    .navbar-nav > li.active:before {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      top: -20px;
      border-bottom: 3px solid $brand-primary;
    }
  }
}
#secondary-nav {
  @include box-shadow(inset 0 2px 4px rgba(0,0,0,0.5));
}

/* Change the responsive breakpoint for navs to screen-sm */
.offcanvas-toggle { @extend .visible-sm; }
.navbar-nav.responsive { @extend .hidden-sm; }

/* Navbar lookup widget */
#navbar-lookup .navbar-form input { border-radius: $input-height-base/2; }

#side-nav { transition: all 250ms $material-easing; }
#side-nav.open { transition: all 200ms $material-easing; }


/*
 * Mega dropdown menu
 */
.mega-dropdown-menu {
  left: 0 !important;
}
.mega-dropdown-menu ul.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-left: 0;
  list-style: none;

  a { text-decoration: none; }
  .page-title {
    padding: 5px 0;
    line-height: 1;
  }

  > li {
    @extend .col-sm-3, .col-md-2;
    flex: 0 1 auto;
    border-right: 1px solid $table-border-color;

    &:last-child { border-right: 0; }
    > a {
      display: block;
      border-top: 3px solid transparent;

      &:hover, &:focus {
        border-top-color: $brand-primary;
      }
      .page-image {
        @include covering-image;
        height: 0;
        margin: 5px 0;
        padding-bottom: 100%;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      font-size: $font-size-small;

      > li {
        > a {
          .page-image { display: none; }
          .page-title {
            padding-left: 15px;
            &:before {
              @extend .fa;
              content: '\f0da';
              display: inline-block;
              float: left;
              width: 15px;
              margin-left: -15px;
            }
          }
        }
      }
    }
  }
}
.mega-dropdown-menu-compact ul.row {
  flex-wrap: nowrap;

  > li > a .page-image { @include contained-image; }
}


/* Price context styles */
.special-price {
  color: $brand-danger;
}
.regular-price {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  color: $text-color;
  font-weight: 300;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 2px solid $text-color;
  }
}


/*
 * Storefront and content wrappers
 */
#store-wrap { }
#categories-wrap { display: none; }
#products-wrap { }
#product-detail-wrap { background-color: $body-tone-bg; }

/* Breadcrumbs */
.breadcrumb {
  padding-left: 0;
  padding-right: 0;
}
#products-wrap > .context {
  @extend .container;
  min-height: 57px;
  padding-top: 20px;

  .breadcrumb {
    @extend .small;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;

    .active { @extend strong; }
  }
}

/*
 * Product filtering
 */
.filter-bar { background-color: rgba($brand-primary, 0.15); }


/*
 * Containers for product grid and product table
 */
.products {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Products in product list
 */
.product-list > ul {
  @extend .list-group;
}
.product-list .product {
  @extend .list-group-item;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0;

  &:hover,
  &:focus {
    z-index: 2;
    @include shadow-higher;
  }

  > a {
    @extend .row;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;

    .product-image {
      @extend .col-xs-4, .col-sm-2;

      img {
        @extend .img-responsive;
        margin: 0 auto;
      }
    }
    .product-text {
      @extend .col-xs-8, .col-sm-10;
      padding-bottom: 30px;

      h3 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: $font-size-base;
        font-weight: 700;

        .small { font-size: $font-size-small; }
      }
      .description { font-size: $font-size-small; }
    }
    .promotions {
      @extend .col-xs-8, .col-xs-offset-4;
      @extend .col-sm-10, .col-sm-offset-2;
      margin-top: -25px;

      .promotion {
        display: inline-block;

        .promotion-image { display: none; }
        .promotion-text {
          @extend .badge;
          margin-right: 5px;
          background-color: $brand-danger;
        }
      }
    }
  }
  .buy-now {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
    padding: 10px 15px;
    background-color: lighten($body-tone-bg, 5%);

    .price {
      margin-bottom: 0;
      font-size: $font-size-h4;
      text-align: right;

      .special-price { @extend .clearfix; }
      .regular-price { font-size: $font-size-base; }
    }
    .buy-now-form {
      margin-left: $grid-gutter-width/2;

      .btn {
        @extend .btn-default, .btn-lg;
        border: 0;
        text-align: left;
        transition: background-color 100ms $material-easing;
      }
    }
  }
}
@media (min-width: $screen-sm-min) {
  .product-list .product {
    display: flex;
    flex-flow: row nowrap;

    .buy-now {
      flex-flow: column nowrap;
      .regular-price {
        display: block;
        float: right;
        margin-left: 0;
      }
      .buy-now-form {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}

/*
 * Products in product grid, product cards
 */
.product-grid { @extend .row; }
.product-grid > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.product-grid .product {
  @extend .col-xs-6, .col-sm-4, .col-md-3;
  margin-bottom: 30px;
  transition: box-shadow 300ms $material-easing;
}
.product-grid .product.out-of-stock,
.product-card.out-of-stock { opacity: 0.4; }
.product-grid .product:hover {
  > a {
    @include shadow-higher;
  }
}
.product-grid .product > a,
.product-card > a {
  display: block;
  position: relative;
  padding-bottom: 100px;
  background-color: $body-bg;
  color: inherit;
  text-decoration: none;
}
.product-grid .product > a {
  @include shadow-lower;
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  transition: box-shadow 200ms $material-easing;
}

/* Product image and text */
.product-grid .product-image {
  img {
    @extend .img-responsive;
    margin: 0 auto;
  }
}
.product-grid .product-text,
.product-card .product-text {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.product-grid .product-text h3,
.product-card .product-text h3 {
  margin: 0;
  font-size: $font-size-base;
  font-weight: normal;

  .small {
    display: block;
    margin-top: 5px;
    font-size: $font-size-small;
  }
}
.product-grid .product-text .description { display: none; }

/* Product promotions */
.product-grid .promotions,
.product-card .promotions {
  padding-left: 12px;
  padding-right: 12px;

  .promotion {
    display: inline-block;

    .promotion-image { display: none; }
    .promotion-text {
      margin-top: 10px;
      @extend .badge;
      display: inline-block;
      background-color: $brand-danger;
      font-size: 16px;
      border-radius: 11px;
    }
  }
}

/* Premium teaser and pricing */
.product-grid .premium-price,
.product-card .premium-price {
}

/* Buy now widget and pricing */
.product-grid .buy-now {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
}
.product-grid .buy-now .price,
.product-card .buy-now .price {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: $gray-base;
}
.product-grid .buy-now-form .btn,
.product-card .buy-now-form .btn,
.product-grid .buy-now .product-link > a,
.product-card .buy-now .product-link > a {
  @extend .btn-default, .btn-lg;
  width: 50%;
  border: 0;
  text-align: left;
  transition: background-color 100ms $material-easing;
}
.product-grid .store-link > a,
.product-card .store-link > a {
  @extend .btn-default;
  border: 0;
  text-align: left;
  transition: background-color 100ms $material-easing;
}
.product-grid .product .table tbody,
.product-card .table tbody {
  > tr > td:first-child,
  > tr > th:first-child {
    padding-left: 15px;
  }
  > tr > td:last-child,
  > tr > th:last-child {
    padding-right: 15px;
  }
}

/* Product cards with borderless design */
.product-card {
  position: relative;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-bottom: 30px;
}
.product-card > a { padding-bottom: 90px; }
.product-card:hover {
  @include shadow-lower;
}
.product-card .product-image {
  position: relative;
  height: 0;
  padding-bottom: 100%;

  img { @extend .img-contain, .img-center; }
}
.product-card .product-text {
  padding-left: 0;
  padding-right: 0;
}
.product-card .promotions {
  padding-left: 0;
  padding-right: 0;
  margin-left: -3px;
  margin-right: -3px;
}
.product-card .buy-now {
  position: absolute;
  right: 15px;
  bottom: 5px;
  left: 15px;
}


/* Link to more at the bottom of a grid */
.more-items-link {
  @extend .pull-right;
  > a {
    @extend .btn, .btn-sm, .btn-primary;
  }
}


/*
 * Product detail
 */
.product-detail {
  @extend .container;
  position: relative;
  background-color: $body-bg;
}
.product-detail .product-header,
.product-detail .product-body,
.product-detail .product-footer { @extend .row; }

/* Product header with actions */
.product-detail .product-header {
  position: relative;
  margin-top: 20px;

  .actions {
    position: absolute;
    top: 0;
    right: $grid-gutter-width/2;
    z-index: 1;

    .btn {
      @extend .pull-right;
      width: 40px;
      height: 40px;
      background-image: asset-url('close.svg');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      border-color: transparent;
      border-radius: 20px;

      .fa { display: none; }
      &:hover { background-color: $body-tone-bg; }
    }
  }
  .categories {
    @extend .col-xs-12, .col-md-6, .col-md-offset-6;

    .breadcrumb {
      @extend .small;
      margin-bottom: 0;
      margin-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: transparent;
    }
  }
  .product-title {
    @extend .col-xs-12, .col-md-6, .col-md-offset-6;
    margin-bottom: 20px;
    font-size: $font-size-h3;
    line-height: 1;
    text-transform: uppercase;

    .small {
      display: block;
      margin-top: 5px;
      text-transform: none;
    }
  }
}

/* Absolutely positioned header for medium and larger viewports */
@media (min-width: $screen-md-min) {
  .product-detail .product-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;

    .product-title {
      position: absolute;
      bottom: 0;
    }
  }
}

/* Grid layout on the product body for medium and larger */
@media (min-width: $screen-md-min) {
  .product-detail .product-body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px auto auto auto;
    background-image: linear-gradient(to right, $body-bg, $body-bg calc(50% - 5px), $body-tone-bg calc(50% - 1px), $body-bg 50%);
  }
  .product-detail .product-footer {
    border-top: 1px solid $nav-tabs-border-color;
  }
}

/* Flexbox for smaller viewports */
@media (max-width: $screen-sm-max) {
  .product-detail .product-body {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
  }
}

/* Presentational images */
.product-detail .images.presentational {
  @extend .col-xs-12;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  align-self: start;
  order: 1;
  padding-top: 30px;
  margin-bottom: 40px;
}

/* Product image galleries */
.product-detail .images .nav {
  @extend .nav-pills;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 10px;
  left: 15px;
}
.product-detail .images .nav li {
  flex: 0 1 auto;

  > a {
    padding: 3px;
    border-radius: 15.5px;
  }
  > a img { @extend .img-circle; }
}
.product-detail .images {
  .gallery, .image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-link {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

/* Product meta */
.product-meta {
  @extend .col-xs-12;
  position: static;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  order: 2;
  margin-bottom: 40px;

  .product-code {
    margin-bottom: 20px;
    font-size: 62.5%;
  }

  .buy-now {
    @extend .row;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $nav-tabs-border-color;
    border-bottom: 1px solid $nav-tabs-border-color;
    background-color: lighten($body-tone-bg, 5%);
  }
  .product-pricing,
  .buy-now > p {
    @extend .col-xs-12;
    float: none;
  }
  .price {
    display: inline-block;
    font-size: $font-size-h3;
    font-weight: 500;
    margin-bottom: 0;

    .fa {
      position: relative;
      top: -0.25em;
      font-size: $font-size-large;
      color: $brand-primary;
    }
  }
  .unit-price { font-size: $font-size-small; }
  .order-form {
    @extend .col-sm-6;
    margin-top: 20px;

    .input-group { @extend .input-group-lg; }
    .input-group .btn { @extend .btn-success; }
  }
  .go-checkout {
    @extend .col-sm-6;
    margin-top: 20px;

    .btn { @extend .btn-block, .btn-lg; }
  }
  .variant-products {
    margin-bottom: 20px;

    .dropdown .btn {
      @extend .btn-block;
      text-align: left;
    }
  }
  .product-stock {
    margin-bottom: 40px;
    font-size: $font-size-small;

    dt, dd { display: inline-block; }
    dd { margin-left: 1em; }
  }
}

/* Promotions positioned outside the static product-meta */
.product-meta .promotions {
  position: absolute;
  top: 24px;
  right: $grid-gutter-width/2;

  .promotion {
    .promotion-image { display: none; }
    .promotion-text {
      @extend .badge;
      display: block;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 15px;
      font-size: $font-size-large;
      background-color: $brand-danger;
    }
  }
}
@media (min-width: $screen-md-min) {
  .product-meta .promotions {
    right: calc(50% + #{$grid-gutter-width}/2);
  }
}


/* Product description and properties */
.product-description {
  @extend .col-xs-12;
  float: none;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  order: 3;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;

  .nav-tabs, .tab-content { padding: 0 $grid-gutter-width/2; }
}
.product-properties {
  @extend .col-xs-12;
  float: none;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  order: 4;
  padding-left: 0;
  padding-right: 0;

  .table > thead,
  .table > tbody {
    > tr > td:first-child,
    > tr > th:first-child {
      padding-left: $table-condensed-cell-padding + $grid-gutter-width/2;
    }
    > tr > td:last-child,
    > tr > th:last-child {
      padding-right: $table-condensed-cell-padding + $grid-gutter-width/2;
    }
  }
}

/* Technical images */
.product-detail .images.technical {
  @extend .col-xs-12;
  float: none;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  order: 5;
}

/* Product footer elements */
.product-footer {
  .promoted-products {
    @extend .col-xs-12, .col-md-10, .col-md-offset-1;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .requisite-products,
  .variant-products {
    @extend .col-xs-12, .col-md-10, .col-md-offset-1;
    padding-top: 20px;
    padding-bottom: 20px;

    .product a { padding-bottom: 0; }
    .product .product-text { margin-bottom: 10px; }
  }
}
.product-footer .footer-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: $font-size-h4;
  font-weight: 700;
  text-transform: uppercase;

  .small {
    display: block;
    margin-top: 2px;
    font-size: $font-size-base;
    font-weight: normal;
    text-transform: none;
  }
}
.product-footer .product-grid > ul {
  display: flex;
  flex-flow: row wrap;

  &.swiper-wrapper { flex-wrap: nowrap; }
  .product {
    flex: 0 0 auto;
    align-self: flex-start;
    float: none;

    .product-image {
      @include contained-image;
      height: 0;
      padding-bottom: 100%;
    }
  }
  .swiper-slide {
    @extend .col-xs-6, .col-sm-4, .col-md-3;
    padding-left: 0;
    padding-right: 0;

    > .product { width: 100%; }
  }
}
@media (min-width: $screen-md-min) {
  .product-footer {
    .swiper-button-prev { left: -2 * $grid-gutter-width; }
    .swiper-button-next { right: -2 * $grid-gutter-width; }
  }
}


/*
 * Default site footer
 */
.default-footer {
  @include gradient-vertical(darken($footer-bg, 18%), $footer-bg, 0%, 75%);
}
.default-footer .navmenu {
  @extend .navmenu-inverse;
}
.default-footer .bordered {
  border-left: 1px solid lighten($footer-bg, 10%);
  border-right: 1px solid lighten($footer-bg, 10%);
}
