/*
 * Theme specific styles
 */

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$main-nav-height: 90px;
$navbar-default-bg: #fff;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;
$navbar-inverse-bg: darken($brand-primary, 17%);
$navbar-inverse-link-active-bg: transparent;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 16px;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";
@import "fonts";
@import "print";


/*
 * Main navigation, right aligned, 90px tall
 */
#main-nav {
  > .container {
    padding-top: 20px;
    padding-bottom: 20px;

    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;

      > img { max-height: 50px; }
    }
    .navbar-body {
      display: flex;
      justify-content: flex-end;
      margin: 0 -15px;

      .navbar-left {
        @extend .navbar-right;
        float: none !important;
        margin: 0;
      }
      .navbar-right {
        margin: 0;
      }
    }
    /* Active link underlining */
    .navbar-nav > li.active:before {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      top: -20px;
      border-bottom: 3px solid $brand-primary;
    }
  }
}

/* Change the responsive breakpoint for navs to screen-sm */
.offcanvas-toggle { @extend .visible-sm; }
.navbar-nav.responsive { @extend .hidden-sm; }

/* Navbar lookup widget */
#navbar-lookup { top: $main-nav-height; }
#navbar-lookup .navbar-form input { border-radius: $input-height-base/2; }

.offcanvas .inner-wrap { padding-top: $main-nav-height; }


/*
 * Mega dropdown menu
 */
.mega-dropdown-menu ul.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;

  > li {
    @extend .col-sm-3, .col-md-2;
    flex: 0 1 auto;
    margin-bottom: 20px;
  }
}
.mega-dropdown-menu-compact ul.row {
  flex-wrap: nowrap;
}
.mega-dropdown-menu ul.row > li > a {
  display: block;
  text-align: center;
}
.mega-dropdown-menu .page-image img {
  @extend .img-responsive;
}


/*
 * Storefront and content wrappers
 */
#store-wrap { }
#categories-wrap { display: none; }
#products-wrap { }
#product-detail-wrap { }


/*
 * Containers for product grid and product table
 */
.products {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Products in product grid, product cards
 */
.product-grid { @extend .row; }
.product-grid > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.product-grid .product {
  @extend .col-xs-6, .col-sm-4, .col-md-3;
  margin-bottom: 20px;
}
.product-card {
  position: relative;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-bottom: 20px;
}
.product-grid .product.out-of-stock,
.product-card.out-of-stock { opacity: 0.4; }
.product-grid .product:hover,
.product-card:hover {
  .buy-now-form .btn { @extend .btn-danger; }
  .store-link > a { @extend .btn-primary; }
}
.product-grid .product > a,
.product-card > a {
  @include box-shadow(0 2px 4x 4px rgba(0,0,0,0.1));
  display: block;
  position: relative;
  padding-bottom: 95px;
  background-color: $body-bg;
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  color: inherit;
  text-decoration: none;
}

/* Product image and text */
.product-grid .product-image,
.product-card .product-image {
  position: relative;
  max-height: 400px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.product-grid .product-text,
.product-card .product-text {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.product-grid .product-text h3,
.product-card .product-text h3 {
  margin: 0;
  font-size: $font-size-base;
  font-weight: normal;

  .small { font-size: inherit; }
}
.product-grid .product-text .description { display: none; }

/* Product promotions */
.product-grid .promotions,
.product-card .promotions {
  position: absolute;
  top: 5px;
  left: 5px;
}
.product-grid .promotion,
.product-card .promotion {
  @extend .label, .label-danger;
  @include box-shadow(0 0 4px 4px rgba(255,255,255,1));
  display: inline-block;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 0.5em;
  border-radius: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 16px;
}

/* Premium teaser and pricing */
.product-grid .premium-price,
.product-card .premium-price {
  @extend .label, .label-default;
  @include box-shadow(0 0 2px 0 rgba(0,0,0,0.2));
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: $btn-default-bg;
  color: $btn-default-color;
  border: 1px solid $btn-default-border;

  .teaser {
    display: block;
    margin-bottom: 3px;
  }
  .price {
    margin-bottom: 0;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 24px;
  }
}

/* Buy now widget and pricing */
.product-grid .buy-now,
.product-card .buy-now {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
}
.product-grid .buy-now .price,
.product-card .buy-now .price {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  margin-bottom: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 24px;
  color: $gray-base;
}
.product-grid .buy-now-form .btn,
.product-card .buy-now-form .btn,
.product-grid .buy-now .product-link > a,
.product-card .buy-now .product-link > a {
  @extend .btn-default, .btn-round;
  font-size: 16px;
  line-height: 1.125;
  border: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.product-grid .store-link > a,
.product-card .store-link > a {
  @extend .btn-default, .btn-round;
  overflow: hidden;
  border: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Link to more at the bottom of a grid */
.more-items-link {
  @extend .pull-right;
  > a {
    @extend .btn, .btn-sm, .btn-primary;
  }
}
