$main-nav-height: 80px;
$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$navbar-inverse-bg: #404040;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

$body-tone-bg: darken($body-bg, 4%);


/*
 * Extra tall navbar
 */
#main-nav {
  @include box-shadow(0 0 24px 0 rgba(0,0,0,0.5));
}
#main-nav > .container {
  padding-top: 15px;
  padding-bottom: 15px;

  .navbar-brand {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;

    figure > img { height: 50px; }
  }
}

#secondary-nav .navbar-nav > li > a {
  font-weight: 500;
  text-transform: uppercase;
}

#side-nav { opacity: 0; }
#side-nav.open { opacity: 1; }

/*
 * Less prominent mobile navbar
 */
@media (max-width: $screen-xs-max) {
  #content-wrap, .offcanvas .inner-wrap { padding-top: 60px; }
  .page-wrapper {
    margin-top: -60px;
    padding-top: 60px;
  }
  #main-nav {
    @include box-shadow(0 0 4px 0 rgba(0,0,0,0.75));
  }
  #main-nav .container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #main-nav .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;

    img { max-height: 30px; }
  }
  #navbar-lookup { top: 60px; }
}


/*
 * Navbar lookup widget, barcode widget
 */
#navbar-lookup .navbar-form input,
#page-nav .navbar-form input { border-radius: $input-height-base/2; }


/*
 * Dropdown opening animation
 */
.dropdown.open .dropdown-menu:not(.datepicker),
.mega-dropdown-menu.open {
  animation: dropdown 0.2s ease-in 0s;
}
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


/*
 * Mega dropdown menu
 */
.mega-dropdown .mega-dropdown-menu {
  max-height: calc(100vh - #{$main-nav-height + $navbar-height} - 2px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .container {
    padding: 10px $grid-gutter-width 20px;
  }
}
.mega-dropdown-menu ul.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;

  > li {
    @include make-xs-column(4);
    @include make-sm-column(3);
    @include make-md-column(2);
    flex: 0 1 auto;
    border-right: 1px solid $table-border-color;

    &:last-child { border-right: 0; }
  }
}
.mega-dropdown-menu li > a {
  color: inherit;
  text-decoration: none;

  &:hover { color: $link-hover-color; }
}
.mega-dropdown-menu li a:hover {
  .page-image { transform: scale(1.05); }
}
.mega-dropdown-menu li ul {
  list-style: none;
  padding-left: 0;
  font-size: $font-size-small;
  line-height: 1.2;
}
.mega-dropdown-menu li ul li a {
  display: block;
  position: relative;
  padding: 5px 0 0 10px;

  &:before {
    @include font-awesome;
    content: "\f0da";
    position: absolute;
    left: 0;
    font-size: 1.333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .page-title { display: inline-block; }
}
.mega-dropdown-menu h4 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: $text-muted;
}

/* Only top level items get images and styled titles */
.mega-dropdown-menu ul.row > li > a > .page-image {
  position: relative;
  transition: all 0.4s ease-in-out 0s;

  figure {
    height: 0;
    padding-bottom: 100%;
    @include contained-image;
  }
}
.mega-dropdown-menu ul.row > li > a > .page-title {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: $font-size-base;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mega-dropdown-menu li ul li a .page-image { display: none; }

@media (min-width: $screen-sm-min) {
  .mega-dropdown-menu-compact ul.row {
    flex-wrap: nowrap;
  }
}


/*
 * Storefront and content wrappers
 */
#store-wrap { min-height: 100vh; }
#categories-wrap { display: none; }
#products-wrap { }
#product-detail-wrap { }

/* Slightly darker right column on medium and up */
@media (min-width: $screen-md-min) {
  #product-detail-wrap {
    background-image: linear-gradient(to right, $body-bg, $body-bg calc((100% - 970px) / 2 + 727.5px), $body-tone-bg calc((100% - 970px) / 2 + 727.5px), $body-tone-bg);
  }
}
@media (min-width: $screen-lg-min) {
  #product-detail-wrap {
    background-image: linear-gradient(to right, $body-bg, $body-bg calc((100% - 1170px) / 2 + 877.5px), $body-tone-bg calc((100% - 1170px) / 2 + 877.5px), $body-tone-bg);
  }
}

/*
 * Product filtering
 */
.filter-bar { border-radius: $navbar-height/2; }
.filter-bar .navbar-form {
  padding-left: 9px;
  input { border-radius: $input-height-base/2; }
}
.filter-bar .view-selector {
  margin-right: 9px;
  .btn { @extend .btn-round; }
}
#products-wrap > .context {
  @extend .container;
  min-height: 57px;
  padding-top: 20px;

  .breadcrumb {
    @include small;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;

    .active { font-weight: bold; }
  }
}


/*
 * Containers for product grid and product table
 */
.products {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Page header for products in various contexts */
.category .page-header,
.department .page-header,
.promotion .page-header,
.products .page-header {
  text-align: center;
  display: block !important;
}
.category .page-header h1,
.department .page-header h1,
.promotion .page-header h1,
.products .page-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}


/*
 * Products in product list
 */
.product-list > ul {
  @extend .list-group;
}
.product-list .product {
  @include clearfix;
  @extend .list-group-item;

  &:hover,
  &:focus {
    background-color: $list-group-hover-bg;
    .buy-now .btn {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
  }
}
.product-list .product > a {
  @include make-xs-column(12);
  @include make-sm-column(9);
  @include make-md-column(10);
  padding-left: 0;
  padding-right: 0;
  color: inherit;
  text-decoration: none;
}
.product-list .product-image { display: none; }
.product-list .product-text {
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-large;
    font-weight: 300;

    .small {
      @extend .badge;
      margin-left: $grid-gutter-width;
    }
  }
  .description { display: none; }
}

/* Product promotions */
.product-list .promotions {
  display: none;
}

/* Buy now widget and price */
.product-list .buy-now {
  @include make-xs-column(12);
  @include make-sm-column(3);
  @include make-md-column(2);
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-flow: row nowrap;
  text-align: right;

  p + p { display: none; }
  .btn {
    @include button-variant($btn-default-color, $btn-default-bg, transparent);
    font-size: 16px;
    line-height: 1.125;
    border: 0;
    border-radius: 0;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  }
}
.product-list .price.currency {
  flex: 1 1 auto;
  margin-right: $grid-gutter-width/2;
  margin-bottom: 0;
  font-size: 18px;
  color: $gray-base;
}
.product-list .buy-now-form,
.product-list .product-link {
  flex: 0 0 auto;
}


/*
 * Products in product grid, product cards
 */
.product-grid { @include make-row; }
.product-grid > ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.product-grid .product {
  @include make-xs-column(6);
  @include make-sm-column(3);
  @include make-md-column(2);
  margin-bottom: 10px;
}
.product-card {
  position: relative;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-bottom: 10px;
}
.product-grid .product:hover,
.product-card:hover {
  .product-image { transform: scale(1.04); }
  .buy-now-form > .btn {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
  .store-link > a {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
}
.product-grid .product > a,
.product-card > a {
  display: block;
  position: relative;
  padding: 10px 10px 80px;
  color: inherit;
  text-decoration: none;
}

/* Product image and text */
.product-grid .product-image,
.product-card .product-image {
  position: relative;
  transition: transform 0.4s ease-in-out 0.2s;

  figure {
    height: 0;
    padding-bottom: 100%;
    @include contained-image;
  }
}
.product-grid .product-text,
.product-card .product-text {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.product-grid .product-text h3,
.product-card .product-text h3 {
  margin: 0;
  font-size: $font-size-base;
  font-weight: normal;

  .small { display: none; }
}
.product-grid .product-text .description { display: none; }

/* Product promotions */
.product-grid .promotions,
.product-card .promotions {
  display: none;
}

/* Buy now widget and pricing */
.product-grid .buy-now,
.product-card .buy-now {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
  text-align: center;
}
.product-grid .buy-now .price,
.product-card .buy-now .price {
  position: absolute;
  right: 0;
  bottom: 35px;
  left: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: $gray-base;
}
.product-grid .buy-now-form > .btn,
.product-card .buy-now-form > .btn,
.product-grid .buy-now .product-link > a,
.product-card .buy-now .product-link > a {
  @include button-variant($btn-default-color, $btn-default-bg, transparent);
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.125;
  border: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.product-grid .store-link > a,
.product-card .store-link > a {
  @include button-variant($btn-default-color, $btn-default-bg, transparent);
  display: block;
  width: 100%;
  overflow: hidden;
  border: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}


/*
 * Product detail
 */
.product-detail {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-detail .product-header,
.product-detail .product-body,
.product-detail .product-footer { @include make-row; }

/* Product header with actions */
.product-detail .product-header {
  position: relative;

  .actions {
    position: absolute;
    top: 0;
    right: $grid-gutter-width/2;
    z-index: 1;

    .btn {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
      float: right !important;
      background-color: transparent;

      > .fa { font-size: 2em; }

      &:hover {
        background-color: $brand-primary;
        color: $body-bg;
      }
    }
  }
  .categories {
    .breadcrumb {
      @include small;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: transparent;
    }
  }
  .product-title {
    @include make-xs-column(12);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: $font-size-h2;
    font-weight: 300;

    .small { display: none; }
  }
}

/* Grid layout on the product body for medium screens and up */
@media (min-width: $screen-md-min) {
  .product-detail .product-body {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto;
    margin-bottom: 20px;
  }
}

/* Flexbox for smaller viewports */
@media (max-width: $screen-sm-max) {
  .product-detail .product-body {
    display: flex;
    flex-flow: column nowrap;
  }
}

/* Product meta */
.product-meta {
  @include make-xs-column(12);
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  order: 4;
  padding-left: $grid-gutter-width;
  margin-bottom: 40px;
}
.product-meta .buy-now {
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid $panel-default-border;
}
.product-meta .product-code {
  margin-bottom: 20px;
  font-size: $font-size-small;

  .customer-code { display: none; }
}
.product-meta .price {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 0;

  .fa {
    position: relative;
    top: -0.25em;
    font-size: $font-size-large;
    color: $brand-primary;
  }
}
.product-meta .order-form {
  margin-top: 20px;

  .input-group { @extend .input-group-lg; }
  .btn {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
  }
}
.product-meta .go-checkout .btn {
  display: block;
  width: 100%;
}

.product-meta .product-stock {
  margin-bottom: 40px;

  dt { float: left !important; }
  dd { float: right !important; }
}

/* Product description and properties */
.product-description {
  @include make-xs-column(12);
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  order: 3;
  margin-bottom: 40px;
}
.product-properties {
  @include make-xs-column(12);
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  order: 2;

  .table-scroller {
    max-height: none;
    overflow-y: visible;
  }
}

/* Technical images */
.product-detail .images.technical {
  @include make-xs-column(12);
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  order: 1;
  min-height: 500px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
@media (max-width: $screen-sm-max) {
  .product-detail .images.technical { height: 500px; }
}

/* Presentational images */
.product-detail .images.presentational {
  @include make-xs-column(12);
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-top: 24px;
  padding-bottom: 40px;

  .image-link { align-items: flex-start; }
}

/* Product image galleries */
.product-detail .images .nav {
  @extend .nav-pills;
  position: absolute;
  left: $grid-gutter-width/2;
  bottom: 10px;
}
.product-detail .images .nav li {
  > a { padding: 3px; }
}
.product-detail .images {
  .gallery, .image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-link {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: transform 0.4s ease-in-out 0.2s;
    &:hover { transform: scale(1.02); }
  }
}
