$main-nav-height: 80px;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";
@import "fonts";
@import "print";

$body-tone-bg: darken($body-bg, 4%);

/*
 * Extra tall navbar
 */
#main-nav {
  @include box-shadow(0 0 24px 0 rgba(0,0,0,0.5));
}
#main-nav > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}
#main-nav .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;

  img { max-height: 50px; }
}

#side-nav { opacity: 0; }
#side-nav.open { opacity: 1; }

/*
 * Less prominent mobile navbar
 */
@media (max-width: $screen-xs-max) {
  #content-wrap, .offcanvas .inner-wrap { padding-top: 60px; }
  #mega-dropdown-wrap { top: 60px; }
  .page-wrapper {
    margin-top: -60px;
    padding-top: 60px;
  }
  #main-nav {
    @include box-shadow(0 0 4px 0 rgba(0,0,0,0.75));
  }
  #main-nav .container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #main-nav .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;

    img { max-height: 30px; }
  }
  #navbar-lookup { top: 60px; }
}


/*
 * Navbar lookup widget, barcode widget
 */
#navbar-lookup .navbar-form input,
#secondary-nav .navbar-form input { border-radius: $input-height-base/2; }


/*
 * Dropdown opening animation
 */
.dropdown.open .dropdown-menu:not(.datepicker),
.mega-dropdown-menu.open {
  animation: dropdown 0.2s ease-in 0s;
}
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


/*
 * Mega dropdown menu
 */
.mega-dropdown .mega-dropdown-menu { padding-top: 10px; }
.mega-dropdown-menu ul.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;

  > li {
    @extend .col-xs-4, .col-sm-3, .col-md-2;
    flex: 0 1 auto;
    margin-bottom: 20px;
  }
}
.mega-dropdown-menu ul.row > li > a {
  text-align: center;
}
.mega-dropdown-menu li a:hover {
  .page-image { transform: scale(1.05); }
}
.mega-dropdown-menu li ul {
  list-style: none;
  padding-left: $grid-gutter-width/2;
  border-left: 1px dotted $brand-primary;
  font-size: $font-size-small;
  line-height: 1;
}
.mega-dropdown-menu li ul li a {
  display: block;
  padding: 5px 0;
  color: inherit;
  text-decoration: none;

  &:hover { color: $link-hover-color; }
}
.mega-dropdown-menu h4 {
  @extend .text-center, .text-muted;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/* Only top level items get images and styled titles */
.mega-dropdown-menu ul.row > li > a > .page-image {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  transition: all 0.4s ease-in-out 0s;

  img { @extend .img-contain, .img-center; }
}
.mega-dropdown-menu ul.row > li > a > .page-title {
  @extend .label, .label-primary;
  display: block;
  margin-top: 10px;
  font-size: 85.714%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mega-dropdown-menu li ul li a .page-image { display: none; }

@media (min-width: $screen-sm-min) {
  .mega-dropdown-menu-compact ul.row {
    flex-wrap: nowrap;
  }
}


/*
 * Storefront and content wrappers
 */
#store-wrap { }
#categories-wrap { display: none; }
#products-wrap { }
#product-detail-wrap { }

/* Slightly darker right column on medium and up */
@media (min-width: $screen-md-min) {
  #product-detail-wrap {
    background-image: linear-gradient(to right, $body-bg, $body-bg calc((100% - 970px) / 2 + 646px), $body-tone-bg calc((100% - 970px) / 2 + 646px), $body-tone-bg);
  }
}
@media (min-width: $screen-lg-min) {
  #product-detail-wrap {
    background-image: linear-gradient(to right, $body-bg, $body-bg calc((100% - 1170px) / 2 + 780px), $body-tone-bg calc((100% - 1170px) / 2 + 780px), $body-tone-bg);
  }
}


/*
 * Product filtering and breadcrumbs
 */
.filter-bar { border-radius: $navbar-height/2; }
.filter-bar .navbar-form {
  padding-left: 9px;
  input { border-radius: $input-height-base/2; }
}
.filter-bar .view-selector {
  margin-right: 9px;
  .btn { @extend .btn-round; }
}
#products-wrap > .context {
  @extend .container;
  min-height: 53px;
  padding-top: 20px;

  .breadcrumb {
    @extend .small;
    margin-bottom: 0;
    background-color: transparent;

    .active { @extend strong; }
  }
}


/*
 * Containers for product grid and product table
 */
.products {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Page header for products in various contexts */
.category .page-header,
.department .page-header,
.promotion .page-header,
.products .page-header {
  @extend .text-center;
  display: block !important;
}
.category .page-header h1,
.department .page-header h1,
.promotion .page-header h1,
.products .page-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: -0.05em;
}
@media (min-width: $screen-sm-min) {
  .category .page-header h1,
  .department .page-header h1,
  .promotion .page-header h1,
  .products .page-header h1 { font-size: 3.6em; }
}


/*
 * Prices with superscript cents
 */
@mixin pretty-price {
  line-height: 0.88;
  word-spacing: -0.1em;
  .sep { font-size: 75%; }
  .cents {
    @extend sup;
    vertical-align: baseline;
    position: relative;
    top: -0.22em;
    left: -0.08em;
  }
}

/* Price context styles */
.special-price {
  color: $brand-danger;
  font-weight: 400;
}
.regular-price {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
  color: $text-color;
  font-weight: 300;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 2px solid $brand-primary;
  }
}


/*
 * Products in product list
 */
.product-list > ul {
  @extend .list-group;
}
.product-list .product {
  @extend .list-group-item, .clearfix;
  display: flex;
  width: 100%; // explicit width for masonry
  min-height: 95px;
  margin-bottom: 0;
  padding: 10px;
  border: 0;
  border-radius: 0 !important;

  &:hover,
  &:focus {
    background-color: $list-group-hover-bg;
    .buy-now .btn { @extend .btn-danger; }
  }
}
.product-list .product.out-of-stock { opacity: 0.4; }
.product-list .product a {
  display: block;
  position: relative;
  flex: 1 1 auto;
  padding-right: $grid-gutter-width/2;
  color: inherit;
  text-decoration: none;
}

/* Product image and text */
.product-list .product-image {
  @extend .pull-left, .box-thumbnail;

  img { bottom: auto; }
}
.product-list .product-text { padding-left: 90px; }
.product-list .product-text h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: $font-size-base;
  font-weight: 500;

  .small {
    font-size: inherit;
    font-weight: normal;
  }
}
.product-list .product-text .description {
  @extend .small;
  max-height: 51px;
  overflow: hidden;
}

/* Product promotions */
.product-list .promotions {
  position: absolute;
  top: -2px;
  right: 15px;
}
.product-list .promotion-image { display: none; }
.product-list .promotion-text {
  @extend .label, .label-danger;
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0 0.5em;
  border-radius: 15px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 14px;
}

/* Premium teaser and pricing */
.product-list .premium-price,
.product-list .premium-price {
  @extend .label, .label-default;
  position: absolute;
  right: 15px;
  bottom: 0;
  padding: 5px;
  border-radius: 0;
  background-color: $btn-default-bg;
  color: $btn-default-color;
  border: 1px solid $btn-default-border;

  .price {
    display: inline-block;
    margin-bottom: 0;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 24px;
    @include pretty-price;
  }
}

/* Buy now widget and price */
.product-list .buy-now {
  @extend .text-center;
  flex: 0 0 85px;
  width: 85px;
  display: flex;
  flex-flow: column nowrap;
}
.product-list .price.currency {
  flex: 1 1 auto;
  font-size: 18px;
  color: $gray-base;
  white-space: normal;

  .regular-price { font-size: 13px; }
}
.product-list .buy-now-form {
  flex: 0 0 auto;

  .btn {
    @extend .btn-default;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
    border: 0;
    border-radius: 0;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  }
}


/*
 * Products in product grid, product cards
 */
.product-grid { @extend .row; }
.product-grid > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.product-grid .product {
  @extend .col-xs-6, .col-sm-4, .col-md-3;
  margin-bottom: 10px;
}
.product-card {
  position: relative;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-bottom: 10px;
}
.product-grid .product.out-of-stock,
.product-card.out-of-stock { opacity: 0.4; }
.product-grid .product:hover,
.product-card:hover {
  a { border-color: $gray-lighter; }
  .product-image { transform: scale(1.04); }
  .buy-now-form .btn { @extend .btn-danger; }
  .store-link > a { @extend .btn-primary; }
}
.product-grid .product > a,
.product-card > a {
  display: block;
  position: relative;
  padding: 10px 10px 95px;
  background-color: $body-bg;
  border: 5px solid transparent;
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: 0;
    border-color: $gray-lighter;
  }
}

/* Product image and text */
.product-grid .product-image,
.product-card .product-image {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  transition: transform 0.4s ease-in-out 0.2s;

  img { @extend .img-contain, .img-center; }
}
.product-grid .product-text,
.product-card .product-text {
  height: 2.2em;
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
.product-grid .product-text h3,
.product-card .product-text h3 {
  margin: 0;
  font-size: $font-size-base;
  font-weight: normal;

  .small { font-size: inherit; }
}
.product-grid .product-text .description { display: none; }

/* Product promotions */
.product-grid .promotions,
.product-card .promotions {
  position: absolute;
  top: 5px;
  left: 5px;
}
.product-grid .promotion-image,
.product-card .promotion-image { display: none; }
.product-grid .promotion-text,
.product-card .promotion-text {
  @extend .label, .label-danger;
  @include box-shadow(0 0 4px 4px rgba(255,255,255,1));
  display: inline-block;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 0.5em;
  border-radius: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 16px;
}

/* Premium teaser and pricing */
.product-grid .premium-price,
.product-card .premium-price {
  @extend .label, .label-default;
  @include box-shadow(0 0 2px 0 rgba(0,0,0,0.2));
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: $btn-default-bg;
  color: $btn-default-color;
  border: 1px solid $btn-default-border;

  .teaser {
    display: block;
    margin-bottom: 3px;
  }
  .price {
    margin-bottom: 0;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 24px;
    @include pretty-price;
  }
}

/* Buy now widget and pricing */
.product-grid .buy-now,
.product-card .buy-now {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;
  text-align: center;
}
.product-grid .buy-now .price,
.product-card .buy-now .price {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  margin-bottom: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 24px;
  color: $gray-base;
  @include pretty-price;
}
.product-grid .buy-now-form .btn,
.product-card .buy-now-form .btn,
.product-grid .buy-now .product-link > a,
.product-card .buy-now .product-link > a {
  @extend .btn-default, .btn-round;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.125;
  border: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.product-grid .store-link > a,
.product-card .store-link > a {
  @extend .btn-default, .btn-round;
  display: block;
  width: 100%;
  overflow: hidden;
  border: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Link to more at the bottom of a grid */
.more-items-link {
  @extend .pull-right;
  > a {
    @extend .btn, .btn-sm, .btn-primary;
  }
}


/*
 * Product detail
 */
.product-detail {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-detail .product-body,
.product-detail .product-header,
.product-detail .product-footer { @extend .row; }

/* Product header with actions */
.product-detail .product-header {
  position: relative;
  height: 240px;

  .actions {
    position: absolute;
    top: 0;
    right: $grid-gutter-width/2;
    z-index: 1;

    .btn {
      @extend .btn-sm, .btn-round;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: $brand-primary;
        color: $body-bg;
      }
    }
    .fa { @extend .fa-lg; }
  }
  .categories {
    @extend .col-xs-12, .col-md-4, .col-md-offset-8;
    @extend .small;
    padding-right: $grid-gutter-width*2;

    .breadcrumb { background-color: transparent; }
    .active { @extend strong; }
  }
}

/* Product title */
.product-detail .product-header .product-title {
  @extend .col-xs-12, .col-md-4, .col-md-offset-8;
  @extend .text-center;
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  font-size: $font-size-h3;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  .small {
    display: block;
    font-size: $font-size-base;
    letter-spacing: 0.15em;
  }
}

/* Presentational images */
.product-detail .images.presentational {
  @extend .col-xs-12, .col-md-8;
  height: 600px;
  margin-top: -240px;
  margin-bottom: 40px;
}

/* On small viewports header and presentational images stack */
@media (max-width: $screen-sm-max) {
  .product-detail .product-header {
    height: auto;

    .product-title { position: static; }
  }
  .product-detail .images.presentational {
    height: 360px;
    margin-top: 0;
  }
}

/* Product meta */
.product-meta {
  @extend .col-xs-12, .col-sm-8, .col-sm-offset-2;
  @extend .col-md-4, .col-md-offset-0;
  margin-top: 40px;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
.product-meta .buy-now {
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid $panel-default-border;
}
/* Product promotions */
.product-meta .promotions {
  @extend .pull-right;
  margin-top: -10px;
}
.product-meta .promotion {
  display: inline-block;
}
.product-meta .promotion-image img {
  @extend .img-responsive;
  margin: 0 auto;
}
.product-meta .promotion-text {
  @extend .label, .label-danger;
  @include box-shadow(0 0 4px 4px rgba(255,255,255,1));
  display: inline-block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  padding: 0 0.25em;
  border-radius: 30px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 20px;
}
.product-meta .promotion-image + .promotion-text { display: none; }
.product-meta .product-code {
  position: absolute;
  top: -28px;
  padding: 5px;
  font-size: $font-size-small;
}
.product-meta .price {
  display: inline-block;
  margin-bottom: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 56px;
  font-weight: 300;
  @include pretty-price;

  .fa {
    position: relative;
    top: -0.667em;
    font-size: $font-size-large;
    color: $brand-danger;
  }
}
.product-meta .unit-price {
  @extend .text-muted;
  display: block;
  margin-left: 0.5em;
  font-size: $font-size-base;
}
.product-meta .regular-price {
  font-size: 50%;
}
.product-meta .order-form {
  margin-top: 20px;

  .input-group { @extend .input-group-lg; }
  .input-group .form-control { display: none; }
  .input-group .btn {
    @extend .btn-block, .btn-success, .btn-round;
    margin-left: 0;
  }
}
.product-meta .go-checkout .btn { @extend .btn-block, .btn-round; }

/* Variant products dropdown */
.product-meta .variant-products {
  margin-bottom: 40px;

  .btn { @extend .btn-block, .btn-round; }
  .dropdown-menu { @extend .dropdown-menu-right; }
  .dropdown-menu .media-heading {
    font-size: $font-size-h5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .dropdown-menu .media-heading .small { display: block; }
}

.product-meta .product-stock {
  margin-bottom: 40px;

  dt { @extend .pull-left; }
  dd { @extend .pull-right; }
}

/* Product description and properties */
.product-description {
  @extend .col-xs-12, .col-sm-8, .col-sm-offset-2;
  @extend .col-md-5, .col-md-offset-0, .col-md-push-3;
  margin-bottom: 40px;
}
.product-properties {
  @extend .col-xs-12, .col-sm-8, .col-sm-offset-2;
  @extend .col-md-4, .col-md-offset-0, .col-md-push-3;
  margin-bottom: 40px;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

/* Technical images */
.product-detail .images.technical {
  @extend .col-xs-12, .col-sm-8, .col-sm-offset-2;
  @extend .col-md-3, .col-md-offset-0, .col-md-pull-9;
  height: 290px;
}
@media (min-width: $screen-md-min) {
  .product-detail .images.technical .gallery {
    background-color: $body-tone-bg;
  }
}

/* Product image galleries */
.product-detail .images .nav {
  @extend .nav-pills;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 10px;
  left: 15px;
}
.product-detail .images .nav li {
  flex: 0 1 auto;

  > a {
    padding: 3px;
    border-radius: 15.5px;
  }
  > a img { @extend .img-circle; }
}
.product-detail .images {
  .gallery {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: transform 0.4s ease-in-out 0.2s;
    &:hover { transform: scale(1.02); }
  }
}

/* Product footer elements */
.product-footer {
  .promoted-products {
    @extend .col-xs-12, .col-md-10, .col-md-offset-1;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .requisite-products,
  .variant-products {
    @extend .col-xs-12, .col-md-10, .col-md-offset-1;
    padding-top: 20px;
    padding-bottom: 20px;

    .product a { padding-bottom: 0; }
    .product .product-text { margin-bottom: 10px; }
  }
}
.product-footer .footer-header {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: $font-size-h4;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  .small {
    display: block;
    margin-top: 2px;
    font-size: $font-size-base;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
  }
}
.product-footer .product-grid > ul {
  display: flex;
  flex-flow: row wrap;

  &.swiper-wrapper { flex-wrap: nowrap; }
  .product {
    flex: 0 0 auto;
    align-self: flex-start;
    float: none;
  }
  .swiper-slide {
    @extend .col-xs-6, .col-sm-4, .col-md-3;
    padding-left: 0;
    padding-right: 0;

    > .product { width: 100%; }
  }
}


/*
 * Point of sale look and feel
 */
#pos-barcode-panel {
  @extend .jumbotron;
  margin-bottom: 0;
  background-color: lighten($brand-primary, 38%);

  .form-group {
    margin-left: -2px;
    margin-right: -2px;
  }
}
.input-group-lg.input-group-round {
  .input-group-addon {
    border-radius: $input-height-large/2;
    &:first-child { @include border-right-radius(0); }
    &:last-child { @include border-left-radius(0); }
  }
  > .form-control {
    border-radius: $input-height-large/2;
    &:first-child { @include border-right-radius(0); }
    &:last-child { @include border-left-radius(0); }
  }
}

#pos-error-indicator {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 0;

  .fa {
    @extend .fa-3x;
    display: block;
    color: $brand-danger;
  }
}
#pos-order-item-form {
  padding-bottom: 40px;
}
