/*
 * Theme specific styles
 */

@import "bootstrap-generators.scss";
@import "bootstrap-font-awesome.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

.saarimedia {
  padding-top: $navbar-height;
  overflow-y: scroll;

  #main-nav {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  #page-nav {
    margin-top: 20px;
  }
  #sub-page-nav {
    display: none;
  }
  .page-content {

    img {
      @extend .img-responsive;
    }
  }

  ul.categories {
    list-style: none;
    margin: 0 -1*$grid-gutter-width 20px;
    padding: 20px $grid-gutter-width/2 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAiCAAAAADD1SApAAAA5UlEQVR4AYXUMW6EQBAF0TpSS4T//vda2dO0GgiKwDuItwRl7ef6v5L+qNSc+5EL+jZpkTZJm3LBkBxRx2TI5YLzriQ5j//O9+0hLmgz4hoz71BB56kRc552KtjFpvqjnQtWsdHJbueCVWx9Z7dzwSpWQ2q3c8GudMN6tHPBo1hV/9ntXLCK7SsZ44Jd7CXqGBdMsQ+ZdipYldYvf7dzwfwHWqRNDXXBa2Eq9dkgFfgGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gF/gGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gFz+Bp+mo8f2VxAAAAABJRU5ErkJggg==);

    li.category {
      display: inline-block;
      margin-right: -10px;
      margin-bottom: 10px;
      background: #ccc;
      @include box-shadow(0 0 6px 0 rgba(0,0,0,0.5));
      transition: all 0.2s ease-in-out 0s;

      a {
        display: block;
        position: relative;
        width: 90px;
        height: 112px;
        padding: 1px;
        outline: 0;
        overflow: hidden;
        text-decoration: none;

        img {
          display: block;
          width: 88px;
          height: auto;
        }

        p {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 30px;
          margin: 0;
          padding: 5px;
          color: #fff;
          background: rgba(0,0,0,0.5);
          font-weight: 500;
        }
      }
      ul {
        display: none;
      }
    }
    li.category:hover {
      transform: scale(1.05);
    }
    li.category.active {
      z-index: 2;
    }
    li.category.active a:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @include gradient-directional(rgba(255,255,255,0.1), rgba(255,255,255,0.9), 120deg);
    }
  }

  ul.products {

    li.product {
      display: inline-block;
      width: 16.67%;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        display: block;
        text-decoration: none;

        img {
          @extend .img-thumbnail;
        }
        h3 {
          font-size: $font-size-base;
          margin-top: 0.5em;
          margin-bottom: 1em;

          .small {
            display: block;
          }
        }
        .description {
          display: none;
        }
      }
      .buy-now {
        display: none;
      }
    }
    li:hover a img {
      @include box-shadow(0 0 8px $input-border-focus);
    }
  }

  .product-detail {

    .product-actions {
      @extend .col-xs-12;
      @extend .col-sm-6, .col-sm-push-6;
      @extend .col-md-5, .col-md-push-7;
      @extend .col-lg-4, .col-lg-push-8;
      @extend .text-right;

      .form-inline {
        float: left;
        max-width: 200px;
      }
      a { display: inline-block; }
    }

    .product-title {
      @extend .col-xs-12;
      @extend .col-sm-6, .col-sm-pull-6;
      @extend .col-md-7, .col-md-pull-5;
      @extend .col-lg-8, .col-lg-pull-4;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .product-description {
      position: relative;
      @extend .col-md-4;
      @extend .col-xs-12;

      .product-stock {
        display: none;
      }

      .body-text {
        margin-top: 50px;
      }

      .product-pricing {
        position: absolute;
        top: 0;
        left: $grid-gutter-width/2;
        @extend .lead;
        @extend .text-primary;
      }

      .product-code {
        position: absolute;
        top: 0;
        right: $grid-gutter-width/2;
        @extend .text-right;
        font-size: 90%;
      }
    }

    .images {
      position: relative;
      padding-bottom: 60px;

      .nav {
        @extend .hidden-print;
        position: absolute;
        left: $grid-gutter-width/2;
        bottom: 0;
      }

      .tab-content {
        .image:not(:first-child) {
          @extend .hidden-print;
        }
      }

      img {
        @extend .img-responsive;
      }
    }

    .images.technical {
      @extend .col-md-2;
      @extend .col-md-offset-1;
      @extend .col-xs-5;
    }
    .images.presentational {
      @extend .col-md-5;
      @extend .col-xs-7;
    }
  }
}
