/*
 * Theme specific styles
 */

@import "bootstrap-font-awesome.scss";
@import "bootstrap-generators.scss";
@import "bootstrap-tweaks.scss";
@import "fonts.scss";
@import "print.scss";

#main-nav {
  @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
}

#static-wrap {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;

    > .page-header { margin-top: 0; }
  }

  .sidebar {
    .albums {
      .album {
        @extend .clearfix;
        background-color: rgba(255,255,255,0.8);

        .gallery {
          padding-top: 5px;

          a {
            float: left;
            margin-right: 5px;
            margin-bottom: 5px;

            &:hover { @include box-shadow(0 0 4px $link-color); }
            img { @extend .img-thumbnail; }
          }
        }
      }
    }
  }
}

#search-panel-wrap {
  padding-top: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAiCAAAAADD1SApAAAA5UlEQVR4AYXUMW6EQBAF0TpSS4T//vda2dO0GgiKwDuItwRl7ef6v5L+qNSc+5EL+jZpkTZJm3LBkBxRx2TI5YLzriQ5j//O9+0hLmgz4hoz71BB56kRc552KtjFpvqjnQtWsdHJbueCVWx9Z7dzwSpWQ2q3c8GudMN6tHPBo1hV/9ntXLCK7SsZ44Jd7CXqGBdMsQ+ZdipYldYvf7dzwfwHWqRNDXXBa2Eq9dkgFfgGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gF/gGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gFz+Bp+mo8f2VxAAAAABJRU5ErkJggg==);

  .search-panel {
    @extend .container;
  }
}

#search-results-wrap {
  margin-top: 20px;

  .products {
    @extend .container;
  }
}

#categories-wrap {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAiCAAAAADD1SApAAAA5UlEQVR4AYXUMW6EQBAF0TpSS4T//vda2dO0GgiKwDuItwRl7ef6v5L+qNSc+5EL+jZpkTZJm3LBkBxRx2TI5YLzriQ5j//O9+0hLmgz4hoz71BB56kRc552KtjFpvqjnQtWsdHJbueCVWx9Z7dzwSpWQ2q3c8GudMN6tHPBo1hV/9ntXLCK7SsZ44Jd7CXqGBdMsQ+ZdipYldYvf7dzwfwHWqRNDXXBa2Eq9dkgFfgGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gF/gGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gFz+Bp+mo8f2VxAAAAABJRU5ErkJggg==);

  .categories {
    @extend .container;
    padding-top: 20px;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li.category {
        display: inline-block;
        position: relative;
        margin-right: -10px;
        margin-bottom: 10px;
        background: #ccc;
        @include box-shadow(0 0 6px 0 rgba(0,0,0,0.5));
        transition: all 0.2s ease-in-out 0s;

        &:hover { transform: scale(1.05); }
        &.active {
          a:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @include gradient-directional(rgba(255,255,255,0.1), rgba(255,255,255,0.9), 120deg);
          }
        }
        > a {
          display: block;
          position: relative;
          width: 90px;
          height: 112px;
          padding: 1px;
          outline: 0;
          overflow: hidden;
          text-decoration: none;

          img {
            display: block;
            width: 88px;
            height: auto;
          }

          p {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            margin: 0;
            padding: 5px;
            color: #fff;
            background: rgba(0,0,0,0.5);
            font-weight: 500;
          }
        }
        ul { display: none; }
      }
    }
  }
}

#products-wrap {
  .products {
    @extend .container;
    padding-top: 20px;
    padding-bottom: 20px;

    .product-grid {
      @extend .row;

      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        li.product {
          @extend .col-xs-6, .col-sm-4, .col-md-3, .col-lg-2;
          margin-bottom: 10px;

          &:hover a img { @include box-shadow(0 0 8px $link-color); }

          a {
            display: block;
            text-decoration: none;

            img {
              @extend .img-thumbnail;
            }
            h3 {
              font-size: $font-size-base;
              margin-top: 0.5em;
              margin-bottom: 1em;

              .small {
                display: block;
                font-size: $font-size-small;
              }
            }
            .description { display: none; }
          }
          .buy-now { display: none; }
        }
      }
    }
  }
}

#product-detail-wrap {
  .product-detail {
    @extend .container;
    padding-top: 40px;
    padding-bottom: 20px;

    .product-header {
      .actions {
        @extend .pull-right;

        .btn { display: inline-block; }
      }
      .product-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 500;
      }
    }
    .product-body {
      @extend .row;

      .images.presentational {
        @extend .col-xs-12, .col-sm-7, .col-md-8, .col-lg-9;
        margin-bottom: 30px;
      }
      .product-meta {
        @extend .col-xs-12, .col-sm-5, .col-md-4, .col-lg-3;

        .product-code {
          font-size: $font-size-small;
        }
        .buy-now {
          @extend .well;

          .product-pricing {
            .price {
              @extend .lead, .text-primary;
              margin-right: 0.5em;
              margin-bottom: 0;
              font-weight: 500;

              .tax-rate, .unit-price {
                @extend .text-muted;
                display: inline-block;
                font-size: $font-size-base;
                font-weight: 400;
              }
              .tax-rate { margin-left: 0.5em; }
              .unit-price { display: block; }
            }
            .retail-price {
              text-decoration: line-through;
            }
          }
          form {
            .form-group {
              margin-top: 20px;

              button {
                @extend .btn-block, .btn-lg, .btn-success;
                transition: all 0.2s ease-in-out 0s;
              }
            }
          }
          .go-checkout .btn {
            @extend .btn-block, .btn-lg;
            transition: all 0.2s ease-in-out 0s;
          }
        }
        .variant-products {
          margin-bottom: 20px;

          button { @extend .btn-block; }
          .dropdown-menu {
            @extend .dropdown-menu-right;
          }
        }
        .product-stock {
          ul {
            font-size: $font-size-small;

            > li > span { @extend .badge; }
          }
        }
      }
      .product-description {
        @extend .col-xs-12, .col-sm-12, .col-md-6, .col-lg-6;

        .body-text { margin-bottom: 20px; }
      }
      .product-properties {
        @extend .col-xs-12, .col-sm-6, .col-md-3, .col-lg-3;

        .properties, .components {
          tr > :last-child { padding-right: 10px; }
        }
      }
      .images.technical {
        @extend .col-xs-12, .col-sm-6, .col-md-3, .col-lg-3;

        .image { padding-bottom: 100%; }
      }
      .iframes {}
      .images {
        .nav { @extend .nav-tabs, .nav-sm; }
        .image {
          position: relative;
          height: 0;
          padding-bottom: 61.8%; // golden ratio

          > a.image-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            img {
              display: block;
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

.footer {}
