$masonry = $('.masonry-grid');
$items = $("#{j render partial: 'product', collection: @products}");

$masonry.masonryReveal($items);

- if @products.last_page?
  $('.pagination').html('');
- else
  $('.pagination').html("#{j link_to_next_page(@products, '', params: params, remote: true)}")
