#add-products
  = bootstrap_form_for promotion,
      url: add_products_admin_promotion_path(promotion),
      remote: true, method: :post do |f|
    = f.text_field :product_ids_string
    = f.primary t('.submit')

    :coffee
      options = #{promotion.available_products.map { |p|
        {id: p.id, code: p.code, title: p.title, subtitle: p.subtitle}
      }.to_json}

      $('#promotion_product_ids_string').selectize
        options: options
        maxItems: null
        valueField: 'id'
        sortField: [{field: 'title'}, {field: 'subtitle'}]
        searchField: ['code', 'title', 'subtitle']
        diacritics: false
        render:
          item: (item, escape) ->
            '<div>' +
            '<strong>' + escape(item.title) + '</strong> ' +
            (if item.subtitle then escape(item.subtitle) else '') +
            '</div>'
          option: (item, escape) ->
            '<div>' + escape(item.code) +
            ' <strong>' + escape(item.title) + '</strong> ' +
            (if item.subtitle then escape(item.subtitle) else '') +
            '</div>'
