#add-categories
  = bootstrap_form_for promotion,
      url: add_categories_admin_promotion_path(promotion),
      remote: true, method: :post do |f|
    = f.text_field :category_ids_string, data: {categories: Category.options_for_select(promotion.available_categories) { |c, l| {id: c.id, name: indent(c.to_s, l)} }}
    = f.submit t('.submit')

  :coffee
    categories = $('#promotion_category_ids_string').data 'categories'

    $('#promotion_category_ids_string').betterSelectize
      remove: true
      options: categories
      maxItems: null
      valueField: 'id'
      searchField: ['name']
      diacritics: false
      render:
        item: (item, escape) ->
          '<div class="item">' + escape(item.name) + '</div>'
        option: (item, escape) ->
          '<div class="option">' + escape(item.name) + '</div>'
