#add-products
  = bootstrap_form_for promotion, url: add_products_admin_promotion_path(promotion), remote: true, method: :post do |f|
    = f.text_field :product_ids_string, placeholder: t('actions.query'), class: 'selectize-tall selectize-list-group'
    = f.submit t('.submit')

  :coffee
    $('#promotion_product_ids_string').betterSelectize
      remove: true
      valueField: 'id'
      sortField: [{field: 'title'}, {field: 'subtitle'}]
      searchField: ['code', 'customer_code', 'title', 'subtitle']
      diacritics: false
      render: $.fn.selectize.product_renderer
      load: (query, callback) ->
        return callback() unless query.length > 2
        $.ajax
          url: '#{query_admin_products_path}'
          type: 'GET'
          dataType: 'json'
          data:
            q: query
            purposes: ['vanilla', 'virtual']
          error: ->
            callback()
          success: (response) ->
            callback(response)
