#add-categories
  = bootstrap_form_for promotion,
      url: add_categories_admin_promotion_path(promotion),
      remote: true, method: :post do |f|
    = f.text_field :category_ids_string, data: {categories: promotion.available_categories.map { |c| {id: c.id, name: c.to_option} }}
    = f.submit t('.submit')

    :coffee
      categories = $('#promotion_category_ids_string').data 'categories'

      $('#promotion_category_ids_string').selectize
        options: categories
        maxItems: null
        valueField: 'id'
        searchField: ['name']
        diacritics: false
        render:
          item: (item, escape) ->
            '<div>' + escape(item.name) + '</div>'
          option: (item, escape) ->
            '<div>' + escape(item.name) + '</div>'
