#add-products
  = bootstrap_form_for promotion, url: add_products_admin_promotion_path(promotion), remote: true, method: :post do |f|
    = f.text_field :product_ids_string, placeholder: t('actions.query'), class: 'selectize-tall'
    = f.submit t('.submit')

  :coffee
    $('#promotion_product_ids_string').selectize
      plugins: ['remove_button']
      dropdownParent: 'body'
      valueField: 'id'
      sortField: [{field: 'title'}, {field: 'subtitle'}]
      searchField: ['code', 'customer_code', 'title', 'subtitle']
      diacritics: false
      render: $.fn.selectize.renderers
      load: (query, callback) ->
        return callback() unless query
        $.ajax
          url: '#{query_admin_products_path}'
          type: 'GET'
          dataType: 'json'
          data:
            q: query
            purposes: ['vanilla', 'variant', 'virtual']
          error: ->
            callback()
          success: (response) ->
            callback(response)
