.segment-content.category_feature{id: segment_content_id(category_feature, context), style: background_image_style(category_feature.cover_image)}
  - if category_feature.resource.present?
    = link_to show_category_path(category_feature.resource), class: 'foreground' do
      = image_variant_tag category_feature.foreground_image, :lightbox
  - else
    = render partial: 'segments/placeholders/category_feature'
