- resource = category_menu.resource

- cache [:segment_category_menu, category_menu] do
  .segment-content.category_menu
    - if resource.present? && resource.is_a?(Category)
      %nav.navmenu{class: category_menu.inverse? ? 'navmenu-inverse' : 'navmenu-default'}
        - if category_menu.header.present?
          .navmenu-title= category_menu.header
        %ul.nav.navmenu-nav
          - resource.children.live.each do |category|
            %li= link_to category, show_category_path(category)
    - else
      = segment_placeholder(category_menu)
