.segment-content.column{id: segment_content_id(column, context)}
  .note-editor
    .note-editing-area
      - if column.body.present?
        = column.body.html_safe
      - else
        = render partial: 'segments/placeholders/column'
