- resource = department_feature.resource
- images = department_feature.images.reverse
- sizing = department_feature.image_sizing

.segment-content.department_feature{id: dom_id(department_feature)}
  - if resource.present? && resource.is_a?(Department) && images.any?
    .image-container{class: sizing}
      = link_to show_category_path(resource) do
        = image_variant_tag images.pop, :lightbox
    - images.each do |image|
      .image-container.stacked{class: sizing}
        = image_variant_tag image, :lightbox
  - else
    = render partial: 'segments/placeholders/department_feature'
