- resource = department_feature.resource
- pictures = department_feature.pictures.reverse
- sizing = department_feature.image_sizing

- cache [:segment_department_feature, department_feature] do
  .segment-content.department_feature
    - if resource.present? && resource.is_a?(Department) && pictures.any?
      .image-container{class: sizing}
        = link_to show_department_path(resource) do
          = picture_variant_tag pictures.pop, :lightbox
      - pictures.each do |picture|
        .image-container.stacked{class: sizing}
          = picture_variant_tag picture, :lightbox
    - else
      = render partial: 'segments/placeholders/department_feature'
