.segment-content.documentation{id: dom_id(documentation)}
  - if documentation.documents.any?
    .list-group
      = render documentation.documents
  - else
    = render partial: 'segments/placeholders/documentation'
