- resource = feature.resource
- picture = feature.pictures.count > 1 ? feature.pictures.last : nil
- body = feature.body.presence
- sizing = feature.image_sizing

- cache [:segment_feature, feature] do
  .segment-content.feature{class: sizing}
    - if picture
      .image-container{class: sizing}
        = picture_variant_tag picture
    .editable-content{class: [picture && 'content-overlay', feature.hyphens? && 'hyphens']}
      - if body
        = body.html_safe
      - else
        .placeholder
    - if resource.present?
      = link_to icon('link'), [:show, resource], class: 'feature-link'
