- size = gallery.thumbnail_size.presence || :thumbnail
.segment-content.gallery{id: segment_content_id(gallery, context)}
  .thumbnail-grid
    - gallery.images.each do |image|
      .thumbnail-grid-item
        = link_to image.url(:lightbox), class: 'image-link' do
          .thumbnail
            = image_variant_tag image, size
