- has_map = map.map_location.present?

.segment-content.map{id: dom_id(map), style: css(segment_style(map))}
  - if has_map
    .map-container{style: css(segment_style(map)), data: {location: map.map_location, marker: map.map_marker?, zoom: map.map_zoom || 10, theme: map.map_theme}}
  - else
    = render partial: 'segments/placeholders/map'

- if has_map
  :coffee
    jQuery ->
      $map = $('##{dom_id(map)}').find '.map-container'
      options =
        zoom: $map.data 'zoom'
        disableDefaultUI: true
        draggable: false
        scrollwheel: false
        gesturehandling: 'none'
      if $map.data('theme')?
        options.styles = $map.data 'theme'
      map = new google.maps.Map $map[0], options
      geocoder = new google.maps.Geocoder
      loc = $map.data 'location'
      results = geocoder.geocode {address: loc}, (results, status) ->
        if status is 'OK'
          latlng = results[0].geometry.location
        else
          latlng = {lat: 37.3320003, lng: -122.0329752}
        map.setCenter latlng
        if $map.data('marker')?
          marker = new google.maps.Marker
            position: latlng
            map: map
