.segment-content.map{id: segment_content_id(map, context)}
  .map-container{style: segment_style(map), data: {location: map.map_location || 'Infinite Loop, Cupertino, CA', zoom: map.map_zoom || 10}}

:coffee
  jQuery ->
    $map = $('##{segment_content_id(map, context)}').find '.map-container'
    options =
      zoom: $map.data 'zoom'
      disableDefaultUI: true
      draggable: false
      scrollwheel: false
      gesturehandling: 'none'
    map = new google.maps.Map $map[0], options
    geocoder = new google.maps.Geocoder
    loc = $map.data 'location'
    results = geocoder.geocode {address: loc}, (results, status) ->
      if status is 'OK'
        latlng = results[0].geometry.location
      else
        latlng = {lat: 37.3320003, lng: -122.0329752}
      map.setCenter latlng
      marker = new google.maps.Marker
        position: latlng
        map: map
