- resource = promotion_feature.resource
- images = promotion_feature.images.reverse
- sizing = promotion_feature.image_sizing

.segment-content.promotion_feature{id: dom_id(promotion_feature)}
  - if resource.present? && resource.is_a?(Promotion) && images.any?
    .image-container{class: sizing}
      = link_to show_promotion_path(resource) do
        = image_variant_tag images.pop, :lightbox
    - images.each do |image|
      .image-container.stacked{class: sizing}
        = image_variant_tag image, :lightbox
  - else
    = render partial: 'segments/placeholders/promotion_feature'
