- resource = product.resource

.segment-content.product{id: dom_id(product)}
  - if resource.is_a?(Product)
    .row
      = render partial: 'products/product_card', object: resource, as: :product
  - else
    = render partial: 'segments/placeholders/product'
