- resource = product_feature.resource
- images = product_feature.images.reverse
- sizing = product_feature.image_sizing

.segment-content.product_feature{id: dom_id(product_feature)}
  - if resource.present? && resource.is_a?(Product) && images.any?
    .image-container{class: sizing}
      = link_to show_product_path(resource) do
        = image_variant_tag images.pop, :lightbox
    - images.each do |image|
      .image-container.stacked{class: sizing}
        = image_variant_tag image, :lightbox
  - else
    = render partial: 'segments/placeholders/product_feature'
