- resource = product.resource

- cache [:segment_product, product] do
  .segment-content.product
    - if resource.is_a?(Product)
      = render partial: 'products/product_card', object: resource, as: :product
    - else
      = segment_placeholder(product)
