- resource = product_feature.resource
- pictures = product_feature.pictures.reverse
- sizing = product_feature.image_sizing

.segment-content.product_feature{id: dom_id(product_feature)}
  - if resource.present? && resource.is_a?(Product) && pictures.any?
    .image-container{class: sizing}
      = link_to show_product_path(resource) do
        = picture_variant_tag pictures.pop, :lightbox
    - pictures.each do |picture|
      .image-container.stacked{class: sizing}
        = picture_variant_tag picture, :lightbox
  - else
    = render partial: 'segments/placeholders/product_feature'
