.segment-content.text{id: segment_content_id(text, context)}
  - if text.body.present?
    .note-editor
      .note-editing-area
        = text.body.html_safe
  - else
    = render partial: 'segments/placeholders/text'
