.segment-content.video_player
  - if video_player.url.present?
    .video-container
      %iframe{src: video_player.url, frameborder: 0, allowfullscreen: true, mozallowfullscreen: true, webkitAllowFullScreen: true}
  - else
    = segment_placeholder(video_player)
