.segment-content.video_player{id: segment_content_id(video_player, context)}
  - if video_player.url.present?
    .video-container
      %iframe{src: video_player.url, frameborder: 0, allowfullscreen: true, mozallowfullscreen: true, webkitAllowFullScreen: true}
  - else
    = render partial: 'segments/placeholders/video_player'
