.transfer-items-table.table-responsive
  %table.table.table-form.table-hover
    %thead
      %tr
        %th= col(TransferItem, :product_title)
        %th.col-xs-4= col(TransferItem, :lot_code)
        %th.col-xs-1.text-right= col(TransferItem, :amount)
        %th.actions

    %tbody
      = render partial: 'admin/transfer_items/edit_row', collection: transfer.transfer_items, as: :transfer_item
