$('#transfer-items-table').replaceWith("#{j render partial: 'admin/transfer_items/edit_table', object: @transfer, as: :transfer}");
$('#admin-transfer-item-form').replaceWith("#{j render partial: 'admin/transfer_items/new', object: @transfer, as: :transfer}");
