- product.product_properties.each do |product_property|
  %tr[product_property]
    %td= product_property.property
    %td= product_property.value_with_units
    %td.actions
      = link_to icon('remove'), admin_product_property_path(product_property),
          remote: true, method: :delete, class: 'btn btn-sm btn-outline-danger'
