.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-xs-4= col(ProductProperty, :property_id)
        %th= col(ProductProperty, :value)

    %tbody
      - product.product_properties.each do |product_property|
        %tr[product_property]
          %td= product_property.property
          %td= product_property.value_with_units
