.footer
  %table{width: '100%'}
    %tr
      %td.content-block{width: 70}
        %p= image_tag 'stellar-vertical.svg', width: 50
      %td.content-block
        %p= t('branding.heading')
        = t('branding.body_html')
