.plan-selector
  - @plans.each do |plan|
    .plan{id: dom_id(plan)}
      .panel.panel-default
        .panel-body
          = render plan
        .panel-footer
          .check-mark
            .btn.btn-outline-primary.btn-block.disabled
              = icon('check')
          .plan-select
            = link_to new_admin_subscription_path(stripe_plan_id: plan.id), remote: true, class: 'btn btn-outline-primary btn-block' do
              = t('.select')
