.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th= col(Hostname, :fqdn)
        %th.col-xs-4= col(Hostname, :parent_hostname_id)

    %tbody#hostnames-tbody
      - store.hostnames.each do |hostname|
        %tr[hostname]
          %td= hostname
          %td= hostname.domain_hostname
