.pull-right
  = link_to icon('trash', t('actions.delete')), admin_shipment_path(shipment), remote: true, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: t('actions.confirm.body', klass: Shipment.model_name.human, name: shipment.to_s), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}
  = link_to icon('refresh', t('.refresh')), refresh_admin_shipment_path(shipment), remote: true, method: :patch, class: 'btn btn-default btn-sm'
  - if shipment.requires_dimensions?
    = link_to icon('gift', t('.edit')), edit_admin_shipment_path(shipment), remote: true, class: 'btn btn-default btn-sm'
  - if shipment.valid?
    = link_to icon('cog', t('.complete.button'), class: 'fa-spin'), complete_admin_shipment_path(shipment), remote: true, method: :patch, class: 'btn btn-primary btn-sm', data: {confirm: t('.complete.confirm', klass: Shipment.model_name.human, name: shipment.to_s), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('.complete.proceed'), 'confirm-cancel': t('.complete.cancel')}
