$('#pending-items-table').replaceWith("#{j render partial: 'admin/order_items/pending', object: @order, as: :order}");
$('#order-items-table').replaceWith("#{j render partial: 'admin/order_items/table', object: @order, as: :order}");
$('#shipments-list').replaceWith("#{j render partial: 'admin/shipments/list', object: @order, as: :order, locals: {locked: false}}");
$('#shipments-list').initialize();
$("##{dom_id(@shipment)}").effect('highlight');
