%canvas#purchases-chart{data: {source: admin_purchases_report_path(format: :json, variant: :chart), value_label: t('admin.reports.purchases.chart.value'), units_label: t('admin.reports.purchases.chart.units')}}

:coffee
  $('#purchases-chart').revenue_chart()
