%canvas#purchases-chart

:coffee
  moment.locale '#{I18n.locale}'
  $ctx = $('#purchases-chart')
  $.ajax
    url: '#{admin_purchases_report_path(format: :json)}'
    dataType: 'json'
  .done (data) ->
    chart = new Chart $ctx,
      type: 'bar'
      data:
        datasets: [
          {
            yAxisID: 'value'
            label: '#{j I18n.t("admin.reports.purchases.chart.value")}'
            data: data.daily_value
            type: 'line'
            cubicInterpolationMode: 'monotone'
            fill: false
          }
          {
            yAxisID: 'items'
            label: '#{j I18n.t("admin.reports.purchases.chart.units")}'
            data: data.daily_units
          }
        ]
      options:
        scales:
          xAxes: [
            {
              type: 'time'
              time: {unit: 'week'}
              gridLines: {display: false}
            }
          ]
          yAxes: [
            {
              id: 'value'
            }
            {
              id: 'items'
              position: 'right'
              gridLines: {display: false}
            }
          ]
