.panel.panel-default
  .panel-body
    %canvas#sales-chart{data: {labels: @sales_data.labels, dataset: @sales_data.dataset}}

:coffee
  moment.locale '#{I18n.locale}'
  $ctx = $('#sales-chart')
  chart = new Chart $ctx,
    type: 'bar',
    data:
      labels: $ctx.data 'labels'
      datasets: [
        {
          label: '#{j I18n.t("admin.reports.sales.chart.daily")}'
          data: $ctx.data 'dataset'
        }
      ]
    options:
      legend:
        display: false
      scales:
        xAxes: [{
          type: 'category'
          categoryPercentage: 0.95
          barPercentage: 1.0
        }]
      elements:
        rectangle:
          borderWidth: 1
          borderColor: 'rgba(255,255,255,0.25)'
          backgroundColor: 'rgba(20,48,72,0.5)'
