%canvas#sales-chart{data: {source: admin_sales_report_path(format: :json, variant: :chart)}}

:coffee
  moment.locale '#{I18n.locale}'
  $ctx = $('#sales-chart')
  $.ajax
    url: $ctx.data 'source'
    dataType: 'json'
  .done (data) ->
    $ctx.data 'chart', new Chart $ctx,
      type: 'bar'
      data:
        datasets: [
          {
            yAxisID: 'value'
            label: '#{j I18n.t("admin.reports.sales.chart.value")}'
            data: data.daily_value
            type: 'line'
            cubicInterpolationMode: 'monotone'
            fill: false
          }
          {
            yAxisID: 'items'
            label: '#{j I18n.t("admin.reports.sales.chart.units")}'
            data: data.daily_units
          }
        ]
      options:
        scales:
          xAxes: [
            {
              type: 'time'
              time: {unit: 'week'}
              gridLines: {display: false}
            }
          ]
          yAxes: [
            {
              id: 'value'
            }
            {
              id: 'items'
              min: 0
              position: 'right'
              gridLines: {display: false}
            }
          ]
  $ctx.on 'chart:update', (data) ->
    chart = $(this).data 'chart'
    $.ajax
      url: $(this).data 'source'
      dataType: 'json'
    .done (data) ->
      chart.data.datasets[0].data = data.daily_value
      chart.data.datasets[1].data = data.daily_units
      chart.update()
