%canvas#sales-chart{data: {source: admin_sales_report_path(format: :json, variant: :chart), value_label: t('admin.reports.sales.chart.value'), units_label: t('admin.reports.sales.chart.units')}}

:coffee
  $('#sales-chart').revenue_chart()
