%li{class: active_link_to_class(category.path)}
  - cache [navmenu, I18n.locale, :category_page, category] do
    = link_to category.path do
      - if category.resource.cover_picture.present?
        .page-image
          = picture_variant_tag category.resource.cover_picture, navmenu ? :icon : :matchbox
      .page-title
        = category
  - if category.children_count > 0
    %ul{class: navmenu && 'nav navmenu-nav'}
      - category.children.live.each do |child|
        = render partial: child.to_partial_path, object: child, locals: {navmenu: navmenu}
