%li.has-image{class: [is_active_link?(show_page_path(category)) && 'active mm-active', category.always_expand? && 'mm-active']}
  - cache [navmenu, I18n.locale, :category_page, category] do
    = link_to show_page_path(category), class: category.children_count > 0 && 'has-arrow', 'aria-disabled': category.always_expand? ? 'true' : 'false' do
      - if picture = category.cover_picture || category.resource.cover_picture
        .page-image
          = picture_variant_tag picture, :matchbox
      .page-title
        = category
  - if category.children_count > 0
    %ul{class: navmenu && 'nav navmenu-nav'}
      - category.children.visible(current_group).each do |child|
        = render partial: child.to_partial_path, object: child, locals: {navmenu: navmenu}
