%li.has-image{class: is_active_link?(show_page_path(department)) && 'active mm-active'}
  - cache [navmenu, I18n.locale, :department_page, department] do
    = link_to show_page_path(department) do
      - if picture = department.cover_picture || department.resource.cover_picture
        .page-image
          = picture_variant_tag picture, :matchbox
      .page-title
        = department
