%li.has-image{class: active_link_to_class(department.path)}
  - cache [navmenu, I18n.locale, :department_page, department] do
    = link_to department.path do
      - if department.resource.cover_picture.present?
        .page-image
          = picture_variant_tag department.resource.cover_picture, navmenu ? :icon : :matchbox
      .page-title
        = department
