- if internal.resource.present?
  %li{class: is_active_link?(show_page_path(internal.resource)) && 'active mm-active'}
    = link_to show_page_path(internal.resource) do
      .page-title
        = internal
