- if megamenu.children_count > 0
  - if navmenu
    %li
      .navmenu-header
        = megamenu
        %span.caret
      %ul.nav.navmenu-nav
        = render partial: megamenu.children.live, locals: {navmenu: true}
  - else
    %li.dropdown.mega-dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = megamenu
        %span.caret
      %ul.dropdown-menu.mega-dropdown-menu{role: 'menu'}
        .container
          .row
            = render partial: megamenu.children.live, locals: {navmenu: false}
