- if megamenu.children_count > 0
  - if navmenu
    %li{class: megamenu.always_expand? && 'mm-active'}
      %a.has-arrow{href: '#', role: 'button'}= megamenu
      %ul.nav.navmenu-nav
        - megamenu.children.visible(current_group).each do |child|
          = render partial: child.to_partial_path, object: child, locals: {navmenu: true}
  - else
    %li.dropdown.mega-dropdown
      %a{data: {toggle: 'dropdown'}, role: 'button'}
        = megamenu
        %span.caret
      .dropdown-menu.mega-dropdown-menu{role: 'menu'}
        .container
          %ul.row
            - megamenu.children.visible(current_group).each do |child|
              = render partial: child.to_partial_path, object: child, locals: {navmenu: false}
