%li{class: !primary.part_of_continuous_page? && active_link_to_class(primary.path)}
  - cache [navmenu, I18n.locale, :primary_page, primary] do
    = link_to primary.path do
      - if primary.cover_image.present?
        .page-image
          = image_variant_tag primary.cover_image, navmenu ? :icon : :matchbox
      .page-title
        = primary
