%li.has-image{class: active_link_to_class(promotion.path)}
  - cache [navmenu, I18n.locale, :promotion_page, promotion] do
    = link_to promotion.path do
      - if promotion.resource.cover_picture.present?
        .page-image
          = picture_variant_tag promotion.resource.cover_picture, navmenu ? :icon : :matchbox
      .page-title
        = promotion
