%li.dd-item{data: {id: category.id}}
  .dd-content[category]
    = render partial: 'item', object: category, as: :category
  - if category.children_count > 0
    %ol.dd-list
      = render category.children
