%li.dd-item{data: {id: category.id}, class: !category.live? && 'dd-item-warning'}
  = render category
  - if category.children_count > 0
    %ol.dd-list
      = render partial: 'nested_list_item', collection: category.children, as: :category
