= bootstrap_form_for [:admin, @category] do |f|
  .panel.panel-primary
    .panel-body
      %fieldset
        = f.select :parent_id, Category.options_for_select(current_store.categories) { |c, l| [indent(c.to_s, l), c.id] }, {include_blank: true}, {class: 'selectize'}
        = f.text_field :name, required: true
    .panel-footer
      = f.primary
