$("#{j render @category}").appendTo('#category-list > .dd-list');
$("##{dom_id(@category)}").closest('.dd-item').addClass('active');
$('#category-form').html("#{j render partial: 'admin/categories/edit'}");
$('#category-form').initialize();
$(window).scrollTo($('##{dom_id(@category)}'), 300, {offset: -$('.navbar').outerHeight(true)});
