$('#category-list .dd-item').removeClass('active');
$("##{dom_id(@category)}").closest('.dd-item').addClass('active');
$('#category-form').html("#{j render partial: 'admin/categories/edit'}");
$('#category-form').initialize();
