.page-header
  - if current_user.can_create?(Category)
    = link_to new_admin_category_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_category'))
  %h1= icon('sitemap', title(Category, count: 2))

.dd
  %ol.dd-list
    = render partial: 'nested_list_item', collection: @categories.roots, as: :category

:coffee
  $('.dd').nestable
    callback: (l, e) ->
      console.log l, e
