.page-header
  = link_to admin_categories_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('sitemap', t('.new_category'))

.row
  .col-sm-6
    = render partial: 'form', locals: {locked: false}
