.table-responsive
  %table#products-table.table.table-hover.table-loose
    %thead
      %tr
        %th.col-min
        %th= col(Product, :title)
        %th.col-xs-2= col(Product, :code)
        %th.col-min
        %th.col-min
        %th.col-min
        %th.col-min

    %tbody.rowlink{data: {link: 'row'}}
      = render partial: 'admin/products/row', collection: @products, as: :product
