.table-responsive
  %table#products-table.table.table-hover.table-nested
    %thead
      %tr
        %th.col-min
        %th.col-min
        %th= col(Product, :title)
        %th.col-min
        %th.col-min
        %th.col-min
        %th.col-min
        %th.actions

    = render partial: 'admin/products/tbody', collection: @products, as: :product

:coffee
  $('.sortable').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_products_path}',
      {reorder: $(this).sortable('toArray')}
