.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('cube', t('.new_product'))

.row
  .col-sm-7
    = render partial: 'form', locals: {locked: false}
