.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  %h1
    Product
    %span.small= @product.to_s

.row
  .col-sm-6
    = render 'form'
