$("##{dom_id(@product)}").replaceWith("#{j render partial: 'row', object: @product, as: :product}");
$("##{dom_id(@product)}").effect('highlight');
$('#product-form').html("#{j render partial: 'admin/products/edit'}");
$('#product-form').initialize();
