$('.inventory-check-items-table').replaceWith("#{j render partial: 'admin/inventory_check_items/edit_table', object: @inventory_check, as: :inventory_check}");
$("##{dom_id(@inventory_check_item)}").effect('highlight');
