= f.hidden_field :resource_type, value: 'Category'
= f.select :resource_id, Category.options_for_select(current_store.categories) { |c, l| [indent(c.to_s, l), c.id] }, {include_blank: true}, {class: 'selectize'}
