= f.hidden_field :resource_type, value: 'Page'
= f.select :resource_id, Page.options_for_select(current_store.pages.primary.excluding(@page)) { |p, l| [indent(p.to_s, l), p.id] }, {include_blank: true}, {class: 'selectize'}
