.cart-list.list-group
  = render partial: 'order_items/cart_list_item', collection: order.order_items, as: :order_item
  .list-group-item.list-group-item-info
    .pull-left.small
      = order.includes_tax? ? t('orders.receipt.tax_included') : t('orders.receipt.tax_excluded')
    %p.list-group-item-text.text-right= col(Order, :grand_total)
    %h4#grand-total.list-group-item-heading.text-right.currency
      = money order.includes_tax? ? order.grand_total_with_tax : order.grand_total_sans_tax
