$('#grand_total').replaceWith("#{j render partial: 'orders/grand_total_row', object: @order, as: :order}");
$('##{dom_id(@order_item)}').fadeOut(200, function() { this.remove(); });
$('#cart-badge').replaceWith("#{j render partial: 'store/cart_badge'}");
