- if @is_cart
  $('#cart-contents').replaceWith("#{j render partial: 'store/cart_contents', object: @order, as: :order}");
  $('#cart-badge').replaceWith("#{j render partial: 'store/cart_badge'}");
- else
  $('##{dom_id(@order_item)}').fadeOut(200, function() { this.remove(); });
