$('#cart-contents').replaceWith("#{j render partial: current_store.cart_contents_partial, object: @order, as: :order}");
$('#cart-badge').replaceWith("#{j render partial: 'store/cart_badge'}");
$("##{dom_id(@order_item)}").effect('highlight');
