.segment-content-wrap{class: [segment.alignment, segment.justification, segment.inset, segment.jumbotron? && 'jumbotron'], style: segment.style(:foregroundColor, :backgroundColor)}
  = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
