.segment-content-wrap{class: [segment.alignment, segment.inset, segment.jumbotron? && 'jumbotron'], style: css(background_color_style(segment))}
  = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
  = render partial: 'admin/segments/segment_overlay', object: segment, as: :segment
