.segment-content-wrap{class: [segment.alignment, segment.inset, segment.jumbotron? && 'jumbotron'], style: segment.style(:backgroundColor)}
  = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
