.segment-content-wrap{class: [segment.alignment, segment.justification, segment.jumbotron? && 'jumbotron'], style: segment.style(:padding, :foregroundColor, :borders)}
  = render partial: segment.to_partial_path, object: segment, locals: {context: :layout}
