%nav.segment-nav.navbar.navbar-default
  %ul.nav.navbar-nav.navbar-right
    %li.segment-handle
      %a{role: 'button'}= icon('arrows', class: 'fa-fw')
    - if segment.edit_in_place?
      %li
        = link_to edit_admin_segment_path(segment), remote: true do
          = icon('edit')
    %li
      = link_to icon('cog', class: 'fa-fw'), settings_admin_segment_path(segment), remote: true
