.segment[segment]
  .segment-shape{class: [segment.shape, segment.fixed_ratio? && 'fixed-ratio', segment.shadow, segment.animation_class], data: {'av-animation': segment.animation}}
    = render partial: 'admin/segments/content', object: segment, as: :segment
  = render partial: 'admin/segments/segment_nav', object: segment, as: :segment
