$segment = $('##{dom_id(@segment)}');
$('#section-list > .section-list-item .segment').removeClass('disabled');
$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#content-panel').fadeOut(200, function() { this.remove(); });
$segment.replaceWith("#{j render partial: 'admin/segments/segment', object: @segment}");
$segment.initialize();
