$('.section, .column, .segment').removeClass('active');
$('#section-list').addClass('editing');
$('.navbar-toolbar').empty();
$('#side-panel').removeClass('open');
var $content = $("##{dom_id(@segment)} .segment-content");
InlineEditor.create($content[0]);
