var $segment = $("##{dom_id(@segment)}");
$('.section, .column, .segment').removeClass('active');
$('.segment').addClass('disabled');
$segment.removeClass('disabled').addClass('active');
$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#content-panel').remove();
$('#side-panel').removeClass('open');
var $panel = $('<div>', {id: 'content-panel'});
$panel.hide();
$panel.html("#{j render partial: 'admin/segments/edit', object: @segment, as: :segment}");
$panel.initialize();
var $content = $segment.find('.segment-content');
$panel.appendTo($('body'));
$panel.offset($content.offset());
- if @segment.jumbotron?
  $panel.addClass('jumbotron');
$panel.css({'width': $content.css('width')});
$panel.show();
