var $segment = $("##{dom_id(@segment)}");
$('#editor-panel').destroySelectized();
$('#editor-panel').html("#{j render partial: 'admin/segments/edit', object: @segment, as: :segment}");
$('.section, .column, .segment').removeClass('active');
$segment.addClass('active');
$('#side-panel').addClass('open');
