$segment = $("##{dom_id(@segment)}");
$content = $segment.find('.segment-content');
$('#section-list > .section-list-item .segment').removeClass('active');
$segment.addClass('active');
$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#layout-form').html("#{j render partial: 'admin/segments/edit'}");
$('#layout-form').initialize();
$('#layout-form').show();
$('#layout-form').offset($content.offset());
$('#layout-form').css({'width': $content.css('width')});
