$('#editor-panel').html("#{j render partial: 'admin/segments/settings', object: @segment, as: :segment}");
$('#side-panel').removeClass('section-panel column-panel').addClass('segment-panel');
$('#side-panel').addClass('open');
