$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#content-panel').remove();
$('#section-list > .section-list-item .segment').removeClass('disabled');
$("##{dom_id(@segment)}").removeClass('active');
