$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#layout-panel').trigger('sticky_kit:detach');
$('#layout-panel').remove();
$('#section-list > .section-list-item .segment').removeClass('disabled');
$("##{dom_id(@segment)}").removeClass('active');
