$segment = $('##{dom_id(@segment)}');
$('#editor-panel').destroySelectized();
$('#editor-panel').html("#{j render partial: 'admin/segments/settings', object: @segment, as: :segment}");
$segment.replaceWith("#{j render partial: 'admin/segments/segment', object: @segment}");
$segment.addClass('active');
$segment.initialize();
