$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$("##{dom_id(@segment)}").replaceWith("#{j render partial: 'admin/segments/segment', object: @segment}");
$('#layout-form').hide();
$('#layout-form').html('');
