$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#content-panel').fadeOut(200, function() { this.remove(); });
$('#section-list > .section-list-item .segment').removeClass('disabled');
$('#editor-panel').html("#{j render partial: 'admin/segments/settings', object: @segment, as: :segment}");
$('##{dom_id(@segment)}').replaceWith("#{j render partial: 'admin/segments/segment', object: @segment}");
$('##{dom_id(@segment)}').initialize();
