$('.summernote').summernote('destroy');
$('.navbar-toolbar').empty();
$('#layout-panel').trigger('sticky_kit:detach');
$('#layout-panel').fadeOut(200, function() { this.remove(); });
$('##{dom_id(@segment)}').replaceWith("#{j render partial: 'admin/segments/segment', object: @segment}");
$('##{dom_id(@segment)}').initialize();
$('##{dom_id(@segment)}').animateCss('fadeIn');
