$("##{dom_id(@segment)} > .segment-content").html("#{j render partial: @segment.to_partial_path, object: @segment}");
$("##{dom_id(@segment)}").removeClass('active');
$('#layout-form').hide();
$('#layout-form').html('');
