%nav.column-nav.navbar.navbar-default
  %ul.nav.navbar-nav.navbar-left
    %li
      = link_to icon('cog', class: 'fa-fw'), settings_admin_column_path(column), remote: true
    %li
      = link_to icon('file-o', class: 'fa-fw'), admin_column_segments_path(column), remote: true, method: :post
    %li
      %a.paste-segment{role: 'button', data: {url: paste_admin_column_segments_path(column)}}
        = icon('paste', class: 'fa-fw')
