= render partial: 'admin/columns/form', object: column, as: :column

%fieldset
  .form-group
    %label.control-label= col(Column, :background_color)
    = text_field_tag 'column_background_color', column.background_color, class: 'form-control', data: {url: modify_admin_column_path(column)}

:coffee
  $('#column_background_color').minicolors
    theme: 'bootstrap'
    position: 'bottom left'
    format: 'rgb'
    opacity: true
    keywords: 'transparent'
    swatches: ['rgba(255,255,255,1)', 'rgba(0,0,0,1)', 'rgba(255,255,255,0)']
    change: (value) ->
      $.ajax
        url: $(this).data 'url'
        type: 'PATCH'
        data:
          column:
            background_color: value
    changeDelay: 500
