= bootstrap_form_for [:admin, column], namespace: [:column, column.id], remote: true, layout: :vertical, html: {class: 'immediate triggered'} do |f|
  %fieldset
    .form-group
      = f.label col(Column, :align)
      .btn-group.btn-group-justified{data: {toggle: 'buttons'}}
        - Column.alignment_options.each do |title, alignment|
          %label.btn.btn-default{class: column.align == alignment && 'active'}
            = f.radio_button_without_bootstrap :align, alignment
            = title
