= render partial: 'admin/columns/form', object: column, as: :column

= bootstrap_form_for [:modify, :admin, column], remote: true, html: {id: dom_id(column, :colors)} do |f|
  %fieldset
    = f.text_field :background_color, class: 'color'

:coffee
  $form = $('##{dom_id(column, :colors)}')
  $form.find('.color').minicolors
    theme: 'bootstrap'
    position: 'top left'
    format: 'rgb'
    opacity: true
    keywords: 'transparent'
    swatches: ['rgba(255,255,255,1)', 'rgba(0,0,0,1)', 'rgba(255,255,255,0)']
    change: (value) ->
      $form.trigger 'submit.rails'
    changeDelay: 500
