$("#{j render partial: 'admin/columns/column', object: @column, as: :column}").appendTo('##{dom_id(@section)} .section-content > .row');
$('##{dom_id(@column)}').animateCss('fadeIn');
$('##{dom_id(@column)}').column_sortable();
