$('#editor-panel').destroySelectized();
$('#editor-panel').html("#{j render partial: 'admin/columns/settings', object: @column, as: :column}");
$('.section, .column, .segment').removeClass('active');
$('##{dom_id(@column)}').addClass('active');
$('#side-panel').addClass('open');
