$("#{j render partial: 'admin/groups/row', object: @group, as: :group}").appendTo('#groups-table > tbody');
$("##{dom_id(@group)}").addClass('active');
$('#group-form').destroySelectized();
$('#group-form').html("#{j render partial: 'admin/groups/edit'}");
$('#group-form').initialize();
var scroll = new SmoothScroll('#content-wrap', {header: '#main-nav'});
scroll.animateScroll($('##{dom_id(@group)}')[0], null, {speed: 300});
