.page-header
  = link_to admin_groups_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('group', t('.new_group'))

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}
