/*
 * Section flexboxen
 */
.section { position: relative; }
.section-content {
  @include flex(column);
}
.section-content > .row {
  @include flex-row;
  flex-grow: 1;
}

/* Reverse order applies only on mobile viewports */
@media (max-width: $screen-xs-max) {
  .section-content.reverse > .row {
    .column:nth-child(1) { order: -1; }
    .column:nth-child(2) { order: -2; }
    .column:nth-child(3) { order: -3; }
    .column:nth-child(4) { order: -4; }
    .column:nth-child(5) { order: -5; }
    .column:nth-child(6) { order: -6; }
  }
}

@mixin no-gutters {
  padding-left: 0;
  padding-right: 0;
}

/* Gutters */
.section.no-gutters .container-fluid {
  @include no-gutters;
}
.section.no-gutters .section-content > .row {
  margin-left: 0;
  margin-right: 0;
}
.section.no-gutters .section-content .column {
  @include no-gutters;
}


/*
 * Section background image container and color overlay
 */
.section-bg-container {
  @include cover-absolute;
  clip: rect(0, auto, auto, 0);
  background-color: $body-bg;

  /* Wrapper for single image declared as background image */
  .image-bg {
    @include cover-absolute;
    background-size: cover;
    background-position: center center;
  }
  &.fixed-background .image-bg {
    position: fixed;
    transform: translateZ(0);
  }

  /* Swiper container for multiple images */
  .swiper-container {
    @include cover-absolute;
    z-index: 0;
  }
  &.fixed-background .swiper-container {
    position: fixed;
    transform: translateZ(0);
  }
  .swiper-slide {
    @include flex;
  }
  figure {
    @include cover-absolute;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.section-bg-overlay {
  @include cover-absolute;
  background-color: transparent;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


/*
 * Section content widths
 */
.section-content.col-12 {
  @include make-xs-column(12);
  @include no-gutters;
  float: none;
}
.section-content.col-10 {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include no-gutters;
  float: none;
}
.section-content.col-8 {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include no-gutters;
  float: none;
}
.section-content.col-6 {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-md-column(6);
  @include make-md-column-offset(3);
  @include no-gutters;
  float: none;
}


/*
 * Swipeable columns
 */
.section-content.swiper {
  .column-pagination { display: none; }
}
@media (max-width: $screen-xs-max) {
  .section-content.swiper {
    > .row {
      flex-wrap: nowrap;

      .column {
        flex-shrink: 0;
        width: calc(100% - #{$grid-gutter-width});
      }
    }
    .column-pagination {
      display: flex;
      position: absolute;
      justify-content: center;
    }
  }
}


/*
 * Column flexboxen
 */
.column {
  @include flex(column);
  float: none !important;
  max-height: 100%;
}
.column.align-top { justify-content: flex-start; }
.column.align-middle { justify-content: center; }
.column.align-bottom { justify-content: flex-end; }
.column.align-fill {
  justify-content: space-between;
  .segment.stretch:not(.fixed-ratio) { flex-grow: 1; }
}

/* Special zero-width column */
@media (max-width: $screen-xs-max) {
  .column.col-xs-0 { display: none; }
}

/* Column pivoting on mobile viewports */
@media (max-width: $screen-xs-max) {
  .column.pivot {
    @include flex(row, wrap);

    .segment {
      flex: 0 1 50%;
      min-width: 0;
    }
  }
  .column.pivot.align-top { align-items: flex-start }
  .column.pivot.align-middle { align-items: center; }
  .column.pivot.align-bottom { align-items: flex-end; }
}


/*
 * Column and segment backgrounds
 */
.column-bg-container,
.column-bg-overlay,
.segment-bg-container,
.segment-bg-overlay {
  @include cover-absolute;
  background-size: cover;
  background-position: center;
}


/*
 * Segment layout elements
 */
.segment {
  position: relative;
  @include flex;
  overflow: visible; // overrides Bootstrap default
}
.segment-shape {
  position: relative;
  width: 100%;
  @include flex;
}
.segment-content-wrap {
  position: relative;
  width: 100%;
  @include flex;
  background-repeat: no-repeat;

  &.jumbotron {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;

    @media (max-width: $screen-xs-max) {
      p { font-size: $font-size-large; }
    }
  }
}
.segment-content {
  position: relative;
  width: 100%;
  max-height: 100%;
  z-index: 0;
  @include flex(column);

  .segment-content-wrap.align-top & { justify-content: flex-start; }
  .segment-content-wrap.align-middle & { justify-content: center; }
  .segment-content-wrap.align-bottom & { justify-content: flex-end; }
}

/* Fixed ratio segments */
.fixed-ratio .segment-shape {
  height: 0 !important;

  .segment-content-wrap {
    @include cover-absolute;
    overflow: hidden;
  }
}

/* Shadows */
.segment-shape.shadow-light { @include box-shadow(0 1px 1px rgba(0,0,0,0.1)); }
.segment-shape.shadow-medium { @include box-shadow(0 2px 2px rgba(0,0,0,0.25)); }
.segment-shape.shadow-heavy { @include box-shadow(0 3px 3px rgba(0,0,0,0.5)); }


/*
 * Segment content styles
 */
.segment-content .page-header {
  margin-top: 0;
}
.segment-content .placeholder {
  @include flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;

  p, figure { opacity: 0.333; }
}

.segment-content.empty {
  min-height: 80px;
}

/* Image containers, swipers, and image positioning */
.segment-content .image-container,
.segment-content .swiper-container {
  max-width: 100%;
  @include flex;

  .swiper-wrapper {
    @include flex;
    height: auto;
  }
  .swiper-slide { @include flex; }

  .justify-left & { justify-content: flex-start; }
  .justify-center & { justify-content: center; }
  .justify-right & { justify-content: flex-end; }

  figure {
    max-width: 100%;
    position: relative;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px;
      font-size: $font-size-small;
      font-weight: bolder;
      text-align: center;
    }
  }
  &.sizing-contain,
  &.sizing-cover {
    figure { width: 100%; }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &.sizing-contain {
    img { object-fit: contain; }
  }
  &.sizing-cover {
    flex-grow: 1;
    img { object-fit: cover; }
  }
}

.segment-content.category,
.segment-content.product,
.segment-content.promotion,
.segment-content.department {
  .swiper-container {
    width: 100%;
    padding-bottom: 10px + $line-height-computed;
  }
  .swiper-slide {
    float: none;
    padding: 0;

    > .product-card { width: 100%; }
  }
}

.segment-content.text,
.segment-content.raw,
.segment-content.feature,
.segment-content.media {
  .editable-content {
    &.hyphens p { hyphens: auto; }

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
}

.segment-content.picture {
  .image-link {
    flex-grow: 1;
    @include flex;
  }
}

.segment-content.gallery {
  .gallery-wrap {
    flex-grow: 1;
    @include flex(row, wrap);
    justify-content: space-between;

    .gallery-item {
      @include flex;

      .image-container { width: 100%; }
      .thumbnail {
        margin-bottom: 0;
        padding: 2%;
      }
    }
  }
}

.segment-content.feature {
  .content-overlay {
    position: absolute;
    width: 100%;
  }
  .feature-link {
    @include cover-absolute;
    overflow: hidden;
    text-indent: -999px;
  }
}

.segment-content.map {
  flex-grow: 1;
  min-height: 40px;

  .map-container {
    width: 100%;
    height: 100%;
  }
}

.segment-content.video_player {
  .video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.segment-content.media {
  @include flex;

  .media-object {
    flex: 0 0 auto;
    @include flex(column);
  }
  .media-body {
    flex: 1 1 auto;
    @include flex(column);
    width: auto;
  }
  &.media-left {
    padding-right: 0;

    .media-object {
      margin-left: 0 !important;
    }
  }
  &.media-right {
    padding-left: 0;

    .media-object {
      margin-right: 0 !important;
      order: 2;
    }
    .media-body { order: 1; }
  }

  /* Vertically align media content like segment content */
  .segment-content-wrap.align-top & {
    .media-object, .media-body { justify-content: flex-start; }
  }
  .segment-content-wrap.align-middle & {
    .media-object, .media-body { justify-content: center; }
  }
  .segment-content-wrap.align-bottom & {
    .media-object, .media-body { justify-content: flex-end; }
  }
}

/* On mobile, turn media to vertical and use justify on the media object */
@media (max-width: $screen-xs-max) {
  .segment-content.media {
    flex-direction: column;

    &.media-left .media-object { margin-bottom: 20px; }
    &.media-right .media-object { margin-top: 20px; }
  }
  .justify-left {
    .segment-content.media.media-left,
    .segment-content.media.media-right {
      .media-object {
        margin-right: auto !important;
      }
    }
  }
  .justify-center {
    .segment-content.media.media-left,
    .segment-content.media.media-right {
      .media-object {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
  .justify-right {
    .segment-content.media.media-left,
    .segment-content.media.media-right {
      .media-object {
        margin-left: auto !important;
      }
    }
  }
}

.segment-content.navigation_menu {
  .navmenu { width: 100%; }
}

.segment-content.category_menu {
  .navmenu { width: 100%; }
}

.segment-content.facebook_feed {
  .post { @extend .panel, .panel-default; }
  .post .header { @extend .panel-heading; }
  .post .timestamp { float: right !important; }
  .post .body { @extend .panel-body; }
  .post .picture img { @include img-responsive; }
}


/*
 * Multicolumn content
 */
@mixin flex-columns {
  display: flex;
  flex-flow: row wrap;
  &:before,
  &:after { display: none; }
}
.columns-1 {
  @include flex-columns;
  > div {
    @include make-xs-column(12);
  }
}
.columns-2 {
  @include flex-columns;
  > div {
    @include make-xs-column(6);
  }
}
.columns-3 {
  @include flex-columns;
  > div {
    @include make-xs-column(6);
    @include make-sm-column(4);
  }
}
.columns-4 {
  @include flex-columns;
  > div {
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
  }
}
.columns-6 {
  @include flex-columns;
  > div {
    @include make-xs-column(6);
    @include make-sm-column(3);
    @include make-md-column(2);
  }
}
.columns-12 {
  @include flex-columns;
  > div {
    @include make-xs-column(6);
    @include make-sm-column(3);
    @include make-md-column(2);
    @include make-lg-column(1);
  }
}
@media (max-width: $screen-xs-max) {
  .grid-disable-xs {
    > div { width: 100%; }
  }
}

/* Narrower widths for swipers to have the next slide peek from the edge */
.swiper-wrapper {
  @media (min-width: $screen-sm-min) {
    &.columns-1 > div { width: 75%; }
    &.columns-2 > div { width: 40%; }
    &.columns-3 > div { width: 28.57142857%; }
    &.columns-4 > div { width: 28.57142857%; }
    &.columns-6 > div { width: 22.22222222%; }
    &.columns-12 > div { width: 22.22222222%; }
  }
  @media (min-width: $screen-md-min) {
    &.columns-4 > div { width: 22.22222222%; }
    &.columns-6 > div { width: 15.38461538%; }
    &.columns-12 > div { width: 15.38461538%; }
  }
  @media (min-width: $screen-lg-min) {
    &.columns-12 > div { width: 8%; }
  }
}

/* Grid lines for grids */
@mixin no-right-border {
  &:after { border-right: 0; }
}
@mixin no-bottom-border {
  &:after { border-bottom: 0; }
}
@mixin grid-line-removal($n) {
  > :nth-child(#{$n}n) { @include no-right-border; }
  > :nth-last-child(-n+#{$n}) { @include no-bottom-border; }
  > :last-child {
    @include no-right-border;
    @include no-bottom-border;
  }
}
.grid-lines {
  > div, li { align-self: stretch; }
  > :after {
    content: '';
    @include cover-absolute;
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    pointer-events: none;
  }
}

/* Removal of grid lines at the right and bottom edges */
:not(.swiper-wrapper) {
  &.grid-lines.columns-1 {
    > div, li {
      @include no-right-border;
      @include no-bottom-border;
    }
  }
  &.grid-lines.columns-2 { @include grid-line-removal(2); }
  @media (max-width: $screen-xs-max) {
    &.grid-lines { @include grid-line-removal(2); }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &.grid-lines.columns-3 { @include grid-line-removal(3); }
    &.grid-lines.columns-4,
    &.grid-lines.columns-6,
    &.grid-lines.columns-12 { @include grid-line-removal(4); }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    &.grid-lines.columns-3 { @include grid-line-removal(3); }
    &.grid-lines.columns-4 { @include grid-line-removal(4); }
    &.grid-lines.columns-6,
    &.grid-lines.columns-12 { @include grid-line-removal(6); }
  }
  @media (min-width: $screen-lg-min) {
    &.grid-lines.columns-3 { @include grid-line-removal(3); }
    &.grid-lines.columns-4 { @include grid-line-removal(4); }
    &.grid-lines.columns-6 { @include grid-line-removal(6); }
    &.grid-lines.columns-12 { @include grid-line-removal(12); }
  }
}
.grid-lines.swiper-wrapper {
  > div, li {
    @include no-bottom-border;
  }
  > :last-child {
    @include no-right-border;
  }
}


/*
 * Segment animation velocities
 */
.animation {
  animation-duration: 0.375s;

  &.velocity-slowest { animation-duration: 0.560s; }
  &.velocity-slow { animation-duration: 0.375s; }
  &.velocity-normal { animation-duration: 0.225s; }
  &.velocity-fast { animation-duration: 0.195s; }
}
@media (min-width: $screen-md-min) {
  .animation {
    animation-duration: 0.6s;

    &.velocity-slowest { animation-duration: 0.9s; }
    &.velocity-slow { animation-duration: 0.6s; }
    &.velocity-normal { animation-duration: 0.4s; }
    &.velocity-fast { animation-duration: 0.3s; }
  }
}
