$navbar-background: $gray-dark !default;
$navbar-border: rgba(255, 255, 255, 0.667) !default;
$navbar-icon-size: 13px !default;
$navbar-icon-padding: 12px !default;
$outline-width: 15px !default;

/*
 * Layout editor modal panel
 */
#layout-modal, #pictures-modal {
  overflow: hidden;

  .modal-dialog {
    margin: 0;
    font-size: 13px;

    .modal-header { background-color: $modal-header-border-color; }

    .nav-tabs {
      float: left;
      margin-top: -54px;
      border-bottom: 0;
    }
    .tab-content { padding-top: 10px; }

    .control-label { font-size: inherit; }
  }
}


/*
 * Layout editor navbars
 */
#layout-menu {
  .mega-dropdown-menu .page-image figure {
    @include contained-image;
  }
}
.section-nav, .column-nav, .segment-nav {
  position: absolute;
  min-height: auto;
  margin: 0;
  border-radius: 0;
  background-color: $navbar-background;
  border-color: $navbar-border;
  transition: all 150ms ease-in-out 0s;
  user-select: none;

  > .navbar-nav {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

    > li > a {
      padding: $navbar-icon-padding;
      font-size: $navbar-icon-size;

      &:hover, &:focus {
        > .fa-cog { @extend .fa-spin; }
      }
    }
  }
}
.section-nav {
  top: -1px;
  left: -1px;
  z-index: 1;
}
.column-nav {
  bottom: -1px;
  left: -1px;
  opacity: 0;
}
.segment-nav {
  top: -1px;
  right: -1px;
  opacity: 0;
}
.segment-nav .mega-dropdown-menu {
  left: auto !important;
  width: 420px !important;
}
.segment-nav .mega-dropdown-menu ul.row {
  margin: 0 -10px;
}
.segment-nav .mega-dropdown-menu li {
  width: 25% !important;
  padding: 15px;
  border: 0;

  &:hover {
    background-color: $dropdown-link-hover-bg;
    figcaption { color: $dropdown-link-hover-color; }
  }
  &.active {
    background-color: $dropdown-link-active-bg;
    figure img { filter: invert(1); }
    figcaption { color: $dropdown-link-active-color; }
  }
  > a {
    border: 0;

    figure img {
      width: 66%;
      margin: 0 auto 5px;
      opacity: 0.6667;
    }
    figcaption {
      text-align: center;
      font-size: 78%;
      color: $text-muted;
      hyphens: auto;
    }
  }
}


/*
 * Layout editor sections and segments
 */
.section-list {
  position: relative;
  padding-bottom: 600px;

  &.editing .section-list-item {
    .section-nav, .column-nav, .segment-nav { display: none; }
    .section-bg-container:before,
    .column:before,
    .segment-content-wrap:after { display: none; }
  }
}
.section-list-item { position: relative; }
.section-list-item.loading {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
.section-list-item .section {
  &.active {
    z-index: 1;
    outline: $outline-width solid rgba($brand-primary, 0.5);
  }
  .section-bg-container:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba($brand-primary, 0.333);
    border-bottom: 1px solid rgba($brand-primary, 0.333);
  }
  .section-content {
    min-height: 45px;
  }
}
.section-list-item .column {
  position: relative;

  &:hover {
    .column-nav {
      z-index: 1;
      opacity: 1;
    }
  }
  &.active {
    z-index: 2;
    outline: $outline-width solid rgba($gray-base, 0.333);
  }
  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba($gray-base, 0.1667);
    border-right: 1px solid rgba($gray-base, 0.1667);
  }
}
.section-list-item .segment {
  &:hover {
    min-height: 45px;

    .segment-nav {
      z-index: 2;
      opacity: 1;
    }
  }
  &.active {
    .segment-content-wrap {
      z-index: 2;
      outline: $outline-width solid rgba($brand-info, 0.5);
    }
  }
  &.editing {
    .editable-content {
      outline: 3px dotted $brand-primary !important;
      outline-offset: 3px;
    }
  }
  .editable-content {
    *::selection {
      background-color: rgba($brand-primary, 0.8);
      color: inherit;
    }
  }
  .feature-link { display: none; }
  .segment-content-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba($brand-info, 0.333);
  }
}


/*
 * Image editor components
 */
#image-editor {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .navbar {
    min-height: auto;
    margin: 0;
    border-radius: 0;
    background-color: $navbar-background;
    border-color: transparent;
    transition: all 150ms ease-in-out 0s;

    > .navbar-nav {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;

      > li > a {
        padding: $navbar-icon-padding;
        font-size: $navbar-icon-size;
      }
    }
  }
  .canvas {
    flex: 1 1 auto;
    overflow: hidden;

    > img { max-width: 100%; }
  }
}


/*
 * ckeditor overrides
 */
.ck.ck-editor__editable_inline {
  overflow: visible !important;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
