/*
 * Mixins
 */
@mixin fill-up {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@mixin contained-image {
  position: relative;
  overflow: hidden;

  img {
    @include fill-up;
    object-fit: contain;
    object-position: center;
  }
}
@mixin covering-image {
  position: relative;
  overflow: hidden;

  img {
    @include fill-up;
    object-fit: cover;
    object-position: center;
  }
}
@mixin responsive-image {
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
@mixin checkerboard-pattern {
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
