/*
 * Brand specific styles targeting the element .brand
 * and its descendants.
 */

.tikkurila {
  padding-top: $navbar-height;

  .navbar {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
    padding-left: 20px;
    padding-right: 20px;

    .navbar-brand img {
      margin-top: -2px;
    }
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .categories {
    @extend .clearfix;
    margin: 0 -15px 20px;
    padding: 20px 15px 0;
    background: $gray;

    .category {
      @extend .col-xs-4;
      @extend .col-sm-3;
      @extend .col-lg-2;

      a {
        outline: 0;
        text-decoration: none;
      }
      .thumbnail {
        max-width: 180px;
        transition: all 0.2s ease-in-out 0s;

        .caption {
          font-size: $font-size-small;
        }
      }
    }
    .category.active .thumbnail {
      margin-top: -8px;
      @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.8));
    }
  }

  .products {
    position: relative;
    @extend .col-md-10;
    @extend .col-md-offset-1;

    .product {
      @extend .col-sm-6;
      @extend .col-lg-3;

      a {
        max-width: 210px;
        padding: 5px;
        @extend .center-block;
      }
      img {
        @extend .img-thumbnail;
      }
    }
  }

  .product-detail {
    position: absolute;
    left: 30px;
    right: 30px;
    background: $body-bg;

    .product-title {
      @extend .page-header;
    }

    .product-description {
      @extend .col-md-2;
    }

    .images.technical {
      @extend .col-md-offset-1;
      @extend .col-md-2;

      img {
        @extend .img-responsive;
      }
    }
    .images.presentational {
      @extend .col-md-offset-1;
      @extend .col-md-6;

      img {
        @extend .img-responsive;
      }
    }
  }
}
