#cookie_alert {
  @extend .alert, .alert-danger;
  z-index: 2000000001;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.667);
  color: #fff;
  border-radius: 0;
}

#cookie_alert_message {
}

#cookie_alert_title {
  float: left;
}

#cookie_alert_text {
  padding-left: 30px;
  padding-right: 70px;
}

#cookie_alert_close {
  @extend .btn, .btn-danger;
  position: absolute;
  right: 15px;
}
