#cookie_alert {
  @extend .alert, .alert-info;
  position: fixed;
  min-width: 50px;
  min-height: 52px;
  margin: 0;
  bottom: 0;
  left: 0;
  z-index: 2000000001;
  overflow: hidden;
  background-color: $body-bg;
  color: $text-color;
  border-color: $table-border-color;
}

#cookie_alert_message {
}

#cookie_alert_title {
  position: absolute;
  font-size: 18px;
  line-height: 21px;
}

#cookie_alert_text {
  padding-left: 30px;
  padding-right: 30px;
}

#cookie_alert_close {
  @extend .btn, .btn-xs, .btn-danger;
  position: absolute;
  right: 15px;
}
