@import "stellar";

#app .branding {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  background-image: image-url('stellar-badge.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include box-shadow(0 0 256px 32px rgba(255,255,255,0.95));
}
#app .panel {
  .form-group { @extend .form-group-lg; }
  .form-group:last-child { margin-bottom: 0; }
}
#app .links {
  ul {
    padding-left: 0;
    list-style: none;
  }
  li { text-align: center; }
  a { color: #fff; }
}
