$font-size-base: 16px !default;

$screen-top-color: #00416a;
$screen-bottom-color: #e4e5e6;

@import "bootstrap-base";

#app {
  justify-content: center;
  @include gradient-vertical($screen-top-color, $screen-bottom-color, 0%, 100%);

  .container {
    .branding {
      width: 80px;
      height: 80px;
      margin: 0 auto 20px;
      background-image: image-url('stellar-badge.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .page-header {
      text-align: center;
      color: #fff;
    }
    .panel {
      background: rgba($panel-bg, 0.6667);
      border-radius: $border-radius-large;
      @include box-shadow(0 0 12px 0 rgba(0,0,0,0.5));

      .panel-body {
        padding: 20px;

        .form-group { @extend .form-group-lg; }
        .form-group:last-child { margin-bottom: 0; }
        .btn-primary { @extend .btn-block, .btn-lg; }
      }
    }
    .links {
      ul {
        padding-left: 0;
        list-style: none;

        li { text-align: center; }
        a { color: #fff; }
      }
    }
  }
}
