/*
 *  Locally served fonts
 */

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-Regular.eot');
  src: font-url('FiraSans-regular.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-Regular.woff') format('woff'),
  font-url('FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-Italic.eot');
  src: font-url('FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-Italic.woff') format('woff'),
  font-url('FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-Medium.eot');
  src: font-url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-Medium.woff') format('woff'),
  font-url('FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-MediumItalic.eot');
  src: font-url('FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-MediumItalic.woff') format('woff'),
  font-url('FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
