/*
 * Locally served fonts
 */

@font-face {
 font-family: 'Fira Sans';
 src: font-url('FiraSans-Light.eot');
 src: font-url('FiraSans-Light.eot?#iefix') format('embedded-opentype'),
 font-url('FiraSans-Light.woff') format('woff'),
 font-url('FiraSans-Light.ttf') format('truetype');
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'Fira Sans';
 src: font-url('FiraSans-LightItalic.eot');
 src: font-url('FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
 font-url('FiraSans-LightItalic.woff') format('woff'),
 font-url('FiraSans-LightItalic.ttf') format('truetype');
 font-weight: 300;
 font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-Regular.eot');
  src: font-url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-Regular.woff') format('woff'),
  font-url('FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-Italic.eot');
  src: font-url('FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-Italic.woff') format('woff'),
  font-url('FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-Medium.eot');
  src: font-url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-Medium.woff') format('woff'),
  font-url('FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('FiraSans-MediumItalic.eot');
  src: font-url('FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('FiraSans-MediumItalic.woff') format('woff'),
  font-url('FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Pacifico';
  src: font-url('pacifico-webfont.eot');
  src: font-url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('pacifico-webfont.woff') format('woff'),
  font-url('pacifico-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: font-url('playfairdisplay-regular-webfont.eot');
  src: font-url('playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('playfairdisplay-regular-webfont.woff') format('woff'),
  font-url('playfairdisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: font-url('playfairdisplay-italic-webfont.eot');
  src: font-url('playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('playfairdisplay-italic-webfont.woff') format('woff'),
  font-url('playfairdisplay-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: font-url('playfairdisplay-bold-webfont.eot');
  src: font-url('playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('playfairdisplay-bold-webfont.woff') format('woff'),
  font-url('playfairdisplay-bold-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: font-url('playfairdisplay-bolditalic-webfont.eot');
  src: font-url('playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('playfairdisplay-bolditalic-webfont.woff') format('woff'),
  font-url('playfairdisplay-bolditalic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
