/*
 * Locally served fonts
 */

@font-face {
  font-family: 'summernote';
  src: font-url('summernote.eot');
  src: font-url('summernote.eot?#iefix') format('embedded-opentype'), font-url('summernote.woff') format('woff'), font-url('summernote.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-Light.eot');
  src: font-url('subset-FiraSans-Light.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-Light.woff') format('woff'),
  font-url('subset-FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-LightItalic.eot');
  src: font-url('subset-FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-LightItalic.woff') format('woff'),
  font-url('subset-FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-Regular.eot');
  src: font-url('subset-FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-Regular.woff') format('woff'),
  font-url('subset-FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-Italic.eot');
  src: font-url('subset-FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-Italic.woff') format('woff'),
  font-url('subset-FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-Medium.eot');
  src: font-url('subset-FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-Medium.woff') format('woff'),
  font-url('subset-FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-MediumItalic.eot');
  src: font-url('subset-FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-MediumItalic.woff') format('woff'),
  font-url('subset-FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-Bold.eot');
  src: font-url('subset-FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-Bold.woff') format('woff'),
  font-url('subset-FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: font-url('subset-FiraSans-BoldItalic.eot');
  src: font-url('subset-FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSans-BoldItalic.woff') format('woff'),
  font-url('subset-FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-Light.eot');
  src: font-url('subset-FiraSansExtraCondensed-Light.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-Light.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-LightItalic.eot');
  src: font-url('subset-FiraSansExtraCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-LightItalic.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-Regular.eot');
  src: font-url('subset-FiraSansExtraCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-Regular.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-Italic.eot');
  src: font-url('subset-FiraSansExtraCondensed-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-Italic.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-Medium.eot');
  src: font-url('subset-FiraSansExtraCondensed-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-Medium.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-MediumItalic.eot');
  src: font-url('subset-FiraSansExtraCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-MediumItalic.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-Bold.eot');
  src: font-url('subset-FiraSansExtraCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-Bold.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src: font-url('subset-FiraSansExtraCondensed-BoldItalic.eot');
  src: font-url('subset-FiraSansExtraCondensed-BoldItalic?#iefix') format('embedded-opentype'),
  font-url('subset-FiraSansExtraCondensed-BoldItalic.woff') format('woff'),
  font-url('subset-FiraSansExtraCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Droid Serif';
  src: font-url('subset-DroidSerif.eot');
  src: font-url('subset-DroidSerif.eot?#iefix') format('embedded-opentype'),
  font-url('subset-DroidSerif.woff') format('woff'),
  font-url('subset-DroidSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: font-url('subset-DroidSerif-Italic.eot');
  src: font-url('subset-DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-DroidSerif-Italic.woff') format('woff'),
  font-url('subset-DroidSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Droid Serif';
  src: font-url('subset-DroidSerif-Bold.eot');
  src: font-url('subset-DroidSerif-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('subset-DroidSerif-Bold.woff') format('woff'),
  font-url('subset-DroidSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: font-url('subset-DroidSerif-BoldItalic.eot');
  src: font-url('subset-DroidSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-DroidSerif-BoldItalic.woff') format('woff'),
  font-url('subset-DroidSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('subset-Montserrat-Bold.eot');
  src: font-url('subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('subset-Montserrat-Bold.woff') format('woff'),
  font-url('subset-Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('subset-Montserrat-BoldItalic.eot');
  src: font-url('subset-Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-Montserrat-BoldItalic.woff') format('woff'),
  font-url('subset-Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('subset-Montserrat-Black.eot');
  src: font-url('subset-Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  font-url('subset-Montserrat-Black.woff') format('woff'),
  font-url('subset-Montserrat-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('subset-Montserrat-BlackItalic.eot');
  src: font-url('subset-Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
  font-url('subset-Montserrat-BlackItalic.woff') format('woff'),
  font-url('subset-Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/*! system-font.css v2.0.2 | CC0-1.0 License | github.com/jonathantneal/system-font-css */

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 300;
	src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 400;
	src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 500;
	src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 700;
	src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 700;
	src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}
