/*
 * Forced 100% height for containers and rows
 * to accommodate percentage heights for segments
 */
.section > .container-fluid,
.section > .container, .section > .container > .row,
.section .section-content,
.section .section-content > .row {
  height: 100%;
  line-height: 1.4; // default to sane value for summernote
}


/*
 * Section content widths
 */
.section .section-content.width-page {
  @extend .col-xs-12;
}
.section .section-content.width-10 {
  @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
}
.section .section-content.width-8 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2;
}
.section .section-content.width-6 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2, .col-md-6, .col-md-offset-3;
}


/*
 * Section and segment styles for section layouts
 */
@mixin section-flex {
  .section-content .row {
    display: flex;
    flex-wrap: wrap;
  }
  .section-content .segment {
    flex: 0 0 auto;

    &.top { align-self: flex-start; }
    &.middle { align-self: center; }
    &.bottom { align-self: flex-end; }
  }
}
@mixin segment-padding($padding: 20px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

.col-12 {
  @include section-flex;

  .segment {
    @extend .col-xs-12;
    @include segment-padding;
  }
}

.col-6-6 {
  @include section-flex;

  .segment {
    @extend .col-xs-12, .col-sm-6;
    @include segment-padding;
  }
}

.col-4-4-4 {
  @include section-flex;

  .segment {
    @extend .col-xs-12, .col-sm-12, .col-md-4;
    @include segment-padding;
  }
}

.col-8-4 {
  @include section-flex;

  .segment:first-child {
    @extend .col-xs-12, .col-sm-8;
    @include segment-padding;
  }
  .segment:last-child {
    @extend .col-xs-12, .col-sm-4;
    @include segment-padding;
  }
}

.col-4-8 {
  @include section-flex;

  .segment:first-child {
    @extend .col-xs-12, .col-sm-4;
    @include segment-padding;
  }
  .segment:last-child {
    @extend .col-xs-12, .col-sm-8;
    @include segment-padding;
  }
}


/*
 * Segment content styles
 */
.segment-content { position: relative; }

.picture.segment-content {
  img { @extend .img-responsive; }
  overflow: hidden;

  .swiper-slide {
    height: auto;
    background-color: $body-bg;
  }
  .swiper-slide img { margin: 0 auto; }
}
