/*
 * Mixins
 */
@mixin padding-horizontal($padding: $grid-gutter-width/2) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding-vertical($padding: 40px) {
  padding-top: $padding;
  padding-bottom: $padding;
}
@mixin gutters($top, $right, $bottom, $left) {
  @if $top { padding-top: 20px; }
  @if $right { padding-right: $grid-gutter-width/2; }
  @if $bottom { padding-bottom: 20px; }
  @if $left { padding-left: $grid-gutter-width/2; }
}


/*
 * Section content widths
 */
.section .section-content.col-12 {
  @extend .col-xs-12;
  float: none;
}
.section .section-content.col-10 {
  @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
  float: none;
}
.section .section-content.col-8 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2;
  float: none;
}
.section .section-content.col-6 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2, .col-md-6, .col-md-offset-3;
  float: none;
}


/*
 * Section outlines, column and block.
 */
.section-content.column .segment {
  @include padding-vertical;
}
.section-content.block {
  @include padding-horizontal;
}
@media (min-width: $screen-sm-min) {
  .section-content.block > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.section-content.block .segment {
  @include padding-horizontal(0);
}
.section-content.column.spread > .row {
  margin-left: 0;
  margin-right: 0;
}
.section-content.block.spread > .row {
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}

/* Fix padding of stacked segments on mobile */
@media (max-width: $screen-xs-max) {
  .section-content.column .segment { padding-bottom: 0; }
  .section-content.column .segment:last-child { padding-bottom: 20px; }
}


/*
 * Section layouts declared with less specificity
 * to retain the outline rules above.
 */
.twelve {
  .segment { @extend .col-xs-12; }
}
.six-six {
  .segment { @extend .col-xs-12, .col-sm-6; }
}
.eight-four {
  .segment:first-child { @extend .col-xs-12, .col-sm-8; }
  .segment:last-child { @extend .col-xs-12, .col-sm-4; }
}
.four-eight {
  .segment:first-child { @extend .col-xs-12, .col-sm-4; }
  .segment:last-child { @extend .col-xs-12, .col-sm-8; }
}
.four-four-four {
  .segment { @extend .col-xs-12, .col-sm-4; }
}
.three-three-three-three {
  .segment { @extend .col-xs-6, .col-sm-3; }
}
.eight-four-four {
  .segment:first-child { @extend .col-xs-12, .col-sm-8; }
  .segment:nth-last-child(-n+2) { @extend .col-xs-6, .col-sm-4; }
}
.four-four-eight {
  .segment:first-child { @extend .col-xs-12, .col-sm-8, .col-sm-push-4; }
  .segment:nth-last-child(-n+2) { @extend .col-xs-6, .col-sm-4, .col-sm-pull-8; }
}


/*
 * Section background settings
 */
.section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: $screen-sm-min) {
  .section.shape-viewport {
    background-attachment: fixed;
  }
}


/*
 * Section content dimensioning and alignment
 */
.section { position: relative; }
.section .container,
.section .row,
.section .section-content {
  height: 100%;
}

/* With fluid aspect ratio, alignment happens within the .row */
.section-content.column.fluid-ratio > .row {
  display: flex;
  flex-flow: row wrap;

  .segment.align-top { align-self: flex-start; }
  .segment.align-middle { align-self: center; }
  .segment.align-bottom { align-self: flex-end; }
}

/* With fixed aspect ratio, alignment is based on .segment-content-wrap */
.section-content.fixed-ratio .segment-shape {
  position: relative;
  height: 0;
}
.section-content.fixed-ratio .segment-content-wrap {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.align-top { justify-content: flex-start; }
  &.align-middle { justify-content: center; }
  &.align-bottom { justify-content: flex-end; }
}

/* Aspect ratios */
.section-content.fixed-ratio {
  &.shape-viewport .segment { height: 100%; }
  .segment-shape.shape-viewport { height: 100%; }
  .segment-shape.shape-square { padding-bottom: 100%; }
  .segment-shape.shape-4-3 { padding-bottom: 75%; }
  .segment-shape.shape-16-9 { padding-bottom: 56.25%; }
  .segment-shape.shape-two-one { padding-bottom: 50%; }
  .segment-shape.shape-21-9 { padding-bottom: 42.85714%; }
  .segment-shape.shape-three-one { padding-bottom: 33.33333%; }
  .segment-shape.shape-four-one { padding-bottom: 25%; }
}


/*
 * Segment content styles
 */
.segment-content {
  min-height: 3.5714286em;
  line-height: 1.4; // default to sane value for summernote
}

.segment-content.column,
.segment-content.raw {
  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }
  :last-child { margin-bottom: 0; }
}

.segment-content.picture {
  .image-container,
  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-container img,
  .swiper-container img {
    @extend .img-responsive;
    margin: auto;
  }
  .swiper-slide {
    height: auto;
    background-color: $body-bg;
  }
}

@media (min-width: $screen-sm-min) {
  .block .segment-content.picture {
    height: 100%;

    .image-container,
    .swiper-container {
      overflow: hidden;
    }
    .image-container img,
    .swiper-container img {
    }
  }
}

.segment-content.map {
  height: 100%;

  .map-container {
    width: 100%;
    height: 100%;
  }
}

.segment-content.product {
  .product-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }
  .product-card a {
    display: block;
    position: relative;
    flex: 0 1 auto;
  }
  .product-card .buy-now {
    flex: 0 1 auto;
  }
}
.block .segment-content.product {
  .product-card { height: 100%; }
}

.segment-content.category_feature,
.segment-content.product_feature,
.segment-content.promotion_feature {
  background-size: cover;
  background-repeat: no-repeat;

  .foreground, .foreground img {
    display: block;
    width: 100%;
    height: auto;
  }
}
