/*
 * Mixins
 */
@mixin padding-horizontal($padding: $grid-gutter-width/2) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding-vertical($padding: 40px) {
  padding-top: $padding;
  padding-bottom: $padding;
}


/*
 * Section flexboxen
 */
.section { position: relative; }
.section-content {
  display: flex;
  flex-flow: column nowrap;
}
.section-content > .row {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;

  /* Nuking pseudo elements to work around a Safari glitch */
  &:before,
  &:after { display: none; }
}

/* Gutters */
.section.no-gutters .container-fluid {
  @include padding-horizontal(0);
}
.section.no-gutters .section-content > .row {
  margin-left: 0;
  margin-right: 0;
}
.section.no-gutters .section-content .column {
  @include padding-horizontal(0);
}


/*
 * Section background image container and color overlay
 */
.section-bg-container,
.section-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .swiper-container, .swiper-wrapper, figure {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
.section-bg-container { background-color: $body-bg; }
.section-bg-overlay { background-color: transparent; }
.image-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section-bg-container.fixed-background {
  background-size: cover;
  background-position: center;
}
@media (min-width: $screen-sm-min) {
  .section-bg-container.fixed-background {
    background-attachment: fixed;
  }
}


/*
 * Section content widths
 */
.section-content.col-12 {
  @extend .col-xs-12;
  @include padding-horizontal(0);
  float: none;
}
.section-content.col-10 {
  @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
  @include padding-horizontal(0);
  float: none;
}
.section-content.col-8 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2;
  @include padding-horizontal(0);
  float: none;
}
.section-content.col-6 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2, .col-md-6, .col-md-offset-3;
  @include padding-horizontal(0);
  float: none;
}


/*
 * Swipeable columns
 */
.section-content.swiper {
  .column-pagination { display: none; }
}
@media (max-width: $screen-xs-max) {
  .section-content.swiper {
    > .row {
      flex-wrap: nowrap;

      .column {
        flex-shrink: 0;
        width: calc(100% - #{$grid-gutter-width});
      }
    }
    .column-pagination {
      display: flex;
      position: absolute;
      justify-content: center;
    }
  }
}


/*
 * Column flexboxen
 */
.column {
  display: flex;
  flex-flow: column nowrap;
  float: none !important;
  max-height: 100%;
}
.column.align-top { justify-content: flex-start; }
.column.align-middle { justify-content: center; }
.column.align-bottom { justify-content: flex-end; }
.column.align-fill {
  .segment { flex-grow: 1; }
  .segment-shape:not(.fixed-ratio),
  .segment-content-wrap { height: 100%; }
}

/* Column pivoting on mobile viewports */
@media (max-width: $screen-xs-max) {
  .column.pivot {
    flex-flow: row wrap;

    .segment {
      flex: 0 1 50%;
      min-width: 0;
    }
  }
  .column.pivot.align-top { align-items: flex-start }
  .column.pivot.align-middle { align-items: center; }
  .column.pivot.align-bottom { align-items: flex-end; }
}


/*
 * Column widths for each layout
 */
.twelve {
  .column { @extend .col-xs-12; }
}
.eight-four {
  .column:first-child { @extend .col-xs-12, .col-sm-8; }
  .column:last-child { @extend .col-xs-12, .col-sm-4; }
}
.four-eight {
  .column:first-child { @extend .col-xs-12, .col-sm-4; }
  .column:last-child { @extend .col-xs-12, .col-sm-8; }
}
.four-four-four {
  .column { @extend .col-xs-12, .col-sm-4; }
}
.two-two-two-two-two-two {
  .column { @extend .col-xs-6, .col-sm-2; }
}
.six-six {
  .column { @extend .col-xs-12, .col-sm-6; }
}
.six-three-three,
.three-six-three,
.three-three-six {
  .column:first-child { @extend .col-xs-12, .col-sm-6; }
  .column:not(:first-child) { @extend .col-xs-6, .col-sm-3; }
}
.nine-three {
  .column:first-child { @extend .col-xs-12, .col-sm-9; }
  .column:last-child { @extend .col-xs-12, .col-sm-3; }
}
.three-nine {
  .column:first-child { @extend .col-xs-12, .col-sm-3; }
  .column:last-child { @extend .col-xs-12, .col-sm-9; }
}
.three-three-three-three {
  .column { @extend .col-xs-6, .col-sm-3; }
}

/* Reordering of columns based on viewport size */
@media (max-width: $screen-xs-max) {
  .four-eight, .three-nine {
    .column:first-child { order: 2; }
    .column:last-child { order: 1; }
  }
}
@media (min-width: $screen-sm-min) {
  .three-six-three {
    .column:first-child { order: 2; }
    .column:nth-child(2) { order: 1; }
    .column:last-child { order: 3; }
  }
}
@media (min-width: $screen-sm-min) {
  .three-three-six {
    .column:first-child { order: 3; }
    .column:nth-child(2) { order: 1; }
    .column:last-child { order: 2; }
  }
}


/*
 * Column and segment backgrounds
 */
.column-bg-container,
.column-bg-overlay,
.segment-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


/*
 * Segment content styles
 */
.segment { position: relative; }
.segment-content-wrap {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.segment-content-wrap.jumbotron {
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.segment-content {
  position: relative;
  z-index: 0;
}

/* Aspect ratios */
.segment-shape.fixed-ratio {
  position: relative;
  height: 0 !important;
  overflow: hidden;

  .segment-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.segment-shape.shape-viewport { height: auto; }
.segment-shape.shape-2-3 { padding-bottom: 150%; }
.segment-shape.shape-3-4 { padding-bottom: 133.333%; }
.segment-shape.shape-square { padding-bottom: 100%; }
.segment-shape.shape-4-3 { padding-bottom: 75%; }
.segment-shape.shape-3-2 { padding-bottom: 66.66667%; }
.segment-shape.shape-16-9 { padding-bottom: 56.25%; }
.segment-shape.shape-two-one { padding-bottom: 50%; }
.segment-shape.shape-21-9 { padding-bottom: 42.85714%; }
.segment-shape.shape-three-one { padding-bottom: 33.33333%; }
.segment-shape.shape-four-one { padding-bottom: 25%; }

/* Shadows */
.segment-shape.shadow-light { @include box-shadow(0 1px 1px rgba(0,0,0,0.1)); }
.segment-shape.shadow-medium { @include box-shadow(0 2px 2px rgba(0,0,0,0.25)); }
.segment-shape.shadow-heavy { @include box-shadow(0 3px 3px rgba(0,0,0,0.5)); }

/* Content alignment */
.segment-content-wrap.align-top { justify-content: flex-start; }
.segment-content-wrap.align-middle { justify-content: center; }
.segment-content-wrap.align-bottom { justify-content: flex-end; }

/* Insets */
.segment-content-wrap.inset-quarter { padding: $grid-gutter-width/4; }
.segment-content-wrap.inset-half { padding: $grid-gutter-width/2; }
.segment-content-wrap.inset-full { padding: $grid-gutter-width; }
.segment-content-wrap.inset-extra { padding: $grid-gutter-width*1.5; }
.segment-content-wrap.inset-double { padding: $grid-gutter-width*2; }

@media (max-width: $screen-xs-max) {
  .segment-content-wrap.inset-quarter { padding: $grid-gutter-width/8; }
  .segment-content-wrap.inset-half { padding: $grid-gutter-width/4; }
  .segment-content-wrap.inset-full { padding: $grid-gutter-width/2; }
  .segment-content-wrap.inset-extra { padding: $grid-gutter-width*0.75; }
  .segment-content-wrap.inset-double { padding: $grid-gutter-width; }
}

.segment-content .page-header { margin-top: 0; }
.segment-content .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  figure { opacity: 0.333; }
}
.section-content .placeholder {
  min-height: 10em;
}

.segment-content.empty {
  min-height: 45px;
}

.segment-content.category,
.segment-content.product,
.segment-content.promotion,
.segment-content.department {
  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-slide .product-card {
    max-height: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.segment-content.text,
.segment-content.raw,
.segment-content.feature,
.segment-content.media {
  .editable-content {
    p { hyphens: auto; }

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
}

.segment-content.picture,
.segment-content.gallery {
  height: 100%;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.segment-content.feature {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .feature-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -999px;
  }
}

.segment-content-wrap.align-top .segment-content.feature {
  justify-content: flex-start;
}
.segment-content-wrap.align-middle .segment-content.feature {
  justify-content: center;
}
.segment-content-wrap.align-bottom .segment-content.feature {
  justify-content: flex-end;
}

.segment-content.picture,
.segment-content.gallery,
.segment-content.feature {

  // containers are full size flexboxen to align
  // sizing-original figures to top/center/bottom
  .image-container,
  .swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &.stacked {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    // sizing original gets img-responsive,
    // other sizings get top center positioning
    figure {
      img {
        @extend .img-responsive;
        margin: auto;
        object-position: top;
      }
    }
    // contain and cover sizings expand both figure and img
    // to full size to apply object-fit and object-position
    &.sizing-contain figure,
    &.sizing-cover figure {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &.sizing-contain figure img { object-fit: contain; }
    &.sizing-cover figure img { object-fit: cover; }
  }
  .thumbnail {
    margin-bottom: 0;
    padding: 2%;
  }
}
.segment-content-wrap.align-middle .segment-content {
  &.picture, &.gallery, &.feature {
    .image-container, .swiper-container {
      align-items: center;

      img { object-position: center; }
    }
  }
}
.segment-content-wrap.align-bottom .segment-content {
  &.picture, &.gallery, &.feature {
    .image-container, .swiper-container {
      align-items: flex-end;

      img { object-position: bottom; }
    }
  }
}
.segment-content-wrap.justify-left .segment-content {
  &.picture, &.gallery, &.feature {
    .image-container, .swiper-container {
      justify-content: flex-start;

      img { object-position: left; }
    }
  }
}
.segment-content-wrap.justify-right .segment-content {
  &.picture, &.gallery, &.feature {
    .image-container, .swiper-container {
      justify-content: flex-end;

      img { object-position: right; }
    }
  }
}

.segment-content.map {
  height: 100%;
  min-height: 40px;

  .map-container {
    width: 100%;
    height: 100%;
  }
}

.segment-content.video_player {
  .video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.segment-content.media {
  display: flex;
  flex-flow: row nowrap;

  .media-object {
    display: block;
    flex: 0 0 auto;
    width: auto;

    > a { display: block; }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .media-body {
    display: flex;
    flex: 0 1 100%;
    flex-flow: column nowrap;
    width: auto;
  }
  &.media-left {
    padding-right: 0;

    .media-object {
      margin-right: $grid-gutter-width/2;
    }
  }
  &.media-right {
    padding-left: 0;

    .media-object {
      margin-left: $grid-gutter-width/2;
      order: 2;
    }
    .media-body { order: 1; }
  }
}
.segment-content-wrap.align-top .segment-content.media .media-body {
  justify-content: flex-start;
}
.segment-content-wrap.align-middle .segment-content.media .media-body {
  justify-content: center;
}
.segment-content-wrap.align-bottom .segment-content.media .media-body {
  justify-content: flex-end;
}

.segment-content.navigation_menu {
  .navmenu { width: 100%; }
}

.segment-content.category_menu {
  .navmenu { width: 100%; }
}
@media (max-width: $screen-xs-max) {
  .segment-content.media {
    flex-flow: column nowrap;

    &.media-left .media-object {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &.media-right .media-object {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.segment-content.facebook_feed {
  .post { @extend .panel, .panel-default; }
  .post .header { @extend .panel-heading; }
  .post .timestamp { @extend .pull-right; }
  .post .body { @extend .panel-body; }
  .post .picture img { @extend .img-responsive; }
}


/*
 * Multicolumn content
 */
@mixin flex-columns {
  display: flex;
  flex-flow: row wrap;
  &:before,
  &:after { display: none; }

  > div { align-self: flex-start; }
}
.columns-1 {
  @include flex-columns;
  > div { @extend .col-xs-12; }
}
.columns-2 {
  @include flex-columns;
  > div { @extend .col-xs-6; }
}
.columns-3 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-4; }
}
.columns-4 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-3; }
}
.columns-6 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-3, .col-md-2; }
}
.columns-12 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-3, .col-md-2, .col-lg-1; }
}
@media (max-width: $screen-xs-max) {
  .grid-disable-xs {
    > div { width: 100%; }
  }
}

/* Grid lines for grids */
@mixin no-right-border {
  &:after { border-right: 0; }
}
@mixin no-bottom-border {
  &:after { border-bottom: 0; }
}
@mixin grid-line-removal($n) {
  > :nth-child(#{$n}n) { @include no-right-border; }
  > :nth-last-child(-n+#{$n}) { @include no-bottom-border; }
  > :last-child {
    @include no-right-border;
    @include no-bottom-border;
  }
}
.grid-lines {
  > div, li { align-self: stretch; }
  > :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    pointer-events: none;
  }
}

/* Removal of grid lines at the right and bottom edges */
.grid-lines.columns-1 {
  > div, li {
    @include no-right-border;
    @include no-bottom-border;
  }
}
.grid-lines.columns-2 { @include grid-line-removal(2); }
@media (max-width: $screen-xs-max) {
  .grid-lines { @include grid-line-removal(2); }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .grid-lines.columns-3 { @include grid-line-removal(3); }
  .grid-lines.columns-4,
  .grid-lines.columns-6,
  .grid-lines.columns-12 { @include grid-line-removal(4); }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .grid-lines.columns-3 { @include grid-line-removal(3); }
  .grid-lines.columns-4 { @include grid-line-removal(4); }
  .grid-lines.columns-6,
  .grid-lines.columns-12 { @include grid-line-removal(6); }
}
@media (min-width: $screen-lg-min) {
  .grid-lines.columns-3 { @include grid-line-removal(3); }
  .grid-lines.columns-4 { @include grid-line-removal(4); }
  .grid-lines.columns-6 { @include grid-line-removal(6); }
  .grid-lines.columns-12 { @include grid-line-removal(12); }
}


/*
 * Segment animation velocities
 */
.animation {
  animation-duration: 0.375s;

  &.velocity-slowest { animation-duration: 0.560s; }
  &.velocity-slow { animation-duration: 0.375s; }
  &.velocity-normal { animation-duration: 0.225s; }
  &.velocity-fast { animation-duration: 0.195s; }
}
@media (min-width: $screen-md-min) {
  .animation {
    animation-duration: 0.6s;

    &.velocity-slowest { animation-duration: 0.9s; }
    &.velocity-slow { animation-duration: 0.6s; }
    &.velocity-normal { animation-duration: 0.4s; }
    &.velocity-fast { animation-duration: 0.3s; }
  }
}


/*
 * Marker styles for ckeditor5
 */
.text-shadow-light { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
.text-shadow-medium { text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); }
.text-shadow-dark { text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8); }


/*
 * Content editable via ckeditor
 */
.editable-content, .editable-content.ck-content {
  .text-tiny { font-size: 0.714286em; }
  .text-small { font-size: 0.85714em; }
  .text-big { font-size: 1.285714em; }
  .text-huge { font-size: 1.714286em; }

  figure.table {
    display: block;
    width: 100%;
    margin: 0;

    table {
      border: 0;
      @extend .table;

      th, td {
        background-color: transparent;
        border-left: 0;
        border-right: 0;
      }
    }
  }
  blockquote {
    padding: ($line-height-computed / 2) $line-height-computed;
    margin: 0 0 $line-height-computed;
    font-size: $blockquote-font-size;
    font-style: normal;
    border-left: 5px solid $blockquote-border-color;
  }
}

@media (max-width: $screen-xs-max) {
  .editable-content, .editable-content.ck-content {
    .text-big { font-size: 1.14286em; }
    .text-huge { font-size: 1.42857em; }
  }
}
