/*
 * Layout editor side panel
 */
$side-panel-width: 360px !default;
$outline-width: 15px !default;
$navbar-background: $gray-dark !default;
$navbar-border: rgba(255, 255, 255, 0.667) !default;
$navbar-icon-size: 13px !default;
$navbar-icon-padding: 12px !default;

#side-panel {
  display: block;
  width: $side-panel-width;
  left: -$side-panel-width;
  z-index: 1019; // just below #side-nav
  opacity: 0;
  transform: translateX(0);
  transform: translateX(0) translateZ(0);
  transition: 100ms ease-in all;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  .panel-closed {
    padding-top: 120px;
    text-align: center;

    .fa { color: $navmenu-default-border; }
  }
  #editor-panel { display: none; }
}
#side-panel.open {
  transform: translateX($side-panel-width);
  transform: translateX($side-panel-width) translateZ(0);
  opacity: 1;
  @include box-shadow(0 0 12px 0 rgba(0,0,0,0.5));

  .panel-closed { display: none; }
  #editor-panel { display: block; }
}

#side-panel .panel-toggle {
  margin-top: 10px;
  @include clearfix;

  .btn {
    border: 0;
    background-color: transparent;
    font-size: 24px;
  }
}
#side-panel .inner-wrap {
  padding-left: 15px;
  padding-right: 15px;
}
#side-panel .btn-group {
  display: block;
  @include clearfix;
}
#side-panel .actions {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid $navmenu-default-border;
}

/* Permanent side panel on the largest screens */
@media (min-width: 1200px + $side-panel-width) {
  #section-list { margin-left: $side-panel-width; }
  #side-panel {
    left: 0;
    opacity: 1;
    @include box-shadow(0 0 2px 0 rgba(0,0,0,0.8));
    .panel-toggle { display: none; }
  }
  #side-panel.open {
    transform: none;
    @include box-shadow(0 0 2px 0 rgba(0,0,0,0.8));
  }
  #side-panel #editor-panel { padding-top: 20px; }
  .section-bg-container.fixed-background {
    background-position-x: $side-panel-width/2;
  }
}


/*
 * Layout editor navbars
 */
.section-nav, .column-nav, .segment-nav {
  position: absolute;
  min-height: auto;
  margin: 0;
  border-radius: 0;
  background-color: $navbar-background;
  border-color: $navbar-border;
  transition: all 150ms ease-in-out 0s;

  > .navbar-nav {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

    > li > a {
      padding: $navbar-icon-padding;
      font-size: $navbar-icon-size;

      &:hover, &:focus {
        > .fa-cog { @extend .fa-spin; }
      }
    }
  }
}
.section-nav {
  top: -1px;
  left: -1px;
  z-index: 1;
}
.column-nav {
  bottom: -1px;
  left: -1px;
  opacity: 0;
}
.segment-nav {
  top: -1px;
  right: -1px;
  opacity: 0;
}

/* Contextual variants for navbar icons */
@mixin navbar-icon-variant($color) {
  > a:hover {
    background-color: darken($color, 10%);
  }
}
.section-list .navbar-nav > li {
  &.primary { @include navbar-icon-variant($btn-primary-bg); }
  &.success { @include navbar-icon-variant($btn-success-bg); }
  &.info { @include navbar-icon-variant($btn-info-bg); }
  &.warning { @include navbar-icon-variant($btn-warning-bg); }
  &.danger { @include navbar-icon-variant($btn-danger-bg); }
}


/*
 * Layout editor sections and segments
 */
.section-list {
  position: relative;
  padding-bottom: 600px;

  &.editing .section-list-item {
    .section-nav, .column-nav, .segment-nav { display: none; }
    .section-bg-container:before,
    .column:before,
    .segment-content-wrap:after { display: none; }
  }
}
.section-list-item { position: relative; }
.section-list-item.loading {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
.section-list-item .section {
  &.active {
    z-index: 1;
    outline: $outline-width solid rgba($brand-primary, 0.5);
  }
  .section-bg-container:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba($brand-primary, 0.333);
    border-bottom: 1px solid rgba($brand-primary, 0.333);
  }
}
.section-list-item .column {
  position: relative;

  &:hover {
    .column-nav {
      z-index: 1;
      opacity: 1;
    }
  }
  &.active {
    z-index: 2;
    outline: $outline-width solid rgba($gray-base, 0.333);
  }
  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid rgba($gray-base, 0.1667);
    border-right: 1px solid rgba($gray-base, 0.1667);
  }
}
.section-list-item .segment {
  &:hover {
    .segment-content { min-height: 50px; }
    .segment-nav {
      z-index: 2;
      opacity: 1;
    }
  }
  &.active {
    z-index: 2;
    outline: $outline-width solid rgba($brand-info, 0.5);
  }
  &.editing {
    .segment-content { opacity: 0; }
  }
  .segment-content-wrap {
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid rgba($brand-info, 0.333);
    }
  }
}


/*
 * Content panel for in-place editing of segments
 */
#content-panel {
  position: absolute;
  z-index: 2;
  padding: 0;
  line-height: 1.4; // matches layouts.css

  &.jumbotron {
    margin-bottom: 0;
    background-color: transparent;
  }
}
#content-panel .actions {
  display: flex;
  position: absolute;
  bottom: -50px;
  right: -5px;

  .btn {
    margin-left: -1px;
    border-radius: 0;
  }
}
#content-panel:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  outline: 5px solid rgba($gray-light, 0.667);
  outline-offset: 5px;
}
#content-panel .segment-form.text .note-editor {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  caret-color: $brand-primary;

  .note-editing-area .note-editable,
  .note-editing-area .note-placeholder {
    padding: 0;
    background-color: transparent;

    h1:first-child,
    h2:first-child,
    h3:first-child {
      margin-top: 0;
    }
  }
  .table { @extend .table-bordered; }
  font[color] { text-shadow: 0 0 1px rgba(0, 0, 0, 0.6); }
}
