/*
 * Percentage based heights for segment content
 */
.section > .container-fluid,
.section > .container, .section > .container > .row,
.section .section-content,
.section .section-content > .row,
.section .section-content .segment {
  height: 100%;
}


/*
 * Section content widths
 */
.section .section-content.twelve {
  @extend .col-xs-12;
}
.section .section-content.ten {
  @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
}
.section .section-content.eight {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2;
}
.section .section-content.six {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2, .col-md-6, .col-md-offset-3;
}


/*
 * Segment styles for section layouts:
 * each segment has .segment and .segment-n
 * where n starts from 0
 */
@mixin segment-padding($padding: 20px) {
  padding-top: $padding;
  padding-bottom: $padding;
}

.single-col {
  .segment {
    @extend .col-xs-12;
    @include segment-padding;
  }
}

.double-col {
  .segment {
    @extend .col-xs-12, .col-sm-6;
    @include segment-padding;
  }
}

.triple-col {
  .segment {
    @extend .col-xs-12, .col-sm-12, .col-md-4;
    @include segment-padding;
  }
}

/*
 * Segment content styles
 */
.segment-content { position: relative; }

.picture.segment-content {
  img { @extend .img-responsive; }
  overflow: hidden;

  .caption {
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 15px;
    border-radius: $border-radius-large;
    background-color: rgba(255, 255, 255, 0.6);

    h1, small {
      display: block;
      margin: 0;
    }
  }
}
