/*
 * Mixins
 */
@mixin padding-horizontal($padding: $grid-gutter-width/2) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding-vertical($padding: 40px) {
  padding-top: $padding;
  padding-bottom: $padding;
}


/*
 * Section flexboxen
 */
.section { position: relative; }
.section-content {
  display: flex;
  flex-flow: column nowrap;
}
.section-content > .row {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;

  /* Nuking pseudo elements to work around a Safari glitch */
  &:before,
  &:after { display: none; }
}

/* Gutters */
.section.no-gutters .container-fluid {
  @include padding-horizontal(0);
}
.section.no-gutters .section-content > .row {
  margin-left: 0;
  margin-right: 0;
}
.section.no-gutters .section-content .column {
  @include padding-horizontal(0);
}


/*
 * Section background image container and color overlay
 */
.section-bg-container,
.section-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .swiper-container, .swiper-wrapper {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
.section-bg-container { background-color: $body-bg; }
.section-bg-overlay { background-color: transparent; }
.image-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section-bg-container.fixed-background {
  background-size: cover;
  background-position: center;
}
@media (min-width: $screen-sm-min) {
  .section-bg-container.fixed-background {
    background-attachment: fixed;
  }
}


/*
 * Section content widths
 */
.section-content.col-12 {
  @extend .col-xs-12;
  @include padding-horizontal(0);
  float: none;
}
.section-content.col-10 {
  @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
  @include padding-horizontal(0);
  float: none;
}
.section-content.col-8 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2;
  @include padding-horizontal(0);
  float: none;
}
.section-content.col-6 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2, .col-md-6, .col-md-offset-3;
  @include padding-horizontal(0);
  float: none;
}


/*
 * Column flexboxen
 */
.column {
  display: flex;
  flex-flow: column nowrap;
  float: none !important;
  max-height: 100%;
}
.column.align-top { justify-content: flex-start; }
.column.align-middle { justify-content: center; }
.column.align-bottom { justify-content: flex-end; }
.column.align-fill {
  .segment, .segment-shape, .segment-content-wrap { height: 100%; }
}

/* Column pivoting on mobile viewports */
@media (max-width: $screen-xs-max) {
  .column.pivot {
    flex-flow: row wrap;

    .segment {
      flex: 0 1 50%;
      min-width: 0;
    }
  }
  .column.pivot.align-top { align-items: flex-start }
  .column.pivot.align-middle { align-items: center; }
  .column.pivot.align-bottom { align-items: flex-end; }
}


/*
 * Column widths for each layout
 */
.twelve {
  .column { @extend .col-xs-12; }
}
.eight-four {
  .column:first-child { @extend .col-xs-12, .col-sm-8; }
  .column:last-child { @extend .col-xs-12, .col-sm-4; }
}
.four-eight {
  .column:first-child { @extend .col-xs-12, .col-sm-4; }
  .column:last-child { @extend .col-xs-12, .col-sm-8; }
}
.four-four-four {
  .column { @extend .col-xs-12, .col-sm-4; }
}
.two-two-two-two-two-two {
  .column { @extend .col-xs-6, .col-sm-2; }
}
.six-six {
  .column { @extend .col-xs-12, .col-sm-6; }
}
.six-three-three,
.three-six-three,
.three-three-six {
  .column:first-child { @extend .col-xs-12, .col-sm-6; }
  .column:not(:first-child) { @extend .col-xs-6, .col-sm-3; }
}
.nine-three {
  .column:first-child { @extend .col-xs-12, .col-sm-9; }
  .column:last-child { @extend .col-xs-12, .col-sm-3; }
}
.three-nine {
  .column:first-child { @extend .col-xs-12, .col-sm-3; }
  .column:last-child { @extend .col-xs-12, .col-sm-9; }
}
.three-three-three-three {
  .column { @extend .col-xs-6, .col-sm-3; }
}

/* Reordering of columns based on viewport size */
@media (max-width: $screen-xs-max) {
  .four-eight, .three-nine {
    .column:first-child { order: 2; }
    .column:last-child { order: 1; }
  }
}
@media (min-width: $screen-sm-min) {
  .three-six-three {
    .column:first-child { order: 2; }
    .column:nth-child(2) { order: 1; }
    .column:last-child { order: 3; }
  }
}
@media (min-width: $screen-sm-min) {
  .three-three-six {
    .column:first-child { order: 3; }
    .column:nth-child(2) { order: 1; }
    .column:last-child { order: 2; }
  }
}


/*
 * Column backgrounds
 */
.column-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/*
 * Segment content styles
 */
.segment { position: relative; }
.segment-content-wrap {
  display: flex;
  flex-flow: column nowrap;
}
.segment-content-wrap.jumbotron {
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.segment-content {
  position: relative;
  z-index: 0;
}

/* Aspect ratios */
.segment-shape.fixed-ratio {
  position: relative;
  height: 0 !important;
  overflow: hidden;

  .segment-content-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}
.segment-shape.shape-viewport { height: auto; }
.segment-shape.shape-square { padding-bottom: 100%; }
.segment-shape.shape-4-3 { padding-bottom: 75%; }
.segment-shape.shape-16-9 { padding-bottom: 56.25%; }
.segment-shape.shape-two-one { padding-bottom: 50%; }
.segment-shape.shape-21-9 { padding-bottom: 42.85714%; }
.segment-shape.shape-three-one { padding-bottom: 33.33333%; }
.segment-shape.shape-four-one { padding-bottom: 25%; }

/* Shadows */
.segment-shape.shadow-light { @include box-shadow(0 1px 1px rgba(0,0,0,0.1)); }
.segment-shape.shadow-medium { @include box-shadow(0 2px 2px rgba(0,0,0,0.25)); }
.segment-shape.shadow-heavy { @include box-shadow(0 3px 3px rgba(0,0,0,0.5)); }

/* Content alignment */
.segment-content-wrap.align-top { justify-content: flex-start; }
.segment-content-wrap.align-middle { justify-content: center; }
.segment-content-wrap.align-bottom { justify-content: flex-end; }

/* Insets */
.segment-content-wrap.inset-half { padding: $grid-gutter-width/2; }
.segment-content-wrap.inset-full { padding: $grid-gutter-width; }

@media (max-width: $screen-xs-max) {
  .segment-content-wrap.inset-half { padding: $grid-gutter-width/4; }
  .segment-content-wrap.inset-full { padding: $grid-gutter-width/2; }
}

.segment-content .page-header { margin-top: 0; }
.segment-content .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  .fa {
    display: block;
    opacity: 0.333;
  }
}
.section-content .placeholder {
  min-height: 10em;
}

.segment-content.empty {
  min-height: 40px;
}

.segment-content.category,
.segment-content.product,
.segment-content.promotion,
.segment-content.department {
  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-slide .product-card {
    max-height: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.segment-content.text,
.segment-content.raw {
  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }
}

.segment-content.picture,
.segment-content.gallery,
.segment-content.category_feature,
.segment-content.product_feature,
.segment-content.promotion_feature,
.segment-content.department_feature {
  height: 100%;

  a { display: block; }
  .image-container,
  .swiper-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-container.stacked,
  .swiper-container.stacked {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .image-container img,
  .swiper-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .image-container.sizing-contain img,
  .swiper-container.sizing-contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .image-container.sizing-cover img,
  .swiper-container.sizing-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.segment-content-wrap.align-top .segment-content.picture,
.segment-content-wrap.align-top .segment-content.gallery,
.segment-content-wrap.align-top .segment-content.category_feature,
.segment-content-wrap.align-top .segment-content.product_feature,
.segment-content-wrap.align-top .segment-content.promotion_feature,
.segment-content-wrap.align-top .segment-content.department_feature {
  .image-container.sizing-original { align-items: flex-start;}
  .image-container.sizing-contain img,
  .swiper-container.sizing-contain img,
  .image-container.sizing-cover img,
  .swiper-container.sizing-cover img {
    object-position: top;
  }
}
.segment-content-wrap.align-middle .segment-content.picture,
.segment-content-wrap.align-middle .segment-content.gallery,
.segment-content-wrap.align-middle .segment-content.category_feature,
.segment-content-wrap.align-middle .segment-content.product_feature,
.segment-content-wrap.align-middle .segment-content.promotion_feature,
.segment-content-wrap.align-middle .segment-content.department_feature {
  .image-container.sizing-original { align-items: center;}
  .image-container.sizing-contain img,
  .swiper-container.sizing-contain img,
  .image-container.sizing-cover img,
  .swiper-container.sizing-cover img {
    object-position: center;
  }
}
.segment-content-wrap.align-bottom .segment-content.picture,
.segment-content-wrap.align-bottom .segment-content.gallery,
.segment-content-wrap.align-bottom .segment-content.category_feature,
.segment-content-wrap.align-bottom .segment-content.product_feature,
.segment-content-wrap.align-bottom .segment-content.promotion_feature,
.segment-content-wrap.align-bottom .segment-content.department_feature {
  .image-container.sizing-original { align-items: flex-end;}
  .image-container.sizing-contain img,
  .swiper-container.sizing-contain img,
  .image-container.sizing-cover img,
  .swiper-container.sizing-cover img {
    object-position: bottom;
  }
}

.segment-content.map {
  height: 100%;
  min-height: 40px;

  .map-container {
    width: 100%;
    height: 100%;
  }
}

.segment-content.video_player {
  .video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.segment-content.navigation_menu {
  .navmenu { width: 100%; }
}

.segment-content.category_menu {
  .navmenu { width: 100%; }
}


.segment-content.facebook_feed {
  .post { @extend .panel, .panel-default; }
  .post .header { @extend .panel-heading; }
  .post .timestamp { @extend .pull-right; }
  .post .body { @extend .panel-body; }
  .post .picture img { @extend .img-responsive; }
}


/*
 * Multicolumn content
 */
@mixin flex-columns {
  display: flex;
  flex-flow: row wrap;
  &:before,
  &:after { display: none; }

  > div { align-self: flex-start; }
}
.columns-1 {
  @include flex-columns;
  > div { @extend .col-xs-12; }
}
.columns-2 {
  @include flex-columns;
  > div { @extend .col-xs-6; }
}
.columns-3 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-4; }
}
.columns-4 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-3; }
}
.columns-6 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-3, .col-md-2; }
}
.columns-12 {
  @include flex-columns;
  > div { @extend .col-xs-6, .col-sm-3, .col-md-2, .col-lg-1; }
}
@media (max-width: $screen-xs-max) {
  .grid-disable-xs {
    > div { width: 100%; }
  }
}

/* Grid lines for grids */
@mixin no-right-border {
  &:after { border-right: 0; }
}
@mixin no-bottom-border {
  &:after { border-bottom: 0; }
}
@mixin grid-line-removal($n) {
  > :nth-child(#{$n}n) { @include no-right-border; }
  > :nth-last-child(-n+#{$n}) { @include no-bottom-border; }
  > :last-child {
    @include no-right-border;
    @include no-bottom-border;
  }
}
.grid-lines {
  > div, li { align-self: stretch; }
  > :after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    pointer-events: none;
  }
}

/* Removal of grid lines at the right and bottom edges */
.grid-lines.columns-1 {
  > div, li {
    @include no-right-border;
    @include no-bottom-border;
  }
}
.grid-lines.columns-2 { @include grid-line-removal(2); }
@media (max-width: $screen-xs-max) {
  .grid-lines { @include grid-line-removal(2); }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .grid-lines.columns-3 { @include grid-line-removal(3); }
  .grid-lines.columns-4,
  .grid-lines.columns-6,
  .grid-lines.columns-12 { @include grid-line-removal(4); }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .grid-lines.columns-3 { @include grid-line-removal(3); }
  .grid-lines.columns-4 { @include grid-line-removal(4); }
  .grid-lines.columns-6,
  .grid-lines.columns-12 { @include grid-line-removal(6); }
}
@media (min-width: $screen-lg-min) {
  .grid-lines.columns-3 { @include grid-line-removal(3); }
  .grid-lines.columns-4 { @include grid-line-removal(4); }
  .grid-lines.columns-6 { @include grid-line-removal(6); }
  .grid-lines.columns-12 { @include grid-line-removal(12); }
}


/*
 * Segment animation velocities
 */
.animation {
  animation-duration: 0.375s;

  &.velocity-slowest { animation-duration: 0.560s; }
  &.velocity-slow { animation-duration: 0.375s; }
  &.velocity-normal { animation-duration: 0.225s; }
  &.velocity-fast { animation-duration: 0.195s; }
}
@media (min-width: $screen-md-min) {
  .animation {
    animation-duration: 0.6s;

    &.velocity-slowest { animation-duration: 0.9s; }
    &.velocity-slow { animation-duration: 0.6s; }
    &.velocity-normal { animation-duration: 0.4s; }
    &.velocity-fast { animation-duration: 0.3s; }
  }
}


/*
 * Generic styling classes
 */
.text-white { color: #fff !important; }
.text-shadow { text-shadow: 0 0 4px rgba(0, 0, 0, 0.8); }
