/*
 * Layout editor side panel
 */
$side-panel-width: 360px !default;
$outline-width: 15px !default;

#side-panel {
  display: block;
  width: $side-panel-width;
  left: -$side-panel-width;
  z-index: 1019; // just below #side-nav
  opacity: 0;
  transform: translateX(0);
  transform: translateX(0) translateZ(0);
  transition: 100ms ease-in all;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  .panel-closed {
    padding-top: 120px;
    text-align: center;

    .fa { color: $navmenu-default-border; }
  }
  #editor-panel { display: none; }
}
#side-panel.open {
  transform: translateX($side-panel-width);
  transform: translateX($side-panel-width) translateZ(0);
  opacity: 1;
  @include box-shadow(0 0 12px 0 rgba(0,0,0,0.5));

  .panel-closed { display: none; }
  #editor-panel { display: block; }
}

#side-panel .panel-toggle {
  margin-top: 10px;
  @include clearfix;

  .btn {
    border: 0;
    background-color: transparent;
    font-size: 24px;
  }
}
#side-panel .inner-wrap {
  padding-left: 15px;
  padding-right: 15px;
}
#side-panel .btn-group {
  display: block;
  @include clearfix;
}

/* Permanent side panel on the largest screens */
/*
@media (min-width: 1200px + $side-panel-width) {
  #section-list { margin-left: $side-panel-width; }
  #side-panel {
    left: 0;
    opacity: 1;
    .panel-toggle { display: none; }
  }
  #side-panel.open {
    transform: none;
    box-shadow: none;
  }
  #side-panel #editor-panel { padding-top: 20px; }
}
*/

/*
 * Layout editor sections and segments
 */
.section-list {
  position: relative;
  padding-bottom: 600px;
}
.section-list-item { position: relative; }
.section-list-item.loading {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
.section-list-item .section-nav {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  background-color: darken($brand-primary, 15%);

  > .navbar-nav {
    float: left !important;
    margin-left: 0;
    margin-right: 0;

    > li { float: left !important; }
    > li > a {
      color: lighten($brand-primary, 35%);
      &:hover, &:focus {
        color: #fff;
        > .fa-cog { @extend .fa-spin; }
      }
    }
  }
}
.section-list-item .section {
  &.active {
    outline: $outline-width solid rgba($brand-primary, 0.333);
  }
  .section-bg-container:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba($brand-primary, 0.333);
    border-bottom: 1px solid rgba($brand-primary, 0.333);
  }
}
.section-list-item .column {
  position: relative;

  &.active {
    outline: $outline-width solid rgba($gray-base, 0.1667);
  }
  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid rgba($gray-base, 0.1667);
    border-right: 1px solid rgba($gray-base, 0.1667);
  }
  .column-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;

    > .navbar-nav > li > a {
      &:hover, &:focus {
        > .fa-cog { @extend .fa-spin; }
      }
    }
  }
}
.section-list-item .column:hover {
  .column-nav {
    z-index: 1;
    opacity: 1;
  }
}
.section-list-item .segment.disabled {
  .segment-nav { display: none !important; }
}
.section-list-item .segment {
  &.active {
    outline: $outline-width solid rgba($brand-info, 0.333);
  }
  .segment-nav {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    background-color: darken($brand-info, 15%);

    > .navbar-nav {
      float: right !important;
      margin-left: 0;
      margin-right: 0;

      > li { float: left !important; }
      > li > a {
        color: lighten($brand-info, 25%);
        &:hover, &:focus {
          color: #fff;
          > .fa-cog { @extend .fa-spin; }
        }
      }
    }
  }
  .segment-content-wrap {
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid rgba($brand-info, 0.333);
    }
  }
}
.section-list-item .segment:hover {
  .segment-content { min-height: 50px; }
  .segment-nav {
    z-index: 2;
    opacity: 1;
  }
}


/*
 * Content panel for in-place editing of segments
 */
#content-panel {
  position: absolute;
  z-index: 2;
  padding: 0;
  background-color: $body-bg;
  line-height: 1.4; // matches layouts.css
}
#content-panel .panel-close {
  display: block;
  position: absolute;
  top: -45px;
  right: -41px;
  z-index: 1;
  padding: 11.5px 14px 12px 14.5px;
  font-size: 24px;
  line-height: 1;
  border: 1px solid $panel-default-border;
  border-radius: 25px;
  color: inherit;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);

  &:hover { background-color: #f0f0f0; }
}
#content-panel:before {
  content: '';
  position: absolute;
  left: -15px;
  right: -15px;
  top: -20px;
  bottom: 0;
  z-index: -1;
  background-color: $body-bg;
  @include box-shadow(0 0 12px rgba(0, 0, 0, 0.8));
}
#content-panel .segment-form.text .note-editor {
  border: 0;
  border-radius: 0;
  caret-color: $brand-primary;

  .note-editing-area .note-editable,
  .note-editing-area .note-placeholder {
    padding: 0;

    h1:first-child,
    h2:first-child,
    h3:first-child {
      margin-top: 0;
    }
  }
  .table { @extend .table-bordered; }
  font[color] { text-shadow: 0 0 1px rgba(0, 0, 0, 0.6); }
}
