/*
 * Mixins
 */
@mixin padding-horizontal($padding: $grid-gutter-width/2) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding-vertical($padding: 20px) {
  padding-top: $padding;
  padding-bottom: $padding;
}
@mixin gutters($top, $right, $bottom, $left) {
  @if $top { padding-top: 20px; }
  @if $right { padding-right: $grid-gutter-width/2; }
  @if $bottom { padding-bottom: 20px; }
  @if $left { padding-left: $grid-gutter-width/2; }
}


/*
 * Section content widths
 */
.section .section-content.col-12 {
  @extend .col-xs-12;
}
.section .section-content.col-10 {
  @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
}
.section .section-content.col-8 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2;
}
.section .section-content.col-6 {
  @extend .col-xs-10, .col-xs-offset-1, .col-sm-8, .col-sm-offset-2, .col-md-6, .col-md-offset-3;
}


/*
 * Section layouts
 */
.section-content.column .segment {
  @include padding-vertical;
}
.section-content.block {
  @include padding-horizontal;
}
.section-content.block > .row {
  margin-left: 0;
  margin-right: 0;
}
.section-content.block .segment {
  @include padding-horizontal(0);
}
.section-content.column.spread > .row {
  margin-left: 0;
  margin-right: 0;
}
.section-content.block.spread > .row {
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}
.section-content .segment {
  .segment-content { min-height: 10px; }
}

/* Fix padding of stacked segments on mobile */
@media (max-width: $screen-xs-max) {
  .section-content.column .segment { padding-bottom: 0; }
  .section-content.column .segment:last-child { padding-bottom: 20px; }
}


/*
 * Section content dimensioning and alignment
 */
.section { position: relative; }
.section .container,
.section .row,
.section .section-content {
  height: 100%;
}

/* Column section segments can be aligned */
.column.align-top > .row,
.column.align-middle > .row,
.column.align-bottom > .row {
  display: flex;
  flex-flow: row wrap;
}
.column.align-top > .row { align-items: flex-start; }
.column.align-middle > .row { align-items: center; }
.column.align-bottom > .row { align-items: flex-end; }

/* Block section segments have predetermined height */
.section-content.block .segment.full { height: 100%; }
.section-content.block .segment.half { height: 50%; }


/*
 * Segment measures
 */
.segment.col-12 {
  @extend .col-xs-12;
}
.segment.col-8 {
  @extend .col-xs-12, .col-sm-8;
}
.segment.col-6 {
  @extend .col-xs-12, .col-sm-6;
}
.segment.col-4 {
  @extend .col-xs-12, .col-sm-4;
}
.segment.col-8-left {
  @extend .col-xs-12, .col-sm-8;
}
.segment.col-8-right {
  @extend .col-xs-12, .col-sm-8, .col-sm-push-4;
}
.segment.col-4-left {
  @extend .col-xs-6, .col-sm-4, .col-sm-pull-8;
}
.segment.col-4-right {
  @extend .col-xs-6, .col-sm-4;
}
.segment.col-3 {
  @extend .col-xs-6, .col-sm-3;
}


/*
 * Segment content styles
 */
.segment-content {
  line-height: 1.4; // default to sane value for summernote
}

.segment-content.column {
  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }
  :last-child { margin-bottom: 0; }
}

.segment-content.picture {
  .image-container,
  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .image-container img,
  .swiper-container img {
    @extend .img-responsive;
    margin: auto;
  }
  .swiper-slide {
    height: auto;
    background-color: $body-bg;
  }
}

@media (min-width: $screen-sm-min) {
  .block .segment-content.picture {
    height: 100%;

    .image-container,
    .swiper-container {
      overflow: hidden;
    }
    .image-container img,
    .swiper-container img {
    }
  }
}

.segment-content.map {
  .map-container {
    width: 100%;
    height: 20em;
  }
}
.block .segment-content.map,
.block .segment-content.map .map-container {
  height: 100%;
}

.segment-content.product {
  .product-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }
  .product-card a {
    display: block;
    position: relative;
    flex: 0 1 auto;
  }
  .product-card .buy-now {
    flex: 0 1 auto;
  }
}
.block .segment-content.product {
  .product-card { height: 100%; }
}
