/*
 * Layout editor sections and segments
 */
.section-list {
  position: relative;
  padding-bottom: 600px;
}
.section-list-item { position: relative; }
.section-list-item.loading {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
.section-list-item .section-bg-container:before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid rgba($brand-primary, 0.333);
  border-bottom: 1px solid rgba($brand-primary, 0.333);
}
.section-list-item .section-nav {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 40px;
  border: 0;
  border-radius: 0;
  background-color: darken($brand-primary, 15%);

  .navbar-nav {
    display: flex;
    flex-flow: row nowrap;
  }
  .navbar-nav > li > a,
  .navbar-nav > li input {
    color: lighten($brand-primary, 35%);
    &:hover, &:focus { color: #fff; }
  }
  .navbar-nav > li > a {
    padding: 10px 11px;
  }
  .dropdown-menu {
    width: 320px;
    padding: 15px;
    border: 0;
    border-radius: 0;
  }
}
.section-list-item .column {
  position: relative;

  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba($gray-base, 0.1667);
  }
  .column-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 40px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;

    .navbar-nav {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
    }
    .navbar-nav > li > a { padding: 10px 11px; }
  }
}
.section-list-item .column:hover {
  .column-nav {
    z-index: 1;
    opacity: 1;
  }
}
.section-list-item .segment-content {
  position: relative;
  z-index: 0;
}
.section-list-item .segment.active,
.section-list-item .segment.disabled {
  .segment-content { outline: none; }
  .segment-overlay,
  .segment-nav { display: none !important; }
}
.section-list-item .segment {
  position: relative;

  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba($brand-info, 0.333);
  }
  .segment-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($brand-info, 0.2);
  }
  .segment-overlay span { display: none; }
  .segment-nav {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 40px;
    border: 0;
    border-radius: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    background-color: darken($brand-info, 15%);

    .navbar-nav {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }
    .navbar-nav > li > a,
    .navbar-nav > li input {
      color: lighten($brand-info, 25%);
      &:hover, &:focus { color: #fff; }
    }
    .navbar-nav > li > a {
      padding: 10px 11px;
    }
    .dropdown-menu {
      width: 260px;
      border: 0;
      border-radius: 0;

      form { padding: 15px; }
    }
    .dropdown-menu-right { width: 180px; }
  }
}
.section-list-item .segment:hover {
  .segment-content { min-height: 40px; }
  .segment-overlay { display: block; }
  .segment-nav {
    z-index: 2;
    opacity: 1;
  }
}

/* Navbar item for minicolors */
.navbar-color {
  padding: 5px 6px;

  .minicolors-theme-bootstrap {
    .minicolors-swatch { cursor: pointer; }
    .minicolors-input {
      width: 0;
      background-color: transparent;
      color: transparent;
      border: 0;
      box-shadow: none;
      transition: all 0.4s ease-in-out 0s;
    }
    &.minicolors-position-left {
      .minicolors-input {
        padding-left: 28px;
        padding-right: 0;
        text-align: left;
      }
      &.minicolors-focus .minicolors-input {
        width: 14em;
        padding-left: 36px;
      }
    }
    &.minicolors-position-right {
      .minicolors-input {
        padding-left: 0;
        padding-right: 28px;
        text-align: right;
      }
      &.minicolors-focus .minicolors-input {
        width: 14em;
        padding-right: 36px;
      }
    }
  }
}


/*
 * Layout editor panel containing the segment form
 */
#layout-panel {
  @extend .col-xs-10, .col-sm-6, .col-md-4;
  position: absolute;
  top: 200px;
  right: 10%;
  z-index: 2;
  padding: 0;
  background-color: $body-bg;
  line-height: 1.4; // matches layouts.css
}
#layout-panel .panel-close {
  display: block;
  position: absolute;
  top: -45px;
  right: -41px;
  z-index: 1;
  padding: 11.5px 14px 12px 14.5px;
  font-size: 24px;
  line-height: 1;
  border: 1px solid $panel-default-border;
  border-radius: 25px;
  color: inherit;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

  &:hover { background-color: #f0f0f0; }
}
#layout-panel:before {
  content: '';
  position: absolute;
  left: -15px;
  right: -15px;
  top: -20px;
  bottom: 0;
  z-index: -1;
  background-color: $body-bg;
  @include box-shadow(0 0 36px rgba(0, 0, 0, 0.8));
}
#layout-panel .segment-form,
#layout-panel .segment-head,
#layout-panel .segment-tail {
  padding-bottom: 20px;
}
#layout-panel .CodeMirror { height: 300px; }

/* Overrides for different segment templates */
#layout-panel .segment-form.text .note-editor {
  border: 0;
  border-radius: 0;
  caret-color: $brand-primary;

  .note-editing-area .note-editable,
  .note-editing-area .note-placeholder {
    padding: 0;

    h1:first-child,
    h2:first-child,
    h3:first-child {
      margin-top: 0;
    }
  }
  .table { @extend .table-bordered; }
  font[color] { text-shadow: 0 0 1px rgba(0, 0, 0, 0.6); }
}
