@media print {
  @page {
    margin: 1cm 1cm 1cm 2cm;
  }

  html {
    font-size: 8pt;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }

  .container {
    width: 100% !important;
  }

  .page-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  .nav.nav-tabs {
    display: none;
  }

  .tab-content > .tab-pane {
    display: block;
  }

  .fade {
    opacity: 1;
  }

  .form-group {
    margin-bottom: 0;

    .form-control, .input-group-addon {
      font-size: inherit;
      border: 0;
      background: transparent;
    }
  }

  .page-break {
    page-break-before: always;
    break-before: always;
  }

  .btn {
    display: none;
  }

  a[href]:after {
    content: "";
  }

  .product-actions, .documents, .footer, .unobtrusive-flash-container, #tawkchat-iframe-container {
    display: none !important;
  }
}
