@media print {
  @page {
    margin: 1.4cm 1.4cm 2.1cm 2.1cm;
  }

  html {
    font-size: 8pt;
  }

  body {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: inherit;
  }

  footer { display: none !important; }

  h2 { font-size: 14pt; }

  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    line-height: 1.1;
  }

  #content-wrap {
    flex: none;
    position: static;
    padding-top: 0 !important;
    overflow: auto;
  }

  .compact {
    > .section:first-child .section-content .column {
      padding-top: 0;
      padding-bottom: 0;
    }
    .page-header { margin-top: 0; }
  }

  .container {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;

      > [class*=col] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .modal {
    position: static;
    padding: 0 !important;

    .modal-dialog {
      width: 100% !important;
      margin: 0;

      .modal-content {
        border: 0 !important;
        box-shadow: none;

        .modal-body {
          padding: 0;
        }
      }
    }
  }

  .page-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  .nav.nav-tabs {
    display: none;
  }

  .tab-content > .tab-pane {
    display: block;
  }
  .panel-group .panel-collapse {
    display: block !important;
    height: auto !important;
  }

  .fade {
    opacity: 1;
  }

  .form-group {
    margin-bottom: 0;

    .form-control, .input-group-addon {
      font-size: inherit;
      border: 0;
      background: transparent;
    }
  }

  .page-break {
    page-break-before: always;
    break-before: always;
  }

  .btn {
    display: none;
  }

  .label, .badge {
    border: 1px solid #c0c0c0;
    font-size: 88%;
    font-weight: normal;
  }

  th.zero-width-print,
  td.zero-width-print { width: 0 !important; }

  a[href]:after {
    content: "";
  }

  .actions, .product-actions, .documents {
    display: none !important;
  }
}
