@media print {
  @page {
    margin: 1cm 1cm 1cm 2cm;
  }

  body {
    font-size: 9pt;
    margin: 0;
    padding: 0;
  }

  .container, .container > .row > * {
    width: 100%;
  }

  h1 {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    font-size: 18pt;
    background: image-url('spry-logo.svg') 100% 0% no-repeat !important;
    background-size: 10% !important;
  }

  .nav.nav-tabs {
    display: none;
  }

  .tab-content > .tab-pane {
    display: block;
  }

  .fade {
    opacity: 1;
  }

  .form-group {
    margin-bottom: 0;
  }

  .page-break {
    page-break-before: always;
  }

  .btn {
    display: none;
  }

  a[href]:after {
    content: "";
  }

  .product-actions, .documents, .footer, .unobtrusive-flash-container {
    display: none;
  }
}
