$navbar-height:  80px !default;
$font-size-base: 16px !default;

$primary-color:     darken(#428bca, 38.5%);
$secondary-color:   #e4e5e6;
$body-bg:           $secondary-color;
$navbar-inverse-bg: $primary-color !default;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

#app {
  @include gradient-vertical($primary-color, $secondary-color, 0%, 100%);
  background-attachment: fixed;
  justify-content: center;

  > .navbar {
    .navbar-brand {
      width: auto;
      height: $navbar-height;
      padding: 15px;
      > img { max-height: 100%; }
    }
  }
  > .navbar-transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
  }
  .splash {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: rgba($primary-color, 0.667);

    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;
    }
    .swiper-slide > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .container {
    margin-top: 120px;
    margin-bottom: 60px;

    @media (max-width: $screen-xs-max) { width: 100%; }
  }
  .page-header, .lead {
    text-align: center;
    color: #fff;
  }
  .panel {
    background: rgba($panel-bg, 0.6667);
    border-radius: $border-radius-large;
    @include box-shadow(0 0 12px 0 rgba(0,0,0,0.5));

    .panel-body { padding: 20px; }

    .btn-primary {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      display: block;
      width: 100%;
    }
  }
}

.hamburger {
  display: none;
  padding: 25px 15px;

  @media (max-width: $screen-xs-max) {
    display: inline-block;
  }
}
