$navbar-height:  80px !default;
$font-size-base: 16px !default;

$primary-color:     darken(#428bca, 38.5%);
$secondary-color:   #e4e5e6;
$body-bg:           $secondary-color;
$navbar-inverse-bg: $primary-color !default;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

#viewport {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.swiper-slide {
  > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
#app {
  justify-content: flex-end;

  > .navbar {
    .navbar-brand {
      width: auto;
      height: $navbar-height;
      padding: 15px;
      > img { max-height: 100%; }
    }
  }
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .page-header {
    text-align: center;
    color: #fff;
  }
}

.hamburger {
  display: none;
  padding: 25px 15px;
}
@media (max-width: $screen-xs-max) {
  .hamburger { display: inline-block; }
}
