- grid_columns ||= 3

.grid.thumbnail-grid{class: "grid-columns-#{grid_columns}", style: 'opacity: 0;'}
  - images.each do |image|
    .grid-item{data: {id: image.id}}
      = link_to select_admin_image_path(image), class: 'thumbnail', remote: true do
        .thumbnail-square
          = image_variant_tag image, :matchbox, class: 'img-responsive'

= paginate images, window: 2, remote: true
