= form_for [:admin, Image.new], html: {multipart: true, class: 'dropzone'} do |f|
  .fallback
    = f.file_field :attachment
    = f.submit class: 'btn btn-primary'

:coffee
  Dropzone.autoDiscover = false
  $('#new_image').dropzone
    dictDefaultMessage: "#{I18n.t('dropzone.upload_images')}"
    paramName: 'image[attachment]'
    init: ->
      @on 'success', (file, image) ->
        $.get '/admin/images'
        $.get '/admin/images/' + image.id + '/select'
      @on 'complete', (file) ->
        this.removeFile file
