= form_for [:admin, imageable, imageable.images.new],
    html: {multipart: true, class: 'dropzone well'} do |f|
  .fallback
    = f.file_field :attachment
    = f.submit class: 'btn btn-primary'

:coffee
  Dropzone.options.newImage =
    dictDefaultMessage: "#{I18n.t('dropzone.default_message')}"
    paramName: 'image[attachment]'
    init: ->
      @on 'success', (file, image) ->
        $.get('/admin/images/' + image['id']);
      @on 'complete', (file) ->
        this.removeFile(file);
