#image-editor
  %nav.navbar.navbar-inverse
    %ul.nav.navbar-nav.navbar-right
      %li.danger
        %a#editor-cancel{role: 'button'}
          = icon('close', t('actions.cancel'), class: 'fa-fw')
      %li.success
        %a#editor-save{role: 'button'}
          = icon('save', t('actions.save'), class: 'fa-fw')

  .canvas
    = image_variant_tag image, :original

:coffee
  $image = $('#image-editor > .canvas > img')
  editor = new Cropper $image[0]

  $('#editor-save').on 'click', ->
    canvas = editor.getCroppedCanvas
      maxWidth: 4096
      maxHeight: 4096
      imageSmoothingQuality: 'medium'
    canvas.toBlob (blob) ->
      data = new FormData()
      console.log data
    , '#{image.attachment_content_type}', 0.8

  $('#editor-cancel').on 'click', ->
    editor.destroy()
    $.magnificPopup.close()
    $('#picture-modal').modal('show');
