.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min.hidden-print
        %th.col-xs-4= title(Image)
        %th.col-xs-6= col(Image, :purpose)
        %th.actions

    %tbody#images-tbody.sortable
      = render partial: 'admin/images/edit_row', collection: imageable.images.sorted, as: :image

:coffee
  $('#images-tbody').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{admin_reorder_images_path}',
      {reorder: $(this).sortable('toArray')}
