.list-group-item
  .row
    .col-lg-5
      %a.thumbnail.image-link{href: image.attachment.url(:lightbox)}
        = image_tag image.attachment.url(:thumbnail)
    .col-lg-7.form-horizontal
      .form-group
        %label.col-sm-4.control-label Image type
        .col-sm-8
          %p.form-control-static= image.image_type
      .form-group
        %label.col-sm-4.control-label File name
        .col-sm-8
          %p.form-control-static= image.attachment_file_name
      .form-group
        %label.col-sm-4.control-label File size
        .col-sm-8
          %p.form-control-static= number_to_human_size(image.attachment_file_size)
