.list-group-item
  .media
    .media-left
      %a.image-link{href: image.attachment.url(:large)}
        = image_tag image.attachment.url(:thumb), class: 'media-object'
    .media-body
      %dl.dl-horizontal
        %dt File name:
        %dd= image.attachment_file_name
        %dt File size:
        %dd= number_to_human_size(image.attachment_file_size)
