= content_tag_for :tr, image do
  %td= image_variant_tag image, :matchbox
  %td= image.human_attribute_value(:purpose)
  %td
    %button.btn.btn-default.btn-sm.clipboard{data: {'clipboard-text' => image.attachment.url(:original, timestamp: false)}}= icon('scissors')
