.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-8 Image
        %th.col-xs-4 Image type

    %tbody
      = render partial: 'admin/images/row', collection: imageable.images, as: :image
