%ol.breadcrumb
  = content_tag_for :li, @category.ancestors do |ancestor|
    = link_to ancestor, show_category_path(ancestor), data: {push: 'partial', target: '#store-body'}
  = content_tag_for :li, @category, class: 'active' do |category|
    = category
