= div_for category, class: category == @category ? 'active' : nil do
  = link_to show_category_path(category), remote: true do
    .thumbnail
      - if category.cover_image.present?
        = image_tag(category.cover_image.attachment.url(:thumbnail))
      .caption= category.name
