- if category.descendants.any?
  %li
    = title(Category)
    - if selected
      %span.badge= selected.size

    %ul.nav
      - category.descendants.each do |descendant|
        %li
          .checkbox
            %label
              = check_box_tag "product_search[categories][]", descendant.id, selected.present? && selected.include?(descendant.id.to_s), id: nil
              = descendant
