- if category.descendants.live.any?
  %li
    .pull-right
      .filter-reset.btn= icon('undo')
    .title= title(Category)

    .btn-group-vertical{data: {toggle: 'buttons'}}
      - category.descendants.live.each do |descendant|
        - active = selected.present? && selected.include?(descendant.id.to_s)
        %label.btn.btn-default.btn-xs{class: active && 'active'}
          = check_box_tag "product_search[categories][]", descendant.id, active, id: nil
          = descendant
