%li
  = link_to item, show_category_path(item), data: {push: 'partial', target: '#store-body'}
  %ul
    = render partial: 'categories/megamenu_child_item', collection: item.children.visible, as: :item
