%li.category-item
  = link_to show_category_path(item) do
    - if item.cover_image.present?
      .mega-dropdown-image
        = image_variant_tag item.cover_image, :postcard
    .mega-dropdown-text
      %h3= item
  %ul
    = render partial: 'categories/megamenu_child_item', collection: item.children.visible, as: :item
