%li{class: @category.inside?(category) && 'active'}
  = link_to show_category_path(category) do
    = image_variant_tag category.cover_image(:technical), :thumbnail
    = category.name
  - if category.subcategories.visible.any?
    %ul.nav.navmenu-nav= render partial: 'categories/nav_item', collection: category.subcategories.visible, as: :category
