= f.text_area :body, rows: 10, skip_label: true

:coffee
  $('#segment_body').summernote
    lang: "#{t('culture')}"
    toolbar: [
      ['para', ['style', 'ul', 'ol', 'paragraph']]
      ['font', ['bold', 'italic', 'clear']]
      ['insert', ['table', 'hr', 'link', 'picture', 'video']]
      ['misc', ['codeview']]
    ]
    dialogsFade: true
    disableDragAndDrop: true
