- content_for :segment_head do
  = render partial: 'admin/images/edit_collection', object: @segment, as: :imageable
  = render partial: 'admin/images/dropzone', object: @segment, as: :imageable

%fieldset
  .row
    .col-sm-6
      = f.select :thumbnail_size, Segment.thumbnail_size_options, {}, {class: 'selectize'}
