- content_for :segment_content do
  = render partial: @segment.to_partial_path, object: @segment, locals: {context: :edit}

%fieldset
  .row
    .col-sm-8
      = f.text_field :map_location
    .col-sm-4
      = f.text_field :map_zoom
