= f.select :resource_id, Page.options_for_select(current_store.pages.primary) { |p, l| [indent(p.to_s, l), p.id] }, {include_blank: t('.select_page')}

:coffee
  $('#segment_resource_id').betterSelectize()
