= f.select :resource_id, [], {}, {placeholder: t('actions.query'), class: 'selectize-tall selectize-list-group', data: {resources: [segment.resource].compact, selected: [segment.resource_id].compact}}

:coffee
  $product = $('#segment_resource_id')
  resources = $product.data 'resources'
  selected = $product.data 'selected'
  $product.betterSelectize
    remove: true
    options: resources
    items: selected
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.product_renderer
    load: (query, callback) ->
      return callback() unless query.length > 2
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
          purposes: ['vanilla', 'bundle', 'composite', 'package', 'virtual']
        error: ->
          callback()
        success: (response) ->
          callback(response)
