%fieldset
  = hidden_field_tag :content_mode, true
  ~ f.text_area :body, rows: 10, skip_label: true
%fieldset.actions
  = f.button class: 'btn btn-primary btn-block' do
    = icon('check', t('actions.save'))

:coffee
  $content = $('#segment_body')[0]
  cm = CodeMirror.fromTextArea $content,
    mode: 'text/html'
    theme: 'material'
    lineWrapping: true
    autoRefresh: true
