%fieldset
  = hidden_field_tag :content_mode, true
  ~ f.text_area_without_bootstrap :body, rows: 10

:coffee
  $content = $('#segment_body')[0]
  cm = CodeMirror.fromTextArea $content,
    mode: 'text/html'
    lineWrapping: true
    autoRefresh: true
