%fieldset
  = hidden_field_tag :in_place_edit, true
  ~ f.text_area :body, rows: 10, skip_label: true

:coffee
  $content = $('#segment_body')[0]
  cm = CodeMirror.fromTextArea $content,
    mode: 'text/html'
    lineWrapping: true
    autoRefresh: true
