#groups-list.list-group
  - current_store.groups.each do |group|
    - css = user.group(current_store) == group ? 'list-group-item active' : 'list-group-item'
    - if locked
      .list-group-item{class: css}
        %h5.list-group-item-heading
          = bootstrap_label(group)
    - else
      = link_to join_admin_group_user_path(group, user), class: css, remote: true, method: :patch do
        %h5.list-group-item-heading
          = bootstrap_label(group)
