.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: admin_group_users_path(@group), method: :get do |f|
      .row
        .col-sm-10
          .form-group
            = f.search_field :keyword, autocomplete: 'off', placeholder: col(User, :keyword), class: 'form-control'
        .col-sm-2
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'

:coffee
  $('.selectize-label').selectize
    plugins: ['remove_button']
    labelField: 'title'
    dataAttr: 'data'
    render: $.fn.selectize.label_renderer
