.page-header
  = link_to admin_group_users_path(@group), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1= icon('user', t('.new_user'))

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: false}
