#paybyway-data{data: {pay_url: pay_path(@order, :e_payment), verify_url: verify_path(@order)}}
#messages{data: {token_request_error: t('checkout.messages.token_request_error'), charge_error: t('checkout.messages.charge_error')}}


-# .panel.panel-default
-#   .panel-heading
-#     %h5.panel-title= t('checkout.creditcard_payment')
-#   .panel-body
-#     .row
-#       .col-sm-12
-#         .pull-right= image_tag 'visa-mastercard.png'
-#     = bootstrap_form_tag url: pay_path(@order, :credit_card), html: {id: 'paybyway-creditcard-form'} do |f|
-#       .row
-#         .col-sm-12
-#           = f.telephone_field :number, label: t('checkout.card_number'), class: 'credit-card-number', autocomplete: 'cc-number'
-#         .col-sm-6
-#           = f.text_field :expiry, label: t('checkout.card_expiry'), class: 'credit-card-expiry'
-#         .col-sm-6
-#           = f.text_field :cvc, label: t('checkout.card_cvc'), class: 'credit-card-cvc', autocomplete: 'off'
-#         .col-xs-12.pay-now-button.collapse.in
-#           = f.button t('checkout.charge'), class: 'btn btn-block btn-lg btn-primary'
-#       .row
-#         .col-xs-12.working.collapse
-#           .pull-right= icon('circle-o-notch', class: 'fa-lg fa-spin')
-#           %p= t('checkout.messages.charging')

%h5= t('checkout.e_payment')
.payment-buttons
  .row
    .col-xs-12
      .payment-button.visa{data: {selected: 'creditcards'}}
      .payment-button.mastercard{data: {selected: 'creditcards'}}
  .row
    .col-xs-12
      .payment-button.nordea{data: {selected: 'nordea'}}
      .payment-button.op{data: {selected: 'osuuspankki'}}
      .payment-button.danske{data: {selected: 'danskebank'}}
      .payment-button.saastopankki{data: {selected: 'saastopankki'}}
      .payment-button.aktia{data: {selected: 'aktia'}}
      .payment-button.handelsbanken{data: {selected: 'handelsbanken'}}
      .payment-button.spankki{data: {selected: 'spankki'}}
      .payment-button.omasaastopankki{data: {selected: 'omasaastopankki'}}
      .payment-button.alandsbanken{data: {selected: 'alandsbanken'}}
  .row
    .col-xs-12
      .payment-button.euroloan{data: {selected: 'euroloan'}}
      .payment-button.joustoraha{data: {selected: 'joustoraha'}}

= javascript_include_tag 'payment_gateway/paybyway'
