#paybyway-data{data: {pay_url: pay_path(@order, :e_payment), verify_url: verify_path(@order)}}
#messages{data: {token_request_error: t('checkout.messages.token_request_error'), charge_error: t('checkout.messages.charge_error')}}

%h5= t('checkout.e_payment')
#payment-methods{data: {url: payment_methods_path(@order)}}
  .payment-buttons

= javascript_include_tag 'payment_gateway/paybyway'
