%tr.subrow{class: adjustment.credit? ? 'success text-success' : 'warning text-warning'}
  %th{colspan: 4}= adjustment.label
  %td.text-right.currency
    = humanized_money_with_symbol includes_tax ? adjustment.amount_with_tax : adjustment.amount_sans_tax
  %td
