= form_tag order_product_path(product), class: 'order-form', method: :post, remote: true do
  .form-group
    .input-group
      = number_field_tag :amount, 1, min: 1, class: 'form-control'
      %span.input-group-btn
        %button.btn.btn-default.add-to-cart{type: 'submit', data: {url: show_product_stock_path(product, default_inventory), update: '.product-availability'}}
          = icon('cart-plus', t('store.add_to_cart'))
  = render partial: 'products/availability', object: product, as: :product
