- unless product.sales_price.nil?
  %p.currency= icon('tag', humanized_money_with_symbol(product.sales_price))
  - unless product.unit_price.nil?
    .unit-price.currency
      = unit_price_string(product.unit_price, product.base_unit)
