- unless product.sales_price.nil?
  %p.currency= icon('tag', humanized_money_with_symbol(product.sales_price_for(current_user)))
  - unless product.unit_price_for(current_user).nil?
    .unit-price.currency
      = unit_price_string(product.unit_price_for(current_user), product.base_unit)
