- price, unit_price = product.price(current_user), product.unit_price(current_user)
- unless price.nil?
  %p.currency= icon('tag', humanized_money_with_symbol(price))
  - unless unit_price.nil?
    .unit-price.currency
      = unit_price_string(unit_price, product.base_unit)
