.table-scroller.table-responsive
  %table.table.table-condensed.properties
    %thead
      %tr
        %td{colspan: 2}
          .small= t('store.product_properties')
    %tbody
      - product.product_properties.group_by(&:property).each do |property, product_properties|
        %tr[property]
          %th= property
          %td
            - product_properties.each do |product_property|
              = product_property.value_with_units
