#search-results
  .table-responsive.infinite-table
    %table.table.table-hover
      %thead
        %tr
          %th.col-min
          %th= col(Product, :title)
          %th
          - if can_see_pricing?
            %th.no-wrap.text-right= col(Product, :sales_price)
      %tbody
        = render partial: 'products/search_result_row', collection: products, as: :product
    .pagination
      = link_to_next_page(products, '', remote: true)
