- if can_see_stock? && product.tracked_stock?
  %ul.list-group
    %li.list-group-item
      %span= product.available
      = icon('cube', t('.available'))
    - if product.pending > 0
      %li.list-group-item
        %span= product.pending
        = icon('arrow-down', t('.pending'))
