- if can_see_stock? && product.tracked_stock?
  %ul.list-group
    - product.available_by_inventory.each do |inventory, available|
      %li.list-group-item
        %span= inventory.fuzzy? ? fuzzy_amount(available) : available
        = icon('cube', inventory)
