.table-responsive
  %table#products-table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min{data: {sorter: 'false'}}
        %th= col(Product, :title)
        %th.col-xs-2.no-wrap= col(Product, :code)
        - if can_see_pricing? && can_shop? && may_shop_at?(@category)
          %th.no-wrap.text-right= col(Product, :price)
        %th.col-xs-1.actions{data: {sorter: 'false'}}
    %tbody
      = render partial: 'products/table_row', collection: products, as: :product

:coffee
  $('#products-table').tablesorter
    theme: 'bootstrap'
    widthFixed: true
    widgets: ['uiTheme', 'saveSort']
    headerTemplate: '{content} {icon}'
    sortList: [[1,0]]
