#media-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}= icon('close')
        = link_to [:admin, videoable, :videos], class: 'btn btn-primary btn-sm', remote: true, method: :post do
          = icon('plus', t('.new_video'))
      .modal-body
