= menu_item 'paw', title(Store, count: 2), admin_stores_path
= menu_item 'globe', title(Portal, count: 2), admin_portals_path
= menu_item 'umbrella', title(Department, count: 2), admin_departments_path
