.category-banner.collapse.in
  - if @category.try(:banner).present?
    = render partial: 'categories/album_carousel', collection: @category.banner.albums, as: :album
    .content= @category.banner.content.html_safe
