%ul.canvas= render @products

:coffee
  $('.categories').hide()
  $('.navbar-form').hide()
  $('.search-panel').html("#{j render partial: 'store/search_panel'}")
  $('.search-panel').initialize()
  $('.search-panel').show()
  $('.products').show()
  $('.product-detail').hide()
