.product-list
  .panel.panel-default
    = render partial: 'products/search_results', object: @products, as: :products

:coffee
  $('.product-detail').hide()
  $('.search-panel').html("#{j render partial: 'store/search_panel'}")
  $('.products').show()
  $('#search-results').initialize()
