.product-list
  .panel.panel-default
    = render partial: 'products/search_results', object: @products, as: :products

:coffee
  $('.categories').hide()
  $('.product-detail').hide().addClass 'from-search'
  $('.navbar-form').hide()
  $('.search-panel').html("#{j render partial: 'store/search_panel'}")
  $('.search-panel').show()
  $('.products').show().addClass 'from-search'
