= render @products

:coffee
  $('.categories .category').removeClass 'active'
  $('.categories ##{dom_id(@category)}').addClass 'active'
  $('.product-detail').hide()
  $('.products').show()
  $('.search-bar').replaceWith("#{j render partial: 'shared/search_bar'}");

  # if theme-specific scripts have added masonry, trigger reload on it
  if $('.products').hasClass 'masonry'
    $('.products').imagesLoaded -> this.masonry 'reload'

  if $(window).isSmall()
    $(window).scrollTo $('.products'), 300, offset: -70
