#product-detail-wrap
  .product-detail
    = render partial: 'products/product_detail', object: @product, as: :product

- if @category.present?
  :coffee
    $('.category').deactivate()
    $("##{dom_id(@category)}").activate()

:coffee
  $('.product-detail').initialize()
