= render partial: 'products/product_detail', object: @product, as: :product

:coffee
  $('.category-banner').hide()
  $('.products').hide()
  $('.product-detail').show().initialize()
  if $(window).isSmall()
    $(window).scrollTo $('.product-detail'), 300, offset: -70
