#products-wrap
  .context
    %ol.breadcrumb
      = render partial: 'tags/breadcrumb', collection: current_store.tags, as: :tag
  .products
    #product-view.product-grid
      = render partial: 'products/grid_view', object: @products, as: :products, locals: {grid_type: current_store.masonry? ? 'staggered-grid' : 'straight-grid'}

:coffee
  $('.add-to-cart').checkAvailability()
  $('.add-favorite > .btn').checkFavorites '#{favorites_path}'
