#product-detail-wrap
  .product-detail{data: {url: show_product_path(@product)}}

- content_for :auxiliary_nav do
  = render partial: 'products/context_menu', object: @product, as: :product

:coffee
  $('.product-detail').loadPartial()
