#product-detail-wrap
  .product-detail
    = render partial: 'products/product_detail', object: @product, as: :product

:coffee
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.product-detail').initialize()
