= render partial: 'products/product_detail', object: @product, as: :product

:coffee
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.category-banner').collapse 'hide'
  $('.products').hide()
  $('.product-detail').show().initialize()
  if $(window).isSmall()
    $(window).scrollTo $('#store-wrap'), 300, offset: -$('#main-nav').outerHeight(true)
  else
    $(window).scrollTo 0, 300
