#products-wrap
  .context
    %ol.breadcrumb
      = render partial: 'categories/breadcrumb', collection: @category.self_and_ancestors.live, as: :category
    .category-order-toggle
      = link_to show_category_path(@category, params.permit([:page]).to_h), class: 'btn btn-default' do
        = icon('times', t('.close'))
  .products
    #product-view.product-order-list{data: {url: show_category_order_path(@category)}}
    .product-filter{data: {url: show_product_filter_path(@category, product_search_params)}}

:coffee
  $('#product-view').loadPartial()
  $('.product-filter').loadPartial products_url: '#{show_category_order_path(@category)}'
