.product-grid.collapse.in
  %ul= render @products
.product-list.collapse
  .panel.panel-default
    = render partial: 'products/table', object: @products, as: :products

:coffee
  $('.categories .category').removeClass 'active'
  $('.categories ##{dom_id(@category)}').addClass 'active'
  $('.categories').html("#{j render partial: 'categories'}")
  $('.search-panel').hide()
  $('.product-detail').hide()
  $('.categories').show()
  $('.products').show()
  $('.navbar-form').show()

  if $(window).isSmall()
    $(window).scrollTo $('.products'), 300, offset: -70
