= render partial: 'products/product_detail', object: @product, as: :product

:coffee
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.category-banner').replaceWith("#{j render partial: 'category_banner'}")
  $('.products').hide()
  $('.product-detail').show().initialize()
  if $(window).isSmall()
    $(window).scrollTo $('#product-detail-wrap'), 300, offset: -$('#main-nav').height()
  else
    $(window).scrollTo 0, 300
