= render partial: 'products/product_detail', object: @product, as: :product

:coffee
  $('.products').hide()
  $('.categories .category').removeClass 'active'
  $('.categories ##{dom_id(@category)}').addClass 'active'
  $('.product-detail').show().initialize()
  if $(window).isSmall()
    $(window).scrollTo $('.product-detail'), 300, offset: -70
