#products-wrap
  .context
    %ol.breadcrumb
      - current_store.promotions.live.each do |promotion|
        %li{class: promotion == @promotion && 'active'}
          = link_to promotion, show_promotion_path(promotion)
  .products
    .page-header.visible-print
      %h1= @promotion.to_s
    #product-view.product-grid
      = render partial: 'products/grid_view', object: @products, as: :products, locals: {grid_type: current_store.masonry? ? 'staggered-grid' : 'straight-grid'}

:coffee
  $('.add-to-cart').checkAvailability()
  $('.add-favorite > .btn').checkFavorites '#{favorites_path}'
