= render @products

:javascript
  $('.categories .category').removeClass('active');
  $('.categories ##{dom_id(@category)}').addClass('active');
  $('.product-detail').hide();
  $('.products').show();
