#product-detail-wrap
  .product-detail
    = render partial: 'products/product_detail', object: @product, as: :product

:coffee
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.mega-dropdown').removeClass 'open'
  $('.product-detail').initialize()

  if $(window).isSmall()
    $(window).scrollTo $('#store-wrap'), 300, offset: -$('#main-nav').outerHeight(true)
  else
    $(window).scrollTo 0, 300
