#product-detail-wrap
  .product-detail
    = render partial: 'products/product_detail', object: @product, as: :product

- content_for :auxiliary_nav do
  = render partial: 'products/context_menu', object: @product, as: :product

:coffee
  $('.add-to-cart').checkAvailability()
  $('.add-favorite > .btn').checkFavorites '#{favorites_path}'
  $('.product-detail').initialize()
