:coffee
  $('.add-to-cart').each (i, e) ->
    $widget = $(e)
    $widget.addClass 'disabled'
    url = $widget.data 'url'
    update = $widget.data 'update'
    $.ajax
      url: url
      dataType: 'json'
    .done (data) ->
      if data.available > 0
        $widget.removeClass 'disabled'
      else
        if data.backOrder
          $widget.removeClass 'disabled'
          if update then $(update).find('.back-orderable').collapse 'show'
        else
          if update then $(update).find('.out-of-stock').collapse 'show'
