.page-header
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1.hidden-print= icon('shopping-cart', t('.shopping_cart'))
  %h1.visible-print-block= current_store

= render partial: 'cart_contents', object: @order, as: :order
