.page-header
  %h1= icon('shopping-cart', 'Order confirmation')

.panel.panel-default
  = render partial: 'order_items/table', object: @order, as: :order

.row
  .col-lg-7
    .panel.panel-default
      .panel-body
        = render @payment_gateway
