- meta_tags_for(current_store)

#store-wrap
  #store-header
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

  #store-body
    #products-wrap
      .products
        .page-header
          %h1= current_store.to_s
          %p.lead= t('store.front_blurb')
