%ul.categories.hidden-print{style: 'display: none'}

.search-panel
  = render partial: 'search_panel'

%ul.products{class: current_store.masonry? ? 'brickwork' : ''}
  = render @products

.product-detail{style: 'display: none'}

.all-products
  = render partial: 'products_modal'
