%ul.categories.hidden-print{style: 'display: none'}
  = render @categories

.search-panel
  = render partial: 'search_form'

%ul.products
  = render @products

.product-detail{style: 'display: none'}

= render partial: 'products_modal'
