- if @products.any?
  $('#search-results').html("#{j render partial: 'products/search_dropdown', object: @products, as: :products}");
  $('#search-results').show()
- else
  $('#search-results').hide()
