.categories.hidden-print{style: 'display: none'}

.search-panel
  = render partial: 'search_panel'

.products.from-search{class: current_store.masonry? ? 'brickwork' : ''}
  .product-grid.collapse.in
    %ul= render @products
  .product-list.collapse
    .panel.panel-default
      = render partial: 'products/table', object: @products, as: :products

.product-detail.from-search{style: 'display: none'}
