.categories.hidden-print{style: 'display: none'}

.search-panel
  = render partial: 'search_panel'

.products.from-search{class: current_store.masonry? ? 'brickwork' : ''}
  .canvas
    %ul= render @products

.product-detail.from-search{style: 'display: none'}
