#search-panel-wrap
  .search-panel
    = render partial: 'search_panel'

#search-results-wrap
  .products
    .product-list
      .panel.panel-default
        = render partial: 'products/search_results', object: @products, as: :products
