.categories.hidden-print{style: 'display: none'}

.search-panel
  = render partial: 'search_panel'

.products.from-search
  .product-list
    .panel.panel-default
      = render partial: 'products/search_results', object: @products, as: :products

.product-detail.from-search{style: 'display: none'}
