.page-content{class: @page.albums.any? ? 'has-sidebar' : ''}
  .fr-view
    = @page.content.html_safe if @page.content.present?

- if @page.albums.any?
  = render partial: 'albums/sidebar', object: @page.albums, as: :albums
