- meta_tags_for(@product)

- content_for :category_banner do
  .category-banner

#category-banner-wrap
  = yield :category_banner

#store-wrap
  .store-sections
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

    #products-wrap
      = yield :category_banner

      .products{style: 'display: none'}

    #product-detail-wrap
      .product-detail
        = render partial: 'products/product_detail', object: @product, as: :product

:coffee
  if $(window).isSmall()
    $(window).scrollTo $('#store-wrap'), 300, offset: -$('#main-nav').outerHeight(true)
