- meta_tags_for(@page, title: @page.display_title)

#store-wrap
  #store-body
    = render partial: 'pages/layout', object: @page, as: :page
    = render partial: 'show_category'

= render partial: 'admin/pages/navbar_edit', object: @page, as: :page
