- meta_tags_for(@page, title: @page.display_title)

#static-wrap
  - if @page.continuous?
    = render partial: 'pages/layout', collection: @page.children.primary.live, as: :page

  - else
    = render partial: 'pages/layout', object: @page, as: :page

  = render partial: 'admin/pages/navbar_edit', object: @page, as: :page
