%ul.categories.hidden-print
  = render @categories

.search-panel{style: 'display: none'}
  = render partial: 'search_form'

%ul.products
  = render @products

.product-detail{style: 'display: none'}

= render partial: 'products_modal'

:coffee
  jQuery ->
    if $(window).isSmall()
      $(window).scrollTo $('.products'), 300, offset: -70
