.page-content{class: @page.albums.any? ? 'has-sidebar' : ''}
  = @page.content.html_safe if @page.content.present?

- if @page.albums.any?
  #sidebar.sidebar.sidebar-right
    .sidebar-toggle.animated.pulse.infinite
      %button.btn.btn-lg.btn-primary{data: {toggle: 'sidebar'}}
        = icon('chevron-left')
    .container.albums
      %ul.list-group
        = render partial: 'albums/gallery_item', collection: @page.albums, as: :album
