.categories.hidden-print
  = render @categories
  = link_to_all_products

.products{style: 'display: none'}
  = render @products

.product-detail
  = render partial: 'products/product_detail', object: @product, as: :product

:coffee
  jQuery ->
    $(window).scrollTo $('.product-detail'), 300, offset: -70
