- meta_tags_for(@product)

#store-wrap
  #store-header
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

  #store-body
    #product-detail-wrap
      .product-detail
        = render partial: 'products/product_detail', object: @product, as: :product

:coffee
  if $(window).isSmall()
    $(window).scrollTo $('#store-wrap'), 300, offset: -$('#main-nav').outerHeight(true)
