$('.product-detail').html('#{j render partial: 'products/product_detail', object: @product, as: :product}');

$('.products').hide('blind', 150);
$('.product-detail').show('fade', 300, function() { $(this).initialize() });
