%ul.categories.hidden-print
  = render @categories
  = render 'categories/all'

%ul.products

.product-detail{style: 'display: none'}

.all-products
  = render partial: 'products_modal'

:coffee
  jQuery ->
    $('#products-modal').modal 'show'
    $('#products-modal').initialize()
