- set_meta_tags(og: {title: @product.to_s, url: request.original_url, image: image_url(@product.cover_image.url(:presentational)), description: strip_tags(@product.description)})

.categories.hidden-print
  %ul= render @categories

.search-panel{style: 'display: none'}

.products{style: 'display: none'}

.product-detail
  = render partial: 'products/product_detail', object: @product, as: :product

:coffee
  jQuery ->
    if $(window).isSmall()
      $(window).scrollTo $('.product-detail'), 300, offset: -70
