#store-wrap
  #store-body
    #products-wrap
      .products
        .page-header.visible-print
          %h1
            = current_store
            %small= @department
        #product-view.product-grid.infinite-table
          %ul{class: current_store.masonry? ? 'staggered-grid' : 'straight-grid'}
            = render partial: 'departments/product', collection: @products, as: :product
          .pagination-block
            = link_to loading_spinner, show_department_path(@department), remote: true, rel: 'next', class: 'btn'
