.categories.hidden-print
  = render @categories
  = render 'categories/all'

.products
  = render @products

.product-detail{style: 'display: none'}

:coffee
  jQuery ->
    $(window).scrollTo $('.products'), 300, offset: -70
