- meta_tags_for(@product)

#store-wrap
  #store-header
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

  #store-body
    = render partial: 'show_product'
    = render partial: 'favorites_handler'
