#store-wrap
  #store-body
    #products-wrap
      .products
        .page-header.visible-print
          %h1
            = current_store
            %small= @department
        .product-grid.infinite-table
          %ul.masonry-grid
            = render partial: 'departments/product_card', collection: @products, as: :product
          .pagination
            = link_to loading_spinner, show_department_path(@department), remote: true, rel: 'next'
