%ul.categories.hidden-print
  = render @categories

%ul.products{style: 'display: none'}
  = render @products

.product-detail
  = render partial: 'products/product_detail', object: @product, as: :product

= render partial: 'products_modal'

:coffee
  jQuery ->
    if $(window).isSmall()
      $(window).scrollTo $('.product-detail'), 300, offset: -70
