.page-header
  = link_to admin_custom_attributes_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('sliders', t('.new_custom_attribute'))

.row
  .col-md-6
    = render 'form'
