!!!
%html{lang: I18n.locale}
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
    = stylesheet_link_tag 'bootstrap-base', media: 'all'
  %body
    .container
      = yield
