!!!
%html{lang: I18n.locale}
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
    = stylesheet_link_tag 'devise', media: 'all'
  %body#app
    .vertical-center
      .container
        .branding
        = yield
