!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width'}
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    = stylesheet_link_tag 'email/mailgun'
  %body
    %table.body-wrap
      %tr
        %td
        %td.container{width: 600}
          .content
            = yield
        %td
