!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width'}
    = stylesheet_link_tag 'zurb/ink.css'
    :css
      body, table.body, h1, h2, h3, h4, h5, h6, p, td { font-family: 'Helvetica Neue', 'Helvetica', 'Fira Sans', sans-serif; }
      table.stylish { width: 100%; }
      table.stylish th, table.stylish td { padding: 5px; border-bottom: 1px solid #abe; }
      .panel { background: #e0f0f8; }
      .text-right { text-align: right; }
      .small { font-size: 80%; line-height: 1.2; }
      .tiny { font-size: 10px; line-height: 1.5; }


  %body
    %table.body
      %tr
        %td
          %table.container
            %tr
              %td
                = yield
