- product.iframes.each do |iframe|
  .iframe{id: dom_id(iframe), class: inline ? '' : 'iframe-popup mfp-hide'}
    = iframe

- unless inline
  %button.btn.btn-default.iframe-toggle= icon('eye', class: 'fa-lg')

:coffee
  $('.iframe-toggle').on 'click', ->
    items = ({src: $(e)} for e in $('.iframe'))
    $.magnificPopup.open
      items: items
      closeBtnInside: false
      gallery:
        enabled: true
