/*
 * Theme specific styles
 */

$font-family-sans-serif: 'Fira Sans', sans-serif !default;
$navbar-default-link-active-bg: transparent;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

#content-wrap, .offcanvas .inner-wrap { padding-top: 80px; }

#main-nav {
  @include box-shadow(0 0 10px 0 #343434);

  > .container {
    padding-top: 15px;    // padding the container only,
    padding-bottom: 15px; // not the contained elements

    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
    }

    .navbar-nav {
      > li {

        &.active:before {
          content: '';
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 10px;
          border-bottom: 3px solid $brand-primary;
        }
      }
    }
  }
}

/*
  on extra small screens the navbar will collapse, and we shrink the logo,
  and revert navbar links to original styles
*/
@media (max-width: $screen-sm-min) {
  #content-wrap, .offcanvas .inner-wrap { padding-top: 70px; }

  #main-nav {
    > .container {
      padding-top: 10px;
      padding-bottom: 10px;

      .navbar-brand img {
        max-height: 30px;
        margin-top: 12px;
      }

      .navbar-nav {
        > li {
          margin-top: 0;
          padding-top: 0;

          &.active {
            background-color: darken($navbar-default-bg, 6.5%);
            &:before { display: none; }
          }
        }
      }
    }
  }
  .products, .product-detail { padding-top: 30px; }
}

#store-wrap {
  padding-bottom: 30px;
}

#categories-wrap {
  position: relative;
  background-color: #343434;

  .categories {
    @extend .container;

    > ul {
      @include clearfix;
      list-style: none;
      padding: 15px 0;
      margin: 0;
      font-size: $font-size-small;

      > li.category {
        float: left;
        padding: 5px 0;
        margin-right: $grid-gutter-width;

        &.active {
          > a {
            color: #fff;
            border-bottom-color: $brand-primary;
          }
          > .subcategories-wrap { display: block; }
        }

        > a {
          display: block;
          padding: 0;
          text-align: left;
          text-decoration: none;
          color: #b6b6b6;
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;

          &:hover { color: #eee; }

          img { display: none; }
          p { margin: 0; }
        }

        .subcategories-wrap {
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;

          > .subcategories {
            @extend .container;
            padding-top: 5px;
            padding-bottom: 5px;

            > ul {
              @extend .nav, .nav-sm, .nav-pills;
              margin-bottom: 0;

              > li {
                img { display: none; }
                p { margin: 0; }
              }
            }
          }
        }
      }
    }
  }
}

#products-wrap {
  position: relative;

  .products {
    @extend .container;
    position: relative;
    margin-top: 40px;

    .product-grid {
      @include make-row;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-end;
        list-style: none;
        padding-left: 0;

        li.product {
          @include make-xs-column(6);
          @include make-sm-column(4);
          @include make-md-column(3);
          position: relative;
          transition: all 0.2s ease-in-out 0s;

          a {
            @extend .thumbnail;
            display: block;
            padding: 10px 10px 40px;
            background-color: #fff;

            &:hover {
              @include box-shadow(0 0 1px 2px $brand-primary);
              text-decoration: none;
            }
            .product-image {
              position: relative;
              width: 100%;

              figure {
                height: 0;
                padding-bottom: 100%;
                @include contained-image;
              }
            }
            .product-text {
              overflow: hidden;
              text-align: center;

              h3 {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 15px;
                letter-spacing: -0.01em;

                .small {
                  display: block;
                  font-size: 12px;
                }
              }
              .description { display: none; }
            }
            .promotion { text-align: center; }
          }
          .buy-now {
            position: absolute;
            bottom: 30px;
            left: 25px;
            right: 25px;
            display: flex;
            justify-content: center;

            form {
              flex: 0 0 auto;

              button {
                @include button-variant($btn-default-color, $btn-default-bg, $btn-primary-border);
                @include border-left-radius(0);
                height: 30px;
                margin-left: -2px;
                border-left-width: 0;
              }
            }
            p {
              @extend .label, .label-primary;
              flex: 0 0 auto;
              font-size: 1em;
              line-height: 23px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

#product-detail-wrap {
  .product-detail {
    @extend .container;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    .product-header {
      .actions {
        float: right !important;

        .btn { display: inline-block; }
      }
      .product-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 500;
      }
    }
    .product-body {
      @include make-row;

      .images.presentational {
        @include make-xs-column(12);
        @include make-sm-column(7);
        @include make-md-column(8);
        @include make-lg-column(9);
        margin-bottom: 30px;
      }
      .product-meta {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(4);
        @include make-lg-column(3);

        .product-code {
          font-size: $font-size-small;
        }
        .buy-now {
          @extend .well;

          .product-pricing {
            .price {
              @extend .lead;
              margin-right: 0.5em;
              margin-bottom: 0;
              font-weight: 500;
              color: $brand-primary;

              .tax-rate, .unit-price {
                display: inline-block;
                font-size: $font-size-base;
                font-weight: 400;
                color: $text-muted;
              }
              .tax-rate { margin-left: 0.5em; }
              .unit-price { display: block; }
            }
            .retail-price {
              text-decoration: line-through;
            }
          }
          form {
            .form-group {
              margin-top: 20px;

              #amount { display: none; }
              button {
                @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
                @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
                display: block;
                width: 100%;
                transition: all 0.2s ease-in-out 0s;
              }
            }
          }
          .go-checkout .btn {
            @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
            display: block;
            width: 100%;
            transition: all 0.2s ease-in-out 0s;
          }
        }
        .variant-products {
          margin-bottom: 20px;

          button {
            display: block;
            width: 100%;
          }
          .dropdown-menu {
            @extend .dropdown-menu-right;
          }
        }
        .product-stock {
          font-size: $font-size-small;

          dt { float: left !important; }
          dd {
            @extend .badge;
            float: right !important;
          }
        }
      }
      .product-description {
        @include make-xs-column(12);
        @include make-md-column(6);

        .body-text { margin-bottom: 20px; }
      }
      .product-properties {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);

        .properties, .components {
          tr > :last-child { padding-right: 10px; }
        }
      }
      .images.technical {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);

        .image { padding-bottom: 100%; }
      }
      .images {
        .nav { @extend .nav-tabs, .nav-sm; }
        .picture {
          position: relative;
          height: 0;
          padding-bottom: 61.8%; // golden ratio

          > a.image-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            figure {
              width: 100%;
              height: 100%;

              img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    .product-footer {

      .requisite-products, .variant-products {
        @include make-row;

        ul {
          list-style: none;
          padding: 0;

          li.product {
            @include make-xs-column(6);
            @include make-sm-column(4);
            @include make-md-column(2);

            a {
              display: block;
              text-decoration: none;

              .product-image {
                position: relative;

                figure {
                  height: 0;
                  padding-bottom: 100%;
                  @include contained-image;
                }
              }

              .product-text {
                h3 {
                  font-size: $font-size-base;
                  margin-top: 0.25em;
                  margin-bottom: 0.5em;

                  .small {
                    display: block;
                    font-size: $font-size-small;
                  }
                }
              }
              .properties {
                font-size: $font-size-small;

                th { padding-left: 0; }
                td { padding-right: 0; }
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  #products-wrap {
    .products {
      .product-grid {
        margin: 0;
        padding: 0;

        ul {
          display: block;

          li.product {
            display: block;
            width: 100%;
            max-width: 100%;
            padding: 10px 0;
            border-top: 1px solid #eee;
            page-break-inside: avoid;
            break-inside: avoid;

            &:first-child { border-top: 0; }

            a {
              display: block;
              padding: 0;
              border: 0;

              &:after {
                content: '';
                display: table;
                clear: both;
              }

              .product-image {
                float: left;
                width: 200px;
                height: 200px;
                padding: 0;

                img {
                  position: static;
                  display: block;
                  transform: none;
                  margin: 0 auto;
                }
              }
              .product-text {
                margin-left: 220px;
                text-align: left;

                .description { display: block; }
              }
              .promotion { display: none; }
            }
            .buy-now { display: none; }
          }
        }
      }
    }
  }
}
