/*
 * Theme specific styles targeting the element .cards
 * and its descendants.
 */

.cards {
  padding-top: $navbar-height;
  padding-bottom: 120px;
  overflow-y: scroll;

  .navbar {
    @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
  }

  .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    width: auto;
  }

  .page-content {
    margin-top: 20px;
  }

  .categories {
    @extend .clearfix;
    margin: 0 -1*$grid-gutter-width 20px;
    padding: 20px $grid-gutter-width/2 0;
    background: $gray;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAF0lEQVQI12NgYGAIYYAAGI3CCWEgqAIAVZQCoRIAGyYAAAAASUVORK5CYII=);

    .category {
      display: inline-block;
      width: 12.5%;
      min-width: 100px;
      max-width: 180px;
      height: 10%;
      padding: 0 10px;

      a {
        @extend .thumbnail;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
      }
      p {
        margin: 0.5em 0.25em 0;
        font-size: $font-size-small;
      }
    }
    .category.active a {
      transform: translate(0, -8px) rotateZ(-2.5deg);
      @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.8));
    }
  }

  .products {
    @extend .row;

    .product {
      @extend .col-sm-4;
      @extend .col-lg-2;
      float: none;
      display: inline-block;

      a {
        display: block;

        img {
          @extend .img-thumbnail;
        }
        h3 {
          font-size: $font-size-base;
          margin-top: 0.5em;
          margin-bottom: 0.25em;
        }
        h4 {
          margin-top: 0;
          font-size: $font-size-small;
        }
      }
    }
  }

  .product-detail {
    @extend .clearfix;
    position: relative;
    z-index: $zindex-navbar;
    margin: 0 -1*$grid-gutter-width;
    padding: 0 $grid-gutter-width/2 30px;
    background: $body-bg;

    .product-actions {
      @extend .pull-right;
      margin-top: 6px;

      .form-inline {
        display: inline-block;
      }
    }

    .product-title {
      @extend .page-header;
      margin-top: 0;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    .product-description {
      @extend .col-sm-4;

      .product-stock {
        @extend .lead;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
      }

      .body-text {
        margin-top: 10px;
      }

      .product-pricing {
        @extend .col-sm-6;
        @extend .lead;
        @extend .text-primary;
      }

      .product-code {
        @extend .col-sm-6;
        @extend .text-right;
        margin-bottom: 0;
      }
    }

    .images {
      position: relative;
      padding-bottom: 60px;

      .nav {
        position: absolute;
        left: $grid-gutter-width/2;
        bottom: 0;
      }

      img {
        @extend .img-responsive;
      }
    }

    .images.technical {
      @extend .col-sm-2;
      @extend .col-sm-offset-1;

      .tab-content {
      }
    }
    .images.presentational {
      @extend .col-sm-5;

      .tab-content {
      }
    }
  }
}
