/*
 * Theme specific styles
 */

$font-family-sans-serif: 'Fira Sans', sans-serif !default;

@import "bootstrap-font-awesome";
@import "bootstrap-generators";
@import "bootstrap-tweaks";

#main-nav {
  @include box-shadow(0 6px 12px 0 rgba(0,0,0,0.333));
}

#categories-wrap {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAiCAAAAADD1SApAAAA5UlEQVR4AYXUMW6EQBAF0TpSS4T//vda2dO0GgiKwDuItwRl7ef6v5L+qNSc+5EL+jZpkTZJm3LBkBxRx2TI5YLzriQ5j//O9+0hLmgz4hoz71BB56kRc552KtjFpvqjnQtWsdHJbueCVWx9Z7dzwSpWQ2q3c8GudMN6tHPBo1hV/9ntXLCK7SsZ44Jd7CXqGBdMsQ+ZdipYldYvf7dzwfwHWqRNDXXBa2Eq9dkgFfgGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gF/gGucA3yAW+QS7wDXKBb5ALfINc4BvkAt8gFz+Bp+mo8f2VxAAAAABJRU5ErkJggg==);

  .categories {
    @extend .container;
    padding-top: 20px;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li.category {
        display: inline-block;
        position: relative;
        margin-right: -10px;
        margin-bottom: 10px;
        background: #ccc;
        @include box-shadow(0 0 6px 0 rgba(0,0,0,0.5));
        transition: all 0.2s ease-in-out 0s;

        &:hover { transform: scale(1.05); }
        &.active {
          a:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @include gradient-directional(rgba(255,255,255,0.1), rgba(255,255,255,0.9), 120deg);
          }
        }
        > a {
          display: block;
          position: relative;
          width: 90px;
          height: 112px;
          padding: 1px;
          outline: 0;
          overflow: hidden;
          text-decoration: none;

          img {
            display: block;
            width: 88px;
            height: auto;
          }

          p {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            margin: 0;
            padding: 5px;
            color: #fff;
            background: rgba(0,0,0,0.5);
            font-weight: 500;
          }
        }
        ul { display: none; }
      }
    }
  }
}

#products-wrap {
  .context { display: none; }

  .products {
    @extend .container;
    padding-top: 20px;
    padding-bottom: 20px;

    .product-grid {
      @include make-row;

      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        li.product {
          @include make-xs-column(6);
          @include make-sm-column(4);
          @include make-md-column(3);
          @include make-lg-column(2);
          margin-bottom: 10px;

          &:hover a img { @include box-shadow(0 0 8px $link-color); }

          a {
            display: block;
            text-decoration: none;

            img {
              @extend .img-thumbnail;
            }
            h3 {
              font-size: $font-size-base;
              margin-top: 0.5em;
              margin-bottom: 1em;

              .small {
                display: block;
                font-size: $font-size-small;
              }
            }
            .description { display: none; }
          }
          .buy-now { display: none; }
        }
      }
    }
  }
}

#product-detail-wrap {
  .product-detail {
    @extend .container;
    padding-top: 40px;
    padding-bottom: 20px;

    .product-header {
      .actions {
        float: right !important;

        .btn { display: inline-block; }
      }
      .categories { display: none; }
      .product-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 500;
      }
    }
    .product-body {
      @include make-row;

      .images.presentational {
        @include make-xs-column(12);
        @include make-sm-column(7);
        @include make-md-column(8);
        @include make-lg-column(9);
        margin-bottom: 30px;
      }
      .product-meta {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(4);
        @include make-lg-column(3);

        .product-code {
          font-size: $font-size-small;
        }
        .buy-now {
          @extend .well;

          .product-pricing {
            .price {
              @extend .lead;
              margin-right: 0.5em;
              margin-bottom: 0;
              font-weight: 500;
              color: $brand-primary;

              .tax-rate, .unit-price {
                display: inline-block;
                font-size: $font-size-base;
                font-weight: 400;
                color: $text-muted;
              }
              .tax-rate { margin-left: 0.5em; }
              .unit-price { display: block; }
            }
            .retail-price {
              text-decoration: line-through;
            }
          }
          .order-form {
            margin-top: 20px;

            .input-group {
              @extend .input-group-lg;
              .form-control { display: none; }
            }
            .btn {
              @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
              @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
              display: block;
              width: 100%;
              margin-left: 0;
              transition: all 0.2s ease-in-out 0s;
            }
          }
          .go-checkout .btn {
            @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
            display: block;
            width: 100%;
            transition: all 0.2s ease-in-out 0s;
          }
        }
        .variant-products {
          margin-bottom: 20px;

          button {
            display: block;
            width: 100%;
          }
          .dropdown-menu {
            @extend .dropdown-menu-right;
          }
        }
        .product-stock {
          font-size: $font-size-small;

          dt { float: left !important; }
          dd { float: right !important; }
        }
      }
      .product-description {
        @include make-xs-column(12);
        @include make-md-column(6);

        .body-text { margin-bottom: 20px; }
      }
      .product-properties {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);

        .properties, .components {
          tr > :last-child { padding-right: 10px; }
        }
      }
      .images.technical {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);

        .image { padding-bottom: 100%; }
      }
      .images {
        .nav { @extend .nav-tabs, .nav-sm; }
        .picture {
          position: relative;
          height: 0;
          padding-bottom: 61.8%; // golden ratio

          > a.image-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            figure {
              width: 100%;
              height: 100%;

              img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
