$hiustalo-green: #a2b982;
$hiustalo-red:   #ed1944;
$hiustalo-blue:  #007db6;

$brand-primary: $hiustalo-blue !default;
$brand-success: #86bc2a !default;
$brand-info:    lighten($hiustalo-blue, 25%) !default;
$brand-warning: #ffa538 !default;
$brand-danger:  $hiustalo-red !default;

@import "themes/material";

/*
 * Overrides to the material theme for Hiustalo
 */

/* Product filtering */
.filter-bar { background-color: rgba($hiustalo-green, 0.2); }

/* Promotions positioned outside the static product-meta */
.product-meta .promotions {
  left: $grid-gutter-width/2;

  .promotion {
    text-align: right;

    .promotion-image { display: inline-block; }
    .promotion-text { display: inline-block; }
    .promotion-image + .promotion-text { display: none; }
  }
}

/* Product footer elements */
.product-footer {
  .swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 90px;
    margin-top: -45px;
    background-size: 100% 100%;
  }
  .swiper-button-next { background-image: asset-url('hiustalo-next.svg'); }
  .swiper-button-prev { background-image: asset-url('hiustalo-prev.svg'); }
}
