$salon-green: #a2b982;
$salon-red:   #ed1944;
$salon-blue:  #007db6;

$brand-primary: $salon-blue !default;
$brand-success: #86bc2a !default;
$brand-info:    lighten($salon-blue, 25%) !default;
$brand-warning: #ffa538 !default;
$brand-danger:  $salon-red !default;

@import "themes/material";

/*
 * Overrides to the material theme
 */

/* Product filtering */
.filter-bar { background-color: rgba($salon-green, 0.2); }

/* Promotions positioned outside the static product-meta */
.product-meta .promotions {
  left: $grid-gutter-width/2;

  .promotion {
    text-align: right;

    .promotion-image { display: inline-block; }
    .promotion-text { display: inline-block; }
    .promotion-image + .promotion-text { display: none; }
  }
}

/* Product footer elements */
.product-footer {
  .swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 90px;
    margin-top: -45px;
    background-size: 100% 100%;
  }
  .swiper-button-next { background-image: asset-url('red-triangle-next.svg'); }
  .swiper-button-prev { background-image: asset-url('red-triangle-prev.svg'); }
}
