$salon-green: #a2b982;
$salon-red:   #ed1944;
$salon-blue:  #007db6;

$brand-primary: $salon-blue !default;
$brand-success: #86bc2a !default;
$brand-info:    lighten($salon-blue, 25%) !default;
$brand-warning: #ffa538 !default;
$brand-danger:  $salon-red !default;

@import "themes/material";

/*
 * Overrides to the material theme
 */

#main-nav .mega-dropdown-menu {
  position: fixed;
  top: 70px;

  ul.row {
    display: block;
    padding: 40px;
    column-count: 5;
    column-gap: $grid-gutter-width;
    column-rule: 1px solid $table-border-color;

    @media (max-width: $screen-md-max) {
      column-count: 4;
    }

    > li {
      width: auto;
      float: none;
      break-inside: avoid;
      margin-bottom: 4em;
      padding: 0;
      border: none;

      > a {
        border: none;
        color: inherit;
        font-weight: bolder;

        .page-image {
          max-width: 120px;
          margin: 5px auto;
        }
        .page-title {
          padding: 0.33333em 0;
          font-size: $font-size-small;
          text-transform: uppercase;
        }
        .page-image + .page-title { display: none; }

        &:hover { color: $brand-primary; }
      }

      ul .page-title {
        padding-left: 0;
        &:before { content: none; }
      }
    }
  }
}

/* Product card */
.product-grid .premium-price,
.product-list .premium-price,
.product-card .premium-price {
  font-size: $font-size-small;
  color: $text-muted;
}

.product-grid .straight-grid .product {
  transform: translate3d(0, 0, 0);
  transition: box-shadow, transform 200ms $material-easing;

  &:hover {
    border: 0;
    transform: perspective(250px) translate3d(0, -4px, 8px);
    @include shadow-highest;

    &:after { border: 0; }
  }
}

/* Product filtering */
.filter-bar { background-color: rgba($salon-green, 0.2); }

/* Promotions positioned outside the static product-meta */
.product-meta .promotions {
  left: $grid-gutter-width/2;

  .promotion {
    text-align: right;

    .promotion-image { display: inline-block; }
    .promotion-text { display: inline-block; }
    .promotion-image + .promotion-text { display: none; }
  }
}

/* Product footer elements */
.product-footer {
  .swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 90px;
    margin-top: -45px;
    background-size: 100% 100%;
  }
  .swiper-button-next { background-image: asset-url('red-triangle-next.svg'); }
  .swiper-button-prev { background-image: asset-url('red-triangle-prev.svg'); }
}
